Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

Restyle node (#245)
  packages/graph-editor/package.json
  packages/graph-editor/src/components/colorPicker/index.tsx
  packages/graph-editor/src/components/controls/color.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/legend/index.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/index.css
  packages/graph-editor/src/registry/icon.tsx
  packages/nodes-audio/src/ui/index.tsx
  packages/nodes-design-tokens/src/ui/index.tsx
  packages/ui/package.json
  packages/ui/src/components/editor/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix pointer events on handle
  packages/graph-editor/src/css/reactflow.css
  packages/graph-engine/package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

Fix storybook setup
  packages/graph-editor/.storybook/main.js
  packages/graph-editor/package.json
  packages/graph-editor/src/components/panels/dropPanel/story.stories.tsx
  packages/graph-editor/src/components/panels/legend/index.tsx
  packages/graph-editor/src/components/panels/legend/story.stories.tsx
  packages/graph-editor/src/components/panels/output/story.stories.tsx
  packages/graph-editor/src/redux/models/registry.ts
  packages/graph-editor/src/registry/icon.tsx
  packages/graph-editor/vite.config.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add rail
  packages/ui/src/components/next/layout/page.tsx
  packages/ui/src/components/rail.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

style graph editor
  packages/graph-editor/src/components/menubar/menubar.css
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/components/panels/legend/index.tsx
  packages/graph-editor/src/components/panels/output/index.tsx
  packages/graph-editor/src/components/panels/play/index.tsx
  packages/graph-editor/src/components/panels/settings/index.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/ui/src/components/rail.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/styles/styles.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

update node style to have more contrast
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add exp and sqrt node
  packages/graph-engine/src/nodes/math/exp.ts
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/nodes/math/sqrt.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: freeze extract-colors version to 4.0.2 because their 4.0.3 is broken
  packages/graph-engine/package.json
Due: npx prettier-package-json --write package.json

Add initial scaffold for backend
  packages/backend/.dockerignore
  packages/backend/.env
  packages/backend/.eslintignore
  packages/backend/.eslintrc.cjs
  packages/backend/.prettierignore
  packages/backend/CHANGELOG.md
  packages/backend/LICENCE
  packages/backend/jest.config.ts
  packages/backend/package.json
  packages/backend/prisma/migrations/20240422215853_init/migration.sql
  packages/backend/prisma/migrations/migration_lock.toml
  packages/backend/prisma/schema.prisma
  packages/backend/readme.md
  packages/backend/scripts/loader.js
  packages/backend/src/app.ts
  packages/backend/src/controllers/graph.controller.ts
  packages/backend/src/index.ts
  packages/backend/src/models/graph.ts
  packages/backend/tsconfig.json
  packages/backend/tsconfig.prod.json
  packages/backend/tsconfig.test.json
  packages/backend/tsoa.json
  packages/backend/typedoc.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

change icon for type any
  packages/graph-editor/src/registry/icon.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

mute down handle background
  packages/graph-editor/src/css/reactflow.css
Due: none

fix transparent background on panels
  packages/ui/src/styles/styles.css
Due: none

Fix graph loading
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/redux/models/graph.ts
  packages/graph-editor/src/redux/selectors/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Swap ui to use scss and remove unnecessary styling
  packages/ui/src/styles/styles.css
  packages/ui/src/styles/styles.scss
Due: none

Add scss support for Marco and fix non .js imports
  packages/graph-editor/.storybook/preview.tsx
  packages/graph-editor/package.json
  packages/graph-editor/src/components/NodeHoverCard.tsx
  packages/graph-editor/src/components/colorPicker/InputPopover.tsx
  packages/graph-editor/src/components/controls/tokenArray.tsx
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/nodes/groupNode.tsx
  packages/graph-editor/src/components/flow/toolbar/selectedNodesToolbar.tsx
  packages/graph-editor/src/components/flow/utils.ts
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/panels/settings/index.tsx
  packages/graph-editor/src/components/slider/index.tsx
  packages/graph-editor/src/components/tokenPreview/color.tsx
  packages/graph-editor/src/editor/actions/handleDrop.tsx
  packages/graph-editor/src/editor/hooks/hotkeys.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/index.scss
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/lib/stitches/index.ts
  packages/graph-editor/src/lib/stitches/stitches.config.ts
  packages/graph-editor/src/redux/selectors/graph.ts
  packages/graph-editor/src/redux/selectors/refs.ts
  packages/graph-editor/src/redux/selectors/registry.ts
  packages/graph-editor/src/redux/selectors/roots.ts
  packages/graph-editor/src/redux/selectors/settings.ts
  packages/graph-editor/src/redux/selectors/ui.ts
  packages/graph-editor/src/utils/tokenFiles.ts
  packages/graph-editor/tsup.config.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix reference to styles.css to .scss
  packages/ui/src/pages/_app.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add example of barebones implementation of the graph-editor
  packages/graph-editor/examples/barebones/index.css
  packages/graph-editor/examples/barebones/index.html
  packages/graph-editor/examples/barebones/initialLayout.json
  packages/graph-editor/examples/barebones/main.tsx
  packages/graph-editor/examples/barebones/package.json
  packages/graph-editor/examples/barebones/readme.md
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/css/rc-dock.css
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Cleanup file
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issue with zustand not being the same
  packages/graph-editor/package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

Extend color ranges and fix colors showing up correctly in port previews
  packages/graph-editor/src/components/colorPicker/index.tsx
  packages/graph-editor/src/components/controls/color.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-engine/src/nodes/color/create.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove console log during graph serialization
  packages/graph-engine/src/graph/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update backend to use prisma, add in DI, setup ory kratos connection
  packages/backend/.env
  packages/backend/.gitignore
  packages/backend/nodemon.json
  packages/backend/package.json
  packages/backend/prisma/dev.db
  packages/backend/prisma/migrations/20240422215853_init/migration.sql
  packages/backend/prisma/migrations/20240424211557_init/migration.sql
  packages/backend/prisma/migrations/migration_lock.toml
  packages/backend/prisma/schema.prisma
  packages/backend/readme.md
  packages/backend/src/app.ts
  packages/backend/src/controllers/graph.controller.ts
  packages/backend/src/db/index.ts
  packages/backend/src/declarations.d.ts
  packages/backend/src/errors/auth.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/index.ts
  packages/backend/src/interfaces/authenticatedRequest.ts
  packages/backend/src/inversify.d.ts
  packages/backend/src/ioc.ts
  packages/backend/src/middleware/authentication.ts
  packages/backend/src/middleware/error.ts
  packages/backend/src/models/graph.ts
  packages/backend/src/utils/logging.ts
  packages/backend/src/utils/singleton.ts
  packages/backend/tsconfig.json
  packages/backend/tsoa.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add oathkeeper and kratos setup
  packages/ui/data/kratos/kratos.yml
  packages/ui/data/oathkeeper/access-rules.yml
  packages/ui/data/oathkeeper/id_token.jwks.json
  packages/ui/data/oathkeeper/oathkeeper.yml
  packages/ui/docker-compose.yaml
Due: none

Add next link for rail
  packages/ui/src/components/rail.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove drag initiator styling
  packages/ui/src/styles/styles.scss
Due: none

Add generated SDK
  packages/sdk/.eslintignore
  packages/sdk/.eslintrc.cjs
  packages/sdk/.prettierignore
  packages/sdk/LICENCE
  packages/sdk/package.json
  packages/sdk/readme.md
  packages/sdk/rollup.config.mjs
  packages/sdk/scripts/generate.ts
  packages/sdk/src/core/ApiError.ts
  packages/sdk/src/core/ApiRequestOptions.ts
  packages/sdk/src/core/ApiResult.ts
  packages/sdk/src/core/CancelablePromise.ts
  packages/sdk/src/core/OpenAPI.ts
  packages/sdk/src/core/request.ts
  packages/sdk/src/index.ts
  packages/sdk/src/schemas.gen.ts
  packages/sdk/src/services.gen.ts
  packages/sdk/src/types.gen.ts
  packages/sdk/tsconfig.docs.json
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  packages/sdk/typedoc.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update backend package
  packages/backend/.env
  packages/backend/package.json
  packages/backend/prisma/dev.db
  packages/backend/src/app.ts
  packages/backend/src/controllers/graph.controller.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/index.ts
  packages/backend/src/ioc.ts
  packages/backend/src/middleware/authentication.ts
  packages/backend/src/middleware/error.ts
  packages/backend/src/tracing.ts
  packages/backend/tsoa.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Remove copied changelog
  packages/backend/CHANGELOG.md
Due: prettier --write

Get backend docker build working
  .dockerignore
  dockercompose.yaml
  package.json
  packages/backend/.dockerignore
  packages/backend/dockerfile
  packages/backend/package.json
  packages/backend/scripts/loader.js
  packages/backend/src/app.ts
  packages/backend/src/controllers/graph.controller.ts
  packages/backend/src/interfaces/authenticatedRequest.ts
  packages/backend/src/middleware/authentication.ts
  packages/backend/tsup.config.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Move docker resources and add a readme entry for running the docker compose
  data/kratos/identity.schema.json
  data/kratos/kratos.yml
  data/oathkeeper/access-rules.yml
  data/oathkeeper/id_token.jwks.json
  data/oathkeeper/oathkeeper.yml
  docker-compose.debugging.yaml
  docker-compose.yaml
  dockercompose.build.yaml
  package.json
  packages/backend/src/generated/swagger.json
  readme.md
Due: prettier --write, npx prettier-package-json --write package.json

Remove all icon packages except for iconoir
  packages/graph-editor/examples/barebones/main.tsx
  packages/graph-editor/package.json
  packages/graph-editor/src/components/breadcrumb/index.tsx
  packages/graph-editor/src/components/colorPicker/InputPopover.tsx
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/panels/dropPanel/data.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/components/panels/logs/index.tsx
  packages/graph-editor/src/components/panels/output/index.tsx
  packages/graph-editor/src/components/panels/play/index.tsx
  packages/graph-editor/src/components/panels/settings/index.tsx
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/editor/hooks/useAutolayout.ts
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/layouts/elk.tsx
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-editor/src/registry/specifics.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Remove import assertion for importing json. We assume this is unnecessary
  packages/graph-engine/src/nodes/css/cssFunction.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove DB, we will assume migration as needed
  packages/backend/prisma/dev.db
Due: none

Replace graphlib with later version
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

Ignore users local db
  packages/backend/.gitignore
Due: none

Move docker compose env to root
  .env
Due: none

Graphlib replace
  packages/graph-editor/examples/barebones/main.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/hooks/useIsValidConnection.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Optimize icon usage
  packages/ui/.env
  packages/ui/next.config.mjs
  packages/ui/package.json
  packages/ui/src/components/EmptyStateEditor.tsx
  packages/ui/src/components/ExamplesPicker.tsx
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/editor/data.ts
  packages/ui/src/components/editor/menu.tsx
  packages/ui/src/components/panels/fs.tsx
  packages/ui/src/components/panels/permutator.tsx
  packages/ui/src/components/panels/remoteStorage.tsx
  packages/ui/src/declarations.d.ts
  packages/ui/src/pages/executions.tsx
  packages/ui/src/pages/settings.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add initial controllers
  data/oathkeeper/oathkeeper.yml
  packages/backend/generated/routes.ts
  packages/backend/generated/swagger.json
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/controllers/credentials.controller.ts
  packages/backend/src/controllers/executions.controller.ts
  packages/backend/src/controllers/graph.controller.ts
  packages/backend/src/controllers/models/graph.ts
  packages/backend/src/controllers/models/page.ts
  packages/backend/tsoa.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json
