Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

restyle node
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/index.css
  packages/ui/package.json
  packages/ui/src/components/editor/data.ts
  packages/ui/src/components/editor/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Cleanup not selecting the correct graph on tab transition
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/editor/actions/duplicate.ts
  packages/graph-editor/src/hooks/useIsValidConnection.ts
  packages/graph-editor/src/redux/models/graph.ts
  packages/graph-editor/src/redux/selectors/graph.ts
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/annotations/index.ts
  packages/graph-engine/src/nodes/generic/arraySubgraph.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup UI and fix deserialization of edges
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/ui/src/components/ExamplesPicker.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/data/examples/audio.json
  packages/ui/src/data/examples/basic.json
  packages/ui/src/data/examples/card.json
  packages/ui/src/data/examples/contrast.json
  packages/ui/src/data/examples/examples.tsx
  packages/ui/src/data/examples/scale.json
  packages/ui/src/data/json/core.json
  packages/ui/src/data/preset.ts
  packages/ui/src/data/presetDark.ts
  packages/ui/src/data/presetLight.ts
  packages/ui/src/data/tiny/core.ts
  packages/ui/src/data/tiny/dark.ts
  packages/ui/src/data/tiny/light.ts
  packages/ui/src/examples/examples.tsx
  packages/ui/src/redux/models/graphs.ts
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
  packages/ui/src/redux/store.tsx
  packages/ui/src/utils/tokenFiles.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Additional UI cleanup
  packages/ui/package.json
  packages/ui/src/components/journeys/basic.tsx
  packages/ui/src/components/next/layout/page.tsx
  packages/ui/src/data/examples/card.json
  packages/ui/src/data/examples/contrast.json
  packages/ui/src/data/examples/scale.json
  packages/ui/src/pages/index.tsx
  packages/ui/src/service/refs.ts
  packages/ui/src/types/index.ts
  packages/ui/src/utils/index.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix padding on settings
  packages/graph-editor/src/components/panels/settings/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Minor update on documentation
  developer-documentation/creating-a-node.md
  developer-documentation/resolution.md
Due: prettier --write

Cleanup on styles
  packages/ui/src/pages/_app.tsx
  packages/ui/src/styles/styles.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix nodenext resolution
  packages/ui/tsconfig.json
Due: none

Cleanup ts config
  .eslintignore
  packages/graph-editor/tsconfig.json
  packages/graph-engine/tsconfig.json
  packages/ui/tsconfig.json
Due: none

Cleanup ts import for consistency
  packages/graph-editor/src/components/flow/handles.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Replace all .ts? imports
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/dropPanel/data.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/hooks/useDispatch.ts
  packages/graph-editor/src/hooks/useGraph.ts
  packages/graph-editor/src/redux/index.tsx
  packages/graph-editor/src/redux/models/graph.ts
  packages/graph-editor/src/redux/models/index.ts
  packages/graph-editor/src/redux/models/refs.ts
  packages/graph-editor/src/redux/models/registry.ts
  packages/graph-editor/src/redux/models/root.ts
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/redux/models/ui.ts
  packages/graph-editor/src/redux/store.tsx
  packages/graph-editor/src/types/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issue with typing
  developer-documentation/creating-a-node.md
  packages/graph-engine/src/nodes/css/map.ts
  packages/graph-engine/src/nodes/generic/inline.ts
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/src/nodes/generic/objectify.ts
  packages/graph-engine/src/nodes/generic/output.ts
  packages/graph-engine/src/nodes/logic/switch.ts
  packages/graph-engine/src/nodes/math/eval.ts
  packages/nodes-audio/src/nodes/gain.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add assets for apple touch startup
  packages/ui/src/assets/startup/apple-touch-startup-image-1536x2008.png
  packages/ui/src/assets/startup/apple-touch-startup-image-768x1004.png
Due: none

Add initial k8s for mailcatcher for local dev
  k8s/charts/mailcatcher/Chart.yaml
  k8s/charts/mailcatcher/templates/_helpers.tpl
  k8s/charts/mailcatcher/templates/deployment.yaml
  k8s/charts/mailcatcher/templates/ingress.yaml
  k8s/charts/mailcatcher/templates/service.yaml
  k8s/charts/mailcatcher/values.yaml
  skaffold.yaml
Due: none

Add docker-compose for open telemetry for nextjs
  packages/ui/docker-compose.yaml
Due: none

Cleanup styles
  packages/ui/src/styles/Home.module.css
  packages/ui/src/styles/editor.module.scss
  packages/ui/src/styles/globals.css
  packages/ui/src/styles/styles.css
Due: none

Add postgres for persistence
  k8s/values/postgresql/values.yaml
  skaffold.yaml
Due: none

Fix circular import
  packages/nodes-design-tokens/src/nodes/create.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix menu Item boolean value issue
  packages/graph-editor/src/components/menubar/menuItem.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove console log
  packages/graph-editor/src/components/panels/inputs/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add prometheus and otel config
  packages/ui/otel-collector-config.yaml
  packages/ui/prometheus.yaml
Due: none

Set default to be darktheme
  packages/graph-editor/src/lib/stitches/stitches.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup menubar rest render spread
  packages/graph-editor/src/components/menubar/defaults.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Move controls for token arrays to the token package
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/registry/control.tsx
  packages/nodes-design-tokens/package.json
  packages/nodes-design-tokens/src/ui/controls/index.tsx
  packages/nodes-design-tokens/src/ui/controls/preview/color.tsx
  packages/nodes-design-tokens/src/ui/controls/tokenSet.tsx
  packages/nodes-design-tokens/src/ui/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Cleanup old redux models
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/output.tsx
  packages/ui/src/redux/models/root.ts
  packages/ui/src/redux/selectors/graph.ts
  packages/ui/src/redux/selectors/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove global css usage
  packages/ui/src/pages/_document.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Set darktheme to be the default and remove global css usage
  packages/ui/src/lib/stitches/stitches.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove old output providers from preview. They will need to be reworked to handle routing the data
  packages/ui/src/components/preview/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add support for client side storage providers
  packages/ui/src/lib/storage/providers/base.ts
  packages/ui/src/lib/storage/providers/git.ts
  packages/ui/src/lib/storage/providers/github.ts
  packages/ui/src/lib/storage/providers/types.ts
  packages/ui/src/lib/storage/utils.ts
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/root.ts
  packages/ui/src/redux/models/storage.ts
  packages/ui/src/redux/selectors/storage.ts
  packages/ui/src/redux/store.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add mailcatcher and postgres to docker-compose
  packages/ui/.env
  packages/ui/.gitignore
  packages/ui/docker-compose.yaml
Due: none

Add otel instrumentation
  packages/ui/src/instrumentation.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update packge for otel
  packages/ui/next.config.mjs
  packages/ui/package.json
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/panels/codeEditor.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/tsconfig.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Setup ory kratos, replace mailcatcher with mailslurper
  k8s/charts/mailcatcher/Chart.yaml
  k8s/charts/mailslurper/Chart.yaml
  k8s/charts/mailslurper/templates/_helpers.tpl
  k8s/charts/mailslurper/templates/deployment.yaml
  k8s/charts/mailslurper/templates/ingress.yaml
  k8s/charts/mailslurper/templates/service.yaml
  k8s/charts/mailslurper/values.yaml
  k8s/values/kratos/values.yaml
  k8s/values/postgresql/values.yaml
  packages/ui/.gitignore
  packages/ui/data/kratos/identity.schema.json
  packages/ui/data/kratos/kratos.yml
  packages/ui/docker-compose.yaml
  skaffold.yaml
Due: none

Add tracing for debugging
  packages/ui/docker-compose.yaml
Due: none

restyle node
  packages/graph-editor/src/components/colorPicker/index.tsx
  packages/graph-editor/src/components/controls/color.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/legend/index.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/registry/icon.tsx
  packages/nodes-audio/src/ui/index.tsx
  packages/nodes-design-tokens/src/ui/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove unused background
  packages/graph-editor/src/components/colorPicker/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove unused background
  packages/graph-editor/src/components/controls/color.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove string from import
  packages/ui/src/components/editor/data.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
