Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix alignment and spacing between items
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix menu tooltips
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix output for fluid node
  packages/graph-editor/src/components/flow/nodes/math/fluidNode.tsx
  packages/graph-engine/src/nodes/math/fluid.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix output for distance node
  packages/graph-editor/src/components/flow/nodes/color/colorDistanceNode.tsx
  packages/graph-engine/src/nodes/color/distance.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix output for base font size node
  packages/graph-editor/src/components/flow/nodes/accessibility/baseFontSizeNode.tsx
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove transform from handles in switch node
  packages/graph-editor/src/components/flow/handles.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add new variant for caseSenstive text handles
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/nodes/logic/switchNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix interaction
  .changeset/grumpy-flies-tan.md
  packages/graph-editor/src/components/flow/nodes/generic/portalNode.tsx
  packages/ui/package.json
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/components/preview/scope.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/providers/preview.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix alignment and spacing between items (#104)
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix menu tooltips (#105)
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix switch handles (#107)
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/nodes/accessibility/baseFontSizeNode.tsx
  packages/graph-editor/src/components/flow/nodes/color/colorDistanceNode.tsx
  packages/graph-editor/src/components/flow/nodes/logic/switchNode.tsx
  packages/graph-editor/src/components/flow/nodes/math/fluidNode.tsx
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
  packages/graph-engine/src/nodes/color/distance.ts
  packages/graph-engine/src/nodes/math/fluid.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Bump release (#108)
  .changeset/brown-forks-heal.md
  .changeset/grumpy-flies-tan.md
  packages/graph-editor/src/components/flow/nodes/generic/portalNode.tsx
  packages/ui/package.json
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/components/preview/scope.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/providers/preview.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Minor cleanup deps
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/flow/nodes/logic/switchNode.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
  packages/graph-engine/src/nodes/color/distance.ts
  packages/ui/package.json
  packages/ui/src/pages/_app.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add changeset
  .changeset/happy-lies-warn.md
Due: prettier --write

add basic support for node hover cards
  packages/graph-editor/package.json
  packages/graph-editor/src/components/NodeHoverCard.tsx
  packages/graph-editor/src/components/flow/DropPanel/DragItem.tsx
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

updated extract colors version to support running on node ESM environment
  packages/graph-engine/package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

added changeset
  .changeset/four-lamps-talk.md
Due: prettier --write

add preview to shift k
  packages/graph-editor/src/components/CommandPalette.tsx
  packages/graph-editor/src/components/NodeHoverCard.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/index.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjust resize and collapse function of preview
  packages/graph-editor/src/editor/index.tsx
  packages/ui/src/components/Preview.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjust max height
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/preview/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

update style
  packages/graph-editor/src/components/CommandPalette.tsx
  packages/graph-editor/src/index.css
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

adds example picker
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/ui/src/components/EmptyStateEditor.tsx
  packages/ui/src/components/ExamplesPicker.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/examples/scale.json
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixes preview code changes not saved back
  packages/ui/src/components/Preview.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Create tall-actors-love.md
  .changeset/tall-actors-love.md
Due: prettier --write

Create loud-kiwis-search.md
  .changeset/loud-kiwis-search.md
Due: prettier --write

Create serious-pets-marry.md
  .changeset/serious-pets-marry.md
Due: prettier --write

Create nervous-pillows-pay.md
  .changeset/nervous-pillows-pay.md
Due: prettier --write

lint
  packages/graph-editor/src/components/CommandPalette.tsx
  packages/graph-editor/src/components/NodeHoverCard.tsx
  packages/graph-editor/src/components/flow/DropPanel/DragItem.tsx
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

clear arrows from markerEnds
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/tests/data/raw/basic.json
  packages/graph-engine/tests/data/raw/inputDisconnected.json
  packages/graph-engine/tests/data/raw/noInput.json
  packages/graph-engine/tests/data/raw/outputObject.json
  packages/graph-engine/tests/data/raw/tokenSetInput.json
  packages/graph-engine/tests/data/raw/typescale.json
  packages/ui/src/examples/scale.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/swift-lobsters-change.md
Due: prettier --write

changes default preview to contain easy to get started hints
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/components/preview/scope.tsx
  packages/ui/src/pages/styles.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/wicked-ladybugs-fetch.md
Due: prettier --write

moves settings to menu
  packages/graph-editor/src/components/Settings.tsx
  packages/graph-editor/src/components/flow/controls.tsx
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset, lint
  .changeset/strong-zoos-begin.md
  packages/graph-editor/src/components/flow/controls.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update PanelItems.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add support for curves in color scale, introduce basic bezier curve components
  packages/graph-editor/package.json
  packages/graph-editor/src/components/BezierCurveEditor.tsx
  packages/graph-editor/src/components/InputPopover.tsx
  packages/graph-editor/src/components/flow/nodes/color/scaleNode.tsx
  packages/graph-editor/src/components/icons/BezierIcon.tsx
  packages/graph-editor/src/index.css
  packages/graph-engine/src/nodes/color/scale.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

polishes error states
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/index.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/dirty-houses-eat.md
Due: prettier --write

introduce basic sidesheet
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/Sidesheet.tsx
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
