Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

prevent delete when annotation is present (#281)
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/hooks/useCanDeleteNode.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix inputs which are any type to be overridden with new values. Fix typing with the array subgraph Allow creating array input types
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/inputs/dynamicInputs.tsx
  packages/graph-editor/src/hooks/useIsValidConnection.ts
  packages/graph-engine/.eslintrc.cjs
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/programmatic/input.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix inputs which are any type to be overridden with new values. (#282)
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/inputs/dynamicInputs.tsx
  packages/graph-editor/src/hooks/useIsValidConnection.ts
  packages/graph-engine/.eslintrc.cjs
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/programmatic/input.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add colors to legend
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/index.scss
  packages/graph-editor/src/tokens/colors.ts
  packages/ui/src/styles/styles.scss
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add colors to legend (#283)
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/index.scss
  packages/graph-editor/src/tokens/colors.ts
  packages/ui/src/styles/styles.scss
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Expose additional vars in the array map and add the ability to convert to a token set
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/components/panels/inputs/dynamicInputs.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/nodes-design-tokens/src/nodes/arrayToSet.ts
  packages/nodes-design-tokens/src/nodes/extractSingleToken.ts
  packages/nodes-design-tokens/src/nodes/index.ts
  packages/nodes-design-tokens/src/nodes/setToArray.ts
  packages/nodes-design-tokens/src/ui/controls/tokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Feat/token sets (#284)
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/nodes-design-tokens/src/nodes/arrayToSet.ts
  packages/nodes-design-tokens/src/nodes/extractSingleToken.ts
  packages/nodes-design-tokens/src/nodes/index.ts
  packages/nodes-design-tokens/src/nodes/setToArray.ts
  packages/nodes-design-tokens/src/ui/controls/tokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix command palette messing up positions
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/components/commandPalette/story.stories.tsx
  packages/graph-editor/src/editor/graph.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix contrasting alpha import
  packages/graph-editor/src/components/contextMenus/paneContextMenu.tsx
  packages/graph-engine/src/nodes/color/contrastingAlpha.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add markdown support
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/nodes/noteNode.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Change objectmerge and flatten to not be variadic
  packages/graph-editor/src/css/reactflow.css
  packages/graph-engine/src/nodes/generic/objectMerge.ts
  packages/nodes-design-tokens/src/nodes/flatten.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: input bug
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/src/nodes/generic/output.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove console logs
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix/command k (#287)
  packages/graph-editor/package.json
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/components/commandPalette/story.stories.tsx
  packages/graph-editor/src/components/contextMenus/paneContextMenu.tsx
  packages/graph-editor/src/components/flow/nodes/noteNode.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/color/contrastingAlpha.ts
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/src/nodes/generic/objectMerge.ts
  packages/graph-engine/src/nodes/generic/output.ts
  packages/nodes-design-tokens/src/nodes/flatten.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix pos reference
  packages/graph-editor/src/editor/actions/duplicate.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

spread annotations
  packages/graph-editor/src/editor/actions/duplicate.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix color wheel calculation
  packages/graph-engine/src/nodes/color/wheel.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/mighty-dancers-attack.md
Due: prettier --write

Add default value and show precision port on round node
  .changeset/brave-kids-sit.md
  packages/graph-engine/src/nodes/math/round.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix color wheel (#300)
  .changeset/mighty-dancers-attack.md
  packages/graph-engine/src/nodes/color/wheel.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix position reference (#298)
  packages/graph-editor/src/editor/actions/duplicate.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix type on contrasting alpha
  .changeset/short-days-sparkle.md
  packages/graph-engine/src/nodes/color/contrastingAlpha.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix can delete. Fix issues with variadic passing through type for any array. Prep for the major overhaul Add back in examples
  .changeset/major-major-major.md
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/hooks/useCanDeleteNode.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/logic/compare.ts
  packages/ui/src/components/EmptyStateEditor.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/data/examples/audio.json
  packages/ui/src/data/examples/basic.json
  packages/ui/src/data/examples/colorCurves.json
  packages/ui/src/data/examples/colorScale.json
  packages/ui/src/data/examples/dynamicNaming.json
  packages/ui/src/data/examples/dynamicValidation.json
  packages/ui/src/data/examples/examples.tsx
  packages/ui/src/data/examples/typescale.json
  packages/ui/src/hooks/useGetEditor.ts
  packages/ui/src/mobx/index.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/selectors/index.ts
  readme.md
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Setup gimlet for deploys
  .changeset/eleven-snakes-breathe.md
  .changeset/lovely-boxes-knock.md
  .changeset/seven-items-dance.md
  .gimlet/graph-engine-backend.yaml
  .gimlet/graph-engine-docs.yaml
  .gimlet/graph-engine.yaml
Due: prettier --write

Feat/prep master (#303)
  .changeset/eleven-snakes-breathe.md
  .changeset/lovely-boxes-knock.md
  .changeset/major-major-major.md
  .changeset/seven-items-dance.md
  .gimlet/graph-engine-backend.yaml
  .gimlet/graph-engine-docs.yaml
  .gimlet/graph-engine.yaml
  packages/graph-editor/CHANGELOG.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/hooks/useCanDeleteNode.ts
  packages/graph-engine/CHANGELOG.md
  packages/graph-engine/package.json
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/logic/compare.ts
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/ui/src/components/EmptyStateEditor.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/data/examples/audio.json
  packages/ui/src/data/examples/basic.json
  packages/ui/src/data/examples/colorCurves.json
  packages/ui/src/data/examples/colorScale.json
  packages/ui/src/data/examples/dynamicNaming.json
  packages/ui/src/data/examples/dynamicValidation.json
  packages/ui/src/data/examples/examples.tsx
  packages/ui/src/data/examples/typescale.json
  packages/ui/src/hooks/useGetEditor.ts
  packages/ui/src/mobx/index.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/selectors/index.ts
  readme.md
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix enum array. Fix unnecessary docker releases
  .changeset/thick-moose-wave.md
  .github/workflows/docker-release.yml
  .github/workflows/gimlet.yml
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/inputs/dynamicInputs.tsx
  packages/migrations/src/migrations/types.ts
  packages/migrations/src/utils.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix enum array. (#306)
  .changeset/thick-moose-wave.md
  .github/workflows/docker-release.yml
  .github/workflows/gimlet.yml
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/inputs/dynamicInputs.tsx
  packages/migrations/src/migrations/types.ts
  packages/migrations/src/utils.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add boundary component
  packages/graph-editor/package.json
  packages/graph-editor/src/components/ErrorBoundaryContent.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/registry/specifics.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add changeset
  .changeset/angry-dolls-call.md
Due: prettier --write

Fix default import
  packages/graph-editor/src/registry/inputControls.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/dry-donkeys-cheer.md
Due: prettier --write

Add error boundary component (#315)
  .changeset/angry-dolls-call.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/ErrorBoundaryContent.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/registry/specifics.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix selection
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/actions/createNode.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/hooks/useSelectAddedNodes.tsx
  packages/graph-editor/src/hooks/useSetCurrentNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/mighty-donuts-wait.md
Due: prettier --write

fix build
  packages/graph-editor/src/components/commandPalette/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix error
  packages/graph-editor/src/components/commandPalette/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
