Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

add mix-blend-mode to css map
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/strong-chicken-serve.md
Due: prettier --write

add more css props (#160)
  .changeset/strong-chicken-serve.md
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix lint
  package.json
  packages/documentation/.prettierrc
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/graph-editor/.prettierrc
  packages/graph-editor/package.json
  packages/graph-engine/package.json
  packages/migrations/package.json
  packages/ui/.prettierrc
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

adds supabase sync
  packages/ui/package.json
  packages/ui/src/components/ExamplesPicker.tsx
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/ShareDialog.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/components/preview/scope.tsx
  packages/ui/src/hooks/useGetEditor.ts
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add elkjs library
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

Add changeset
  .changeset/young-sloths-juggle.md
Due: prettier --write

set a default value for color
  packages/graph-engine/src/nodes/accessibility/contrast.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

changeset
  .changeset/tidy-kings-cheer.md
Due: prettier --write

change to defaults from if statement
  packages/graph-engine/src/nodes/accessibility/contrast.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Bugfix contrast node (#167)
  .changeset/tidy-kings-cheer.md
  packages/graph-engine/src/nodes/accessibility/contrast.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix subtraction
  .changeset/calm-rice-invent.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/string/stringify.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-engine/src/nodes/math/subtract.ts
  packages/graph-engine/src/nodes/string/index.ts
  packages/graph-engine/src/nodes/string/stringify.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix subtraction (#169)
  .changeset/calm-rice-invent.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/string/stringify.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-engine/src/nodes/math/subtract.ts
  packages/graph-engine/src/nodes/string/index.ts
  packages/graph-engine/src/nodes/string/stringify.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Bump patch
  .changeset/purple-dragons-camp.md
Due: prettier --write

Bump patch (#171)
  .changeset/purple-dragons-camp.md
Due: prettier --write

add precision to series
  packages/graph-editor/src/components/flow/nodes/series/arithmeticNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/geometricNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/harmonicNode.tsx
  packages/graph-engine/src/nodes/series/arithmetic.ts
  packages/graph-engine/src/nodes/series/geometric.ts
  packages/graph-engine/src/nodes/series/harmonic.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/tricky-hairs-burn.md
Due: prettier --write

add test cases for arithemtic series and precision
  packages/graph-engine/tests/suites/nodes/series/arithmetic.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

set default precision to 2
  packages/graph-engine/src/nodes/series/arithmetic.ts
  packages/graph-engine/src/nodes/series/geometric.ts
  packages/graph-engine/src/nodes/series/harmonic.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add border image to css map
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/cold-garlics-flow.md
Due: prettier --write

add css clip-path
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/hungry-dolls-jog.md
Due: prettier --write

streamline series nodes
  packages/graph-editor/src/components/flow/nodes/series/arithmeticNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/geometricNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/harmonicNode.tsx
  packages/graph-engine/src/nodes/series/arithmetic.ts
  packages/graph-engine/src/nodes/series/geometric.ts
  packages/graph-engine/src/nodes/series/harmonic.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/thirty-crabs-rule.md
Due: prettier --write

update test case
  packages/graph-engine/tests/suites/nodes/series/arithmetic.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add array pass unit node
  .changeset/smart-maps-nail.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/array/passUnit.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/passUnit.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format changes
  packages/graph-editor/src/components/flow/nodes/series/arithmeticNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/geometricNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/harmonicNode.tsx
  packages/graph-engine/src/nodes/accessibility/contrast.ts
  packages/graph-engine/src/nodes/color/nearest.ts
  packages/graph-engine/src/nodes/series/arithmetic.ts
  packages/graph-engine/src/nodes/series/geometric.ts
  packages/graph-engine/src/nodes/series/harmonic.ts
  packages/graph-engine/tests/suites/nodes/series/arithmetic.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format files
  packages/graph-editor/src/components/flow/nodes/array/passUnit.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/passUnit.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove console.log
  packages/graph-engine/src/nodes/array/passUnit.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add border-image and clip-path to css map node (#174)
  .changeset/cold-garlics-flow.md
  .changeset/hungry-dolls-jog.md
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add array pass unit node (#175)
  .changeset/smart-maps-nail.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/array/passUnit.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/passUnit.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix contrasting from set output
  .changeset/tricky-elephants-scream.md
  packages/graph-editor/src/components/flow/nodes/color/contrastingFromSetNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix contrasting from array node
  .changeset/smooth-bulldogs-invent.md
  packages/graph-editor/src/components/flow/nodes/color/contrastingFromSetNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

env
  .gitignore
  packages/ui/src/components/editorMenu/ShareDialog.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

extract functions and presort colors
  .changeset/brave-planets-brush.md
  packages/graph-engine/src/nodes/color/contrastingFromSet.ts
  packages/graph-engine/src/nodes/color/nearest.ts
  packages/graph-engine/src/utils/compareFunctions.ts
  packages/graph-engine/src/utils/sortTokens.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove console.log
  packages/graph-engine/src/nodes/color/contrastingFromSet.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix remap node
  .changeset/odd-eagles-attend.md
  packages/graph-editor/src/components/flow/nodes/sets/remapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix code editor state updates
  .changeset/grumpy-seahorses-float.md
  packages/ui/src/components/ExamplesPicker.tsx
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/components/preview/scope.tsx
  packages/ui/src/hooks/useGetEditor.ts
  packages/ui/src/pages/index.tsx
  packages/ui/src/providers/preview.tsx
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
