Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

Rename
  packages/graph-editor/src/components/panels/index.tsx
  packages/graph-editor/src/components/panels/navigation/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/layout.tsx
  packages/graph-editor/src/components/toolbar/layoutButtons.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Hacky work-around for circular dependency
  packages/graph-editor/src/editor/graphEditor.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

feat: upgrade internal deps, ui, tokens, types
  .changeset/perfect-schools-travel.md
  packages/graph-editor/package.json
  packages/graph-editor/src/data/version.ts
  packages/graph-engine/package.json
  packages/graph-engine/src/utils/index.ts
  packages/nodes-design-tokens/package.json
  packages/nodes-figma/package.json
  packages/nodes-figma/src/utils/tokenMerge.ts
  packages/nodes-fs/package.json
  packages/storybook-react/package.json
  packages/storybook-react/scripts/dev.ts
  packages/ui/package.json
  packages/ui/src/app/layout.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Highlight currently selected graph
  packages/graph-editor/src/components/panels/navigation/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Show root graph
  packages/graph-editor/src/components/panels/navigation/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Depth styling & Pretty title
  packages/graph-editor/src/components/panels/navigation/index.tsx
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/graphEditor.tsx
  packages/graph-editor/src/redux/selectors/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Show node count
  packages/graph-editor/src/components/panels/navigation/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix forgotten file
  packages/graph-editor/src/hooks/useSubgraphExplorerCallback.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix condition
  packages/graph-editor/src/editor/graphEditor.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix ts errors
  packages/graph-editor/src/components/panels/navigation/index.tsx
  packages/graph-editor/src/redux/selectors/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup
  packages/graph-editor/src/hooks/useSubgraphExplorerCallback.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add utils css
  packages/ui/src/app/layout.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add PortSuggestionMenu component
  packages/graph-editor/src/components/flow/portSuggestionMenu.module.css
  packages/graph-editor/src/components/flow/portSuggestionMenu.tsx
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/services/PortRegistry.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix duplicate node generation
  packages/graph-editor/src/components/flow/portSuggestionMenu.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

scope ports
  packages/graph-editor/src/services/PortRegistry.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add search field to suggest
  packages/graph-editor/src/components/flow/portSuggestionMenu.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

basic styling
  packages/graph-editor/src/components/flow/portSuggestionMenu.module.css
  packages/graph-editor/src/components/flow/portSuggestionMenu.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

feat: upgrade internal deps, ui, tokens, types
  .changeset/perfect-schools-travel.md
  packages/graph-editor/package.json
  packages/graph-editor/src/data/version.ts
  packages/graph-engine/package.json
  packages/graph-engine/src/utils/index.ts
  packages/nodes-design-tokens/package.json
  packages/nodes-figma/package.json
  packages/nodes-figma/src/utils/tokenMerge.ts
  packages/nodes-fs/package.json
  packages/nodes-fs/vite.config.mts
  packages/storybook-react/package.json
  packages/storybook-react/scripts/dev.ts
  packages/ui/package.json
  packages/ui/src/app/layout.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

feat: upgrade internal deps, ui, tokens, types (#605)
  .changeset/perfect-schools-travel.md
  packages/graph-editor/package.json
  packages/graph-editor/src/data/version.ts
  packages/graph-engine/package.json
  packages/graph-engine/src/utils/index.ts
  packages/nodes-design-tokens/package.json
  packages/nodes-figma/package.json
  packages/nodes-figma/src/utils/tokenMerge.ts
  packages/nodes-fs/package.json
  packages/nodes-fs/vite.config.mts
  packages/storybook-react/package.json
  packages/storybook-react/scripts/dev.ts
  packages/ui/package.json
  packages/ui/src/app/layout.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Remove unused deps
  packages/documentation/package.json
  packages/documentation/redocly.yaml
  yarn.lock
Due: npx prettier-package-json --write package.json

Simplify caching
  .github/workflows/pr-ci.yml
Due: none

Remove unused deps (#608)
  .github/workflows/pr-ci.yml
  packages/documentation/package.json
  packages/documentation/redocly.yaml
  yarn.lock
Due: npx prettier-package-json --write package.json

add remove node for array operations
  .changeset/tidy-humans-melt.md
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/remove.ts
  packages/graph-engine/tests/suites/nodes/array/remove.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format
  packages/graph-engine/src/nodes/array/remove.ts
  packages/graph-engine/tests/suites/nodes/array/remove.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

make code shorter
  packages/graph-engine/src/nodes/array/remove.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add array group/ungroup nodes
  .changeset/wet-windows-smoke.md
  packages/nodes-design-tokens/src/nodes/arrays/group.ts
  packages/nodes-design-tokens/src/nodes/arrays/index.ts
  packages/nodes-design-tokens/src/nodes/arrays/ungroup.ts
  packages/nodes-design-tokens/src/nodes/index.ts
  packages/nodes-design-tokens/tests/arrays/group.test.ts
  packages/nodes-design-tokens/tests/arrays/ungroup.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add utils.css
  .changeset/fifty-lamps-turn.md
  packages/ui/src/app/layout.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add panel items and format
  packages/graph-editor/examples/defaults/main.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/nodes-previews/readme.md
  packages/nodes-previews/src/index.ts
  packages/nodes-previews/src/nodes/colorScale.ts
  packages/nodes-previews/src/ui/index.tsx
  packages/nodes-previews/src/ui/panels/colorScale.tsx
  packages/nodes-previews/src/ui/specifics/index.tsx
  packages/nodes-previews/src/utils/index.ts
  packages/ui/src/components/editor/data.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editor/nodeTypes.tsx
  packages/ui/src/components/editor/panelItems.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

update ui package
  packages/graph-editor/package.json
  packages/nodes-design-tokens/package.json
  packages/nodes-figma/package.json
  packages/nodes-fs/package.json
  packages/ui/package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

add css modules
  packages/nodes-previews/package.json
  packages/nodes-previews/postcss.config.js
  packages/nodes-previews/src/nodes/color/colorScale.ts
  packages/nodes-previews/src/nodes/index.ts
  packages/nodes-previews/src/types/css.d.ts
  packages/nodes-previews/src/ui/panels/color/colorScale.module.css
  packages/nodes-previews/src/ui/panels/color/colorScale.tsx
  packages/nodes-previews/src/ui/specifics/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

remove concurrently
  packages/nodes-previews/package.json
Due: npx prettier-package-json --write package.json

WIP preview panel
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/index.tsx
  packages/nodes-previews/package.json
  packages/nodes-previews/src/color/scale/node.ts
  packages/nodes-previews/src/color/scale/panel.module.css
  packages/nodes-previews/src/color/scale/panel.tsx
  packages/nodes-previews/src/color/scale/specific.tsx
  packages/nodes-previews/src/color/swatch/node.ts
  packages/nodes-previews/src/color/swatch/panel.module.css
  packages/nodes-previews/src/color/swatch/panel.tsx
  packages/nodes-previews/src/color/swatch/specific.tsx
  packages/nodes-previews/src/index.ts
  packages/nodes-previews/src/nodes/.DS_Store
  packages/nodes-previews/src/nodes/index.ts
  packages/nodes-previews/src/ui/index.tsx
  packages/nodes-previews/vite.config.mts
  packages/ui/src/components/editor/data.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editor/previewItem.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Format
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/redux/index.tsx
  packages/graph-editor/src/redux/models/registry.ts
  packages/graph-editor/src/redux/selectors/registry.ts
  packages/nodes-previews/src/color/scale/specific.tsx
  packages/nodes-previews/src/color/swatch/node.ts
  packages/nodes-previews/src/color/swatch/panel.tsx
  packages/nodes-previews/src/color/swatch/specific.tsx
  packages/nodes-previews/src/index.ts
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editor/panelItems.tsx
  packages/ui/src/components/editor/previewItem.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix specific, add icon
  packages/nodes-previews/src/index.ts
  packages/ui/src/components/editor/previewItem.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add pruning support in the pipeline for CI to aid with speed (#604)
  .changeset/wicked-planes-talk.md
  .github/workflows/pr-ci.yml
  out/.gitkeep
  package.json
  packages/nodes-design-tokens/src/schemas/index.ts
  scripts/diff.js
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add dimension preview, update swatch
  packages/nodes-previews/package.json
  packages/nodes-previews/src/color/swatch/panel.module.css
  packages/nodes-previews/src/color/swatch/panel.tsx
  packages/nodes-previews/src/dimension/scale/node.ts
  packages/nodes-previews/src/dimension/scale/panel.module.css
  packages/nodes-previews/src/dimension/scale/panel.tsx
  packages/nodes-previews/src/dimension/scale/specific.tsx
  packages/nodes-previews/src/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add tokens table
  .changeset/yellow-bugs-tickle.md
  packages/nodes-previews/src/index.ts
  packages/nodes-previews/src/token/table/node.ts
  packages/nodes-previews/src/token/table/panel.module.css
  packages/nodes-previews/src/token/table/panel.tsx
  packages/nodes-previews/src/token/table/specific.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add color palette
  .changeset/many-snakes-grin.md
  packages/nodes-previews/src/index.ts
  packages/nodes-previews/src/token/palette/node.ts
  packages/nodes-previews/src/token/palette/panel.module.css
  packages/nodes-previews/src/token/palette/panel.tsx
  packages/nodes-previews/src/token/palette/specific.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix toolbar issue
  packages/ui/src/components/editor/toolbar.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
