Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

replaced IconoirProvider with div
  packages/graph-editor/src/components/flow/wrapper/base.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/toolbar/toolbar.tsx
  packages/ui/package.json
  packages/vscode-extension/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Index Array node now accepts negative index values
  .changeset/great-clocks-help.md
  packages/graph-engine/src/nodes/array/indexArray.ts
  packages/graph-engine/tests/suites/nodes/array/indexArray.test.ts
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

added back strokes to node edges
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/css/reactflow.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added changeset to node-edge-back-stroke
  .changeset/fair-pears-share.md
Due: prettier --write

removed all IconoirProviders
  packages/graph-editor/package.json
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/vscode-extension/package.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fixes node title not changing
  .changeset/olive-rockets-repeat.md
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

removed unnecessary <div>s
  packages/graph-editor/src/components/flow/wrapper/base.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/toolbar/toolbar.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Revert "fixes node title not changing"
  .changeset/olive-rockets-repeat.md
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add observers
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format and changeset
  .changeset/slow-donuts-look.md
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Merge branch 'replace-iconoir-with-ts-icons'
  packages/ui/src/components/editor/panelItems.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove extraneous observer
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add changeset
  .changeset/eighty-chicken-beg.md
Due: prettier --write

fixes node title not changing (#536)
  .changeset/eighty-chicken-beg.md
  .changeset/slow-donuts-look.md
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

bump version
  packages/ui/package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

style updates and postcss fix
  packages/graph-editor/package.json
  packages/graph-editor/postcss.config.js
  packages/graph-editor/src/components/flow/wrapper/base.module.css
  packages/graph-editor/src/components/flow/wrapper/nodeV2.module.css
  packages/graph-editor/src/components/panels/dropPanel/DragItem.module.css
  packages/graph-editor/src/components/panels/dropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.module.css
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/components/panels/logs/index.tsx
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
  packages/graph-editor/src/components/panels/output/index.tsx
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/components/toolbar/toolbar.module.css
  packages/graph-editor/src/index.tsx
  packages/ui/package.json
  packages/ui/src/app/layout.tsx
  packages/ui/src/components/EmptyStateEditor.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

change eye-solid to eye
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/ui/src/components/editor/panelItems.tsx
  packages/vscode-extension/app/src/data/panelItems.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

change rail, add more styles
  packages/graph-editor/package.json
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
  packages/graph-editor/src/css/rc-dock.css
  packages/graph-editor/src/css/reactflow.css
  packages/ui/src/app/dashboard/clientPage.tsx
  packages/ui/src/app/marketplace/clientPage.tsx
  packages/ui/src/assets/svgs/tokensstudio-logo.svg
  packages/ui/src/components/pages/index.module.css
  packages/ui/src/components/pages/index.tsx
  packages/ui/src/components/rail.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Improved settings panel UI (addresses #538)
  .changeset/nine-seahorses-count.md
  packages/graph-editor/src/components/panels/settings/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed Sort Colors By node not working with Contrast
  .changeset/silver-parrots-turn.md
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/color/lib/sortColors.ts
  packages/graph-engine/src/nodes/color/sortByDistance.ts
  packages/graph-engine/src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

more changes
  packages/graph-editor/.storybook/preview.tsx
  packages/graph-editor/package.json
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/components/debugger/index.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.module.css
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/menubar/menuItem.tsx
  packages/graph-editor/src/components/panels/inputs/dynamicInputs.tsx
  packages/graph-editor/src/components/toolbar/toolbar.module.css
  packages/graph-editor/src/css/base.css
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/index.css
  packages/graph-editor/src/registry/icon.tsx
  packages/graph-editor/src/registry/inputControls.tsx
  packages/ui/package.json
  packages/ui/src/app/layout.tsx
  packages/ui/src/app/marketplace/clientPage.tsx
  packages/ui/src/app/marketplace/graph/[id]/clientPage.tsx
  packages/ui/src/components/editor/panels/aiSummary.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add transforms
  mappings.cjs
  package.json
  transform-css.cjs
  transform.cjs
Due: npx prettier-package-json --write package.json

style handles, fix watcher
  packages/graph-editor/package.json
  packages/graph-editor/src/components/colorPicker/index.module.css
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.module.css
  packages/graph-editor/src/components/toolbar/toolbar.module.css
  packages/graph-editor/src/css/reactflow.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

the commit
  packages/graph-editor/examples/barebones/index.css
  packages/graph-editor/examples/defaults/index.css
  packages/graph-editor/src/components/NodeHoverCard.module.css
  packages/graph-editor/src/components/colorPicker/InputPopover.module.css
  packages/graph-editor/src/components/commandPalette/index.module.css
  packages/graph-editor/src/components/controls/color.module.css
  packages/graph-editor/src/components/controls/variadicColor.module.css
  packages/graph-editor/src/components/curveEditor/override.css
  packages/graph-editor/src/components/flow/handles.module.css
  packages/graph-editor/src/components/flow/wrapper/base.module.css
  packages/graph-editor/src/components/flow/wrapper/nodeV2.module.css
  packages/graph-editor/src/components/menubar/menubar.css
  packages/graph-editor/src/components/slider/index.module.css
  packages/graph-editor/src/css/cmdk.css
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/index.css
  packages/ui/src/components/editor/panels/aiSummary.tsx
  packages/vscode-extension/app/src/index.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format
  packages/graph-editor/.storybook/preview.tsx
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/components/debugger/index.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/menubar/menuItem.tsx
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
  packages/graph-editor/src/registry/icon.tsx
  packages/ui/src/app/dashboard/clientPage.tsx
  packages/ui/src/app/marketplace/clientPage.tsx
  packages/ui/src/app/marketplace/graph/[id]/clientPage.tsx
  packages/ui/src/components/editor/panels/aiSummary.tsx
  packages/ui/src/components/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed linting issues
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed linting issues
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
  packages/ui/src/app/dashboard/clientPage.tsx
  packages/ui/src/components/pages/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed missing type definitions
  packages/graph-editor/src/components/panels/settings/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

style handle
  packages/graph-editor/src/components/colorPicker/index.module.css
  packages/graph-editor/src/components/flow/handles.module.css
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.module.css
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/css/base.css
  packages/graph-editor/src/css/reactflow.css
  packages/ui/src/app/layout.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

updated package lock
  package-lock.json
Due: none

style node header
  packages/graph-editor/src/components/flow/wrapper/base.module.css
Due: none

fix cmdk input
  packages/graph-editor/src/css/cmdk.css
Due: none

colorMode switch
  packages/ui/src/components/rail.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

replaced stitches code with CSS definitions
  packages/ui/src/config/themes.ts
  packages/vscode-extension/app/src/data/theme.ts
  packages/vscode-extension/app/src/index.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

update packages and typography
  packages/graph-editor/package.json
  packages/graph-editor/src/components/ErrorBoundaryContent.tsx
  packages/graph-editor/src/components/flow/wrapper/base.module.css
  packages/graph-editor/src/components/flow/wrapper/nodeV2.module.css
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/dropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/panels/logs/index.tsx
  packages/graph-editor/src/components/preview/colorCompare.tsx
  packages/graph-editor/src/components/preview/colorContrast.tsx
  packages/graph-editor/src/components/preview/colorScale.tsx
  packages/graph-editor/src/components/preview/mathExpression.tsx
  packages/graph-editor/src/components/preview/swatch.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/nodes-design-tokens/src/ui/controls/token.tsx
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

format
  packages/graph-editor/src/components/ErrorBoundaryContent.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/preview/swatch.tsx
  packages/ui/src/app/layout.tsx
  packages/ui/src/components/rail.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixing linting issues
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed more linting issues
  packages/ui/src/app/layout.tsx
  packages/ui/src/components/rail.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issues with testing
  mappings.cjs
  package-lock.json
  packages/nodes-figma/src/nodes/codeSyntax.ts
  packages/nodes-figma/src/nodes/publish.ts
  packages/nodes-figma/src/nodes/scopeAll.ts
  packages/nodes-figma/src/nodes/scopeColor.ts
  packages/nodes-figma/src/nodes/scopeNumber.ts
  packages/nodes-figma/src/nodes/scopeString.ts
  transform-css.cjs
  transform.cjs
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
