Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix (#217)
  .changeset/big-maps-love.md
  packages/graph-editor/package.json
Due: prettier --write, npx prettier-package-json --write package.json

Fix remap node (#183)
  .changeset/odd-eagles-attend.md
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/nodes/sets/remapNode.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: packages/ui/package.json to reduce vulnerabilities (#208)
  packages/ui/package.json
Due: npx prettier-package-json --write package.json

Fix import asserts
  .changeset/violet-spoons-drum.md
  packages/graph-editor/src/components/flow/nodes/array/passUnit.tsx
  packages/graph-editor/src/components/flow/nodes/css/functionNode.tsx
  packages/graph-editor/src/components/flow/nodes/generic/passUnitNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove extraneous changeset
  .changeset/odd-eagles-attend.md
Due: prettier --write

Fix json imports (#218)
  .changeset/violet-spoons-drum.md
  packages/graph-editor/src/components/flow/nodes/array/passUnit.tsx
  packages/graph-editor/src/components/flow/nodes/css/functionNode.tsx
  packages/graph-editor/src/components/flow/nodes/generic/passUnitNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix Node
  .changeset/spotty-hats-remain.md
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/set/resolve.ts
  packages/graph-engine/tests/suites/nodes/sets/resolve.test.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix Node (#220)
  .changeset/spotty-hats-remain.md
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/set/resolve.ts
  packages/graph-engine/tests/suites/nodes/sets/resolve.test.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

stash
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
  packages/graph-engine/src/nodes/accessibility/colorBlindness.ts
  packages/graph-engine/src/nodes/accessibility/contrast.ts
  packages/graph-engine/src/nodes/accessibility/index.ts
  packages/graph-engine/src/nodes/generic/index.ts
  packages/graph-engine/src/nodes/generic/output.ts
  packages/graph-engine/src/nodes/generic/passthrough.ts
  packages/graph-engine/src/nodes/input/constant.ts
  packages/graph-engine/src/nodes/math/abs.ts
  packages/graph-engine/src/nodes/math/add.ts
  packages/graph-engine/src/nodes/math/clamp.ts
  packages/graph-engine/src/nodes/math/common.ts
  packages/graph-engine/src/nodes/math/cos.ts
  packages/graph-engine/src/nodes/math/count.ts
  packages/graph-engine/src/nodes/math/divide.ts
  packages/graph-engine/src/nodes/math/fluid.ts
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/nodes/math/lerp.ts
  packages/graph-engine/src/nodes/math/mod.ts
  packages/graph-engine/src/nodes/math/multiply.ts
  packages/graph-engine/src/nodes/math/pow.ts
  packages/graph-engine/src/nodes/math/random.ts
  packages/graph-engine/src/nodes/math/round.ts
  packages/graph-engine/src/nodes/math/sin.ts
  packages/graph-engine/src/nodes/math/subtract.ts
  packages/graph-engine/src/nodes/math/tan.ts
  packages/graph-engine/src/nodes/string/join.ts
  packages/graph-engine/src/nodes/string/lowercase.ts
  packages/graph-engine/src/nodes/string/regex.ts
  packages/graph-engine/src/nodes/string/split.ts
  packages/graph-engine/src/nodes/string/uppercase.ts
  packages/graph-engine/src/programmatic/node/index.ts
  packages/graph-engine/src/programmatic/schema/types.ts
  packages/graph-engine/src/programmatic/types/index.ts
  packages/graph-engine/src/schemas/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix flatten
  .changeset/smart-scissors-wash.md
  packages/graph-editor/src/components/flow/nodes/sets/squashNode.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix flatten (#223)
  .changeset/smart-scissors-wash.md
  packages/graph-editor/src/components/flow/nodes/sets/squashNode.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove extraneous changesets
  .changeset/dirty-houses-eat.md
  .changeset/loud-kiwis-search.md
  .changeset/nervous-pillows-pay.md
  .changeset/serious-pets-marry.md
  .changeset/strong-zoos-begin.md
  .changeset/swift-lobsters-change.md
  .changeset/tall-actors-love.md
  .changeset/wicked-ladybugs-fetch.md
Due: prettier --write

Stash
  .vscode/settings.json
  packages/graph-editor/package.json
  packages/graph-editor/src/components/contextMenus/ContextMenuStyles.tsx
  packages/graph-editor/src/components/contextMenus/edgeContextMenu.tsx
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/contextMenus/paneContextMenu.tsx
  packages/graph-editor/src/components/dialogs/findDialog.tsx
  packages/graph-editor/src/components/dialogs/settings.tsx
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/config/themes.ts
  packages/graph-editor/src/constants/css-functions-list.json
  packages/graph-editor/src/css/cmdk.css
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/data/json/core.json
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/hooks/hotkeys.ts
  packages/graph-editor/src/index.css
  packages/graph-editor/src/layouts/elk.tsx
  packages/graph-editor/src/redux/models/ui.ts
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-editor/src/styles/Home.module.css
  packages/graph-editor/src/styles/editor.module.scss
  packages/graph-editor/src/styles/globals.css
  packages/graph-editor/src/utils/compact.ts
  packages/graph-editor/src/utils/uncompact.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/array/arrify.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/push.ts
  packages/graph-engine/src/nodes/css/map.ts
  packages/graph-engine/src/programmatic/input.ts
  packages/graph-engine/src/schemas/index.ts
  packages/graph-engine/src/types.ts
  packages/ui/src/examples/card.json
  packages/ui/src/examples/contrast.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix issue with squash node not indexing correctly
  packages/graph-editor/src/components/flow/nodes/sets/squashNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add changeset
  .changeset/sweet-stingrays-call.md
Due: prettier --write

Fix issue with squash node not indexing correctly (#226)
  .changeset/sweet-stingrays-call.md
  packages/graph-editor/src/components/flow/nodes/sets/squashNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Refactor editor layout and menu
  .changeset/many-starfishes-relax.md
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.css
  packages/ui/src/components/editorMenu/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add pointer-events to css map node
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/tough-hornets-agree.md
Due: prettier --write

fix: packages/eslint-config-custom/package.json to reduce vulnerabilities
  packages/eslint-config-custom/package.json
Due: npx prettier-package-json --write package.json

feat: add exports for all nodes which makes them tree shakeable, otherwise not possible due to current single exported array named 'nodes'
  packages/graph-engine/src/nodes/accessibility/index.ts
  packages/graph-engine/src/nodes/allNodes.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/css/index.ts
  packages/graph-engine/src/nodes/generic/index.ts
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/nodes/input/index.ts
  packages/graph-engine/src/nodes/logic/index.ts
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/nodes/series/index.ts
  packages/graph-engine/src/nodes/set/index.ts
  packages/graph-engine/src/nodes/string/index.ts
  packages/graph-engine/src/nodes/typing/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup inline nodes and re-enable array nodes
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/panels/dropPanel/data.tsx
  packages/graph-editor/src/editor/actions/createNode.tsx
  packages/graph-editor/src/editor/actions/handleDrop.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/types.ts
  packages/nodes-design-tokens/src/nodes/extractSingleToken.ts
  packages/nodes-design-tokens/src/nodes/index.ts
  packages/ui/src/hooks/useGetEditor.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add drop panel to show windows
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/redux/selectors/registry.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove settings dialog
  packages/graph-editor/src/components/dialogs/findDialog.tsx
  packages/graph-editor/src/components/dialogs/settings.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix bug with values sticking if selecting between two nodes of the same type
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/components/panels/output/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix not reinvalidating the node settings
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issue with duplication
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix audio source
  packages/nodes-audio/src/nodes/source.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update UI package and simplify dialog
  packages/graph-editor/package.json
  packages/graph-editor/src/components/dialog/index.tsx
  packages/graph-editor/src/components/dialogs/findDialog.tsx
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Cleanup file explorer
  packages/ui/src/components/panels/fs.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update files system
  packages/ui/src/components/editor/data.ts
  packages/ui/src/components/panels/fs.tsx
  packages/ui/src/declarations.d.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add support for audio buffer conversions
  packages/graph-engine/src/schemas/index.ts
  packages/nodes-audio/package.json
  packages/nodes-audio/src/declarations.d.ts
  packages/nodes-audio/src/nodes/index.ts
  packages/nodes-audio/src/nodes/loadBuffer.ts
  packages/nodes-audio/src/schemas/index.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix changed bufferschema refs in audio pkg
  packages/nodes-audio/src/nodes/source.ts
  packages/nodes-audio/src/nodes/whiteNoise.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add ceil and floor nodes
  packages/graph-engine/src/nodes/math/ceil.ts
  packages/graph-engine/src/nodes/math/floor.ts
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Subgraphs mostly working
  packages/graph-editor/src/components/contextMenus/paneContextMenu.tsx
  packages/graph-editor/src/components/flow/nodes/groupNode.tsx
  packages/graph-editor/src/components/flow/nodes/noteNode.tsx
  packages/graph-editor/src/components/flow/nodes/passthroughNode.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/panels/flamegraph/index.tsx
  packages/graph-editor/src/components/panels/graph/index.tsx
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/components/panels/legend/index.tsx
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
  packages/graph-editor/src/components/panels/output/index.tsx
  packages/graph-editor/src/context/graph.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/hooks/index.ts
  packages/graph-editor/src/hooks/useGraph.ts
  packages/graph-editor/src/hooks/useLocalGraph.ts
  packages/graph-editor/src/redux/models/graph.ts
  packages/graph-editor/src/redux/selectors/graph.ts
  packages/graph-editor/src/redux/selectors/refs.ts
  packages/graph-editor/src/registry/icon.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
