Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

format
  packages/graph-editor/src/components/IconHolder.tsx
  packages/graph-editor/src/components/flow/DropPanel/DragItem.tsx
  packages/graph-editor/src/components/flow/DropPanel/Loading.tsx
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledAccordionTrigger.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledPanel.tsx
  packages/graph-editor/src/components/flow/DropPanel/index.ts
  packages/graph-editor/src/components/flow/index.ts
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensHandles.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/utils/getNodeValue.ts
  packages/graph-editor/src/components/flow/nodes/sets/utils/getTooltipData.ts
  packages/graph-editor/src/components/flow/nodes/sets/utils/getTypographyValue.ts
  packages/graph-editor/src/components/index.ts
  packages/graph-editor/src/context/index.ts
  packages/graph-editor/src/editor/fileInput.tsx
  packages/graph-editor/tsconfig.json
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/src/nodes/set/externalTokens.ts
  packages/graph-engine/src/nodes/set/index.ts
  packages/graph-engine/tests/data/raw/tokenSetInput.json
  packages/graph-engine/tests/suites/input.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix build process, and support extensions in the token value (#80)
  packages/graph-editor/package.json
  packages/graph-editor/src/components/IconHolder.tsx
  packages/graph-editor/src/components/flow/DropPanel/DragItem.tsx
  packages/graph-editor/src/components/flow/DropPanel/Loading.tsx
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledAccordionTrigger.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledPanel.tsx
  packages/graph-editor/src/components/flow/DropPanel/index.ts
  packages/graph-editor/src/components/flow/handles.module.css
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/index.ts
  packages/graph-editor/src/components/flow/minimap.d.ts
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensHandles.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/utils/getNodeValue.ts
  packages/graph-editor/src/components/flow/nodes/sets/utils/getTooltipData.ts
  packages/graph-editor/src/components/flow/nodes/sets/utils/getTypographyValue.ts
  packages/graph-editor/src/components/index.ts
  packages/graph-editor/src/context/index.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/utils/index.ts
  packages/graph-editor/tsconfig.json
  packages/graph-editor/tsup.config.ts
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/src/nodes/set/externalTokens.ts
  packages/graph-engine/src/nodes/set/index.ts
  packages/graph-engine/tests/data/raw/tokenSetInput.json
  packages/graph-engine/tests/suites/input.test.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix trig nodes
  packages/graph-engine/src/nodes/math/cos.ts
  packages/graph-engine/src/nodes/math/sin.ts
  packages/graph-engine/src/nodes/math/tan.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: upgrade next from 13.4.7 to 13.4.19
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

fix: upgrade autoprefixer from 10.4.14 to 10.4.15
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

fix: upgrade postcss from 8.4.27 to 8.4.28
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

wip
  packages/graph-editor/src/components/flow/ActionToolbar.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/ContextMenu.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/DragItem.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/Loading.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/Panel.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/PanelItems.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/StyledAccordionTrigger.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/StyledPanel.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/index.ts
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/controls.tsx
  packages/graph-editor/src/components/flow/index.ts
  packages/graph-editor/src/components/index.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/paneContextMenu.tsx
  packages/graph-editor/src/redux/models/settings.ts
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/pages/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

style update
  packages/graph-editor/src/components/accordion/index.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/DragItem.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/hotkeys.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/paneContextMenu.tsx
  packages/graph-editor/src/index.css
  packages/graph-editor/src/redux/models/index.ts
  packages/graph-editor/src/redux/models/root.ts
  packages/graph-editor/src/redux/models/ui.ts
  packages/graph-editor/src/redux/selectors/ui.ts
  packages/ui/src/components/Preview.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjust menubar
  packages/graph-editor/src/components/flow/AddNodeToolbar/AddNodesContextMenu.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/ContextMenu.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/controls.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/Sidesheet.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/paneContextMenu.tsx
  packages/graph-editor/src/index.css
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjust layout
  packages/graph-editor/src/components/flow/AddNodeToolbar/AddNodesContextMenu.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/ContextMenu.tsx
  packages/graph-editor/src/components/flow/AddNodeToolbar/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/icons/AppsIcon.tsx
  packages/graph-editor/src/editor/Sidesheet.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/paneContextMenu.tsx
  packages/graph-editor/src/redux/models/ui.ts
  packages/ui/src/assets/svgs/code-3.svg
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjust context menus
  packages/graph-editor/src/components/accordion/index.tsx
  packages/graph-editor/src/components/flow/ActionToolbar.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/AddNodesContextMenu.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/ContextMenu.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/Panel.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/PanelItems.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/StyledAccordionTrigger.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/StyledPanel.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/index.ts
  packages/graph-editor/src/components/flow/AddNodeToolbar/Loading.tsx
  packages/graph-editor/src/components/flow/DropPanel/DragItem.tsx
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/index.ts
  packages/graph-editor/src/components/index.ts
  packages/graph-editor/src/editor/Sidesheet.tsx
  packages/graph-editor/src/editor/hotkeys.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/paneContextMenu.tsx
  packages/graph-editor/src/redux/models/ui.ts
  packages/graph-editor/src/redux/selectors/ui.ts
  packages/ui/src/components/Preview.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjust pr
  packages/graph-editor/src/components/flow/AddNodeDropdown/PanelItems.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/StyledPanel.tsx
  packages/graph-editor/src/components/flow/nodes/color/scaleNode.tsx
  packages/graph-editor/src/components/slider/index.tsx
  packages/graph-editor/src/editor/create.ts
  packages/graph-editor/src/editor/edgeContextMenu.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/lib/stitches/stitches.config.ts
  packages/ui/src/pages/index.tsx
  packages/ui/src/pages/permutations/index.tsx
  packages/ui/src/pages/styles.css
  packages/ui/src/panels/permutator.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjust style of droppanel
  packages/graph-editor/src/components/flow/AddNodeDropdown/ContextMenu.tsx
  packages/graph-editor/src/components/flow/AddNodesContextMenu/AddNodesContextMenu.tsx
  packages/graph-editor/src/components/flow/DropPanel/DragItem.tsx
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/editor/paneContextMenu.tsx
  packages/graph-editor/src/index.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: upgrade next from 13.4.7 to 13.4.19 (#82)
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

fix: upgrade autoprefixer from 10.4.14 to 10.4.15 (#83)
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

fix: upgrade postcss from 8.4.27 to 8.4.28 (#84)
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

fix: upgrade nextra from 2.7.1 to 2.8.0 (#44)
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

remove sidesheet
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/Sidesheet.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/redux/models/ui.ts
  packages/graph-editor/src/redux/selectors/ui.ts
  packages/ui/src/components/Toolbar.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove dropdown
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/editor/ContextMenuStyles.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/fileInput.tsx
  packages/graph-editor/src/editor/hotkeys.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/paneContextMenu.tsx
  packages/graph-editor/src/index.css
  packages/graph-editor/src/redux/models/ui.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove onConnectEnd
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

clean up changes
  packages/graph-editor/src/components/IconHolder.tsx
  packages/graph-editor/src/components/accordion/index.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/ContextMenu.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/Panel.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/StyledAccordionTrigger.tsx
  packages/graph-editor/src/components/flow/AddNodeDropdown/index.ts
  packages/graph-editor/src/components/flow/AddNodeDropdown/items.tsx
  packages/graph-editor/src/components/flow/AddNodesContextMenu/AddNodesContextMenu.tsx
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/PanelItems.tsx
  packages/graph-editor/src/components/flow/index.ts
  packages/graph-editor/src/components/index.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove unused file
  packages/graph-editor/src/components/flow/AddNodeDropdown/items.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix print
  packages/graph-editor/src/components/IconHolder.tsx
  packages/graph-editor/src/editor/fileInput.tsx
  packages/graph-editor/src/editor/hotkeys.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/redux/selectors/ui.ts
  packages/ui/.eslintrc.cjs
  packages/ui/package.json
  packages/ui/src/components/TokensStudioLogo.tsx
  packages/ui/src/components/editorMenu/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

remove unused
  packages/ui/src/redux/models/ui.ts
  packages/ui/tsconfig.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

include cmd palette
  packages/graph-editor/package.json
  packages/graph-editor/src/components/CommandPalette.tsx
  packages/graph-editor/src/components/flow/hooks/useEditor.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/paneContextMenu.tsx
  packages/graph-editor/src/index.css
  packages/graph-editor/src/redux/models/ui.ts
  packages/graph-editor/src/redux/selectors/ui.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

feat: add a new node in graph-engine and graph-editor for color palette generation using Poline
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/color/polineNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/poline.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/color/poline.test.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

chore: remove unused import from culori
  packages/graph-engine/src/nodes/color/poline.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[TASK] add array sort
  packages/documentation/pages/nodes/array-nodes/_meta.json
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/array/sort.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/sort.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/array/sort.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

feat: expose some API from graph-editor to inject custom nodes
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/DropPanel/index.ts
  packages/graph-editor/src/components/flow/index.ts
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/preview/index.ts
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

feat: add example to demo custom node injection
  packages/ui/src/components/customOrNode.tsx
  packages/ui/src/components/customOrNodeUI.tsx
  packages/ui/src/components/polineNode.ts
  packages/ui/src/components/polineNodeUI.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: add missing parameter, remove commented code
  packages/graph-editor/src/components/flow/index.ts
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: add poline dependency
  packages/ui/package.json
Due: npx prettier-package-json --write package.json

clean: remove console.log
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[TASK] add join string
  packages/documentation/pages/nodes/string-nodes/_meta.json
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/string/join.tsx
  packages/graph-engine/src/nodes/string/index.ts
  packages/graph-engine/src/nodes/string/join.ts
  packages/graph-engine/src/types.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add select token node
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/sets/selectToken.tsx
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/nodes/set/index.ts
  packages/graph-engine/src/nodes/set/selectToken.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: throw error if undefined
  .changeset/heavy-pears-fail.md
  packages/graph-engine/src/nodes/math/cos.ts
  packages/graph-engine/src/nodes/math/sin.ts
  packages/graph-engine/src/nodes/math/tan.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix trig nodes (#81)
  .changeset/heavy-pears-fail.md
  packages/graph-engine/src/nodes/math/cos.ts
  packages/graph-engine/src/nodes/math/sin.ts
  packages/graph-engine/src/nodes/math/tan.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: join
  .changeset/tricky-moose-call.md
  packages/graph-engine/src/nodes/string/join.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add test
  packages/graph-engine/src/nodes/string/join.ts
  packages/graph-engine/tests/suites/nodes/string/join.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Join String Node (#88)
  .changeset/tricky-moose-call.md
  packages/documentation/pages/nodes/string-nodes/_meta.json
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/string/join.tsx
  packages/graph-engine/src/nodes/string/index.ts
  packages/graph-engine/src/nodes/string/join.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/string/join.test.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
