Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix build on documentation
  packages/documentation/Dockerfile
Due: none

Fix/doc docker (#443)
  packages/documentation/Dockerfile
Due: none

Renaming channel d to alpha
  .changeset/fast-plums-kiss.md
  packages/graph-engine/src/nodes/color/create.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove backend (#416)
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-engine/src/nodes/color/lib/types.ts
  packages/ui/prisma/migrations/migration_lock.toml
  packages/ui/src/components/editor/data.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

resort switch port order
  .changeset/pink-rivers-agree.md
  packages/graph-engine/src/nodes/logic/switch.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add next auth and prisma
  packages/ui/prisma/migrations/migration_lock.toml
  packages/ui/src/app/api/[...nextauth]/route.ts
  packages/ui/src/app/dashboard/layout.tsx
  packages/ui/src/app/dashboard/page.tsx
  packages/ui/src/app/editor/page.tsx
  packages/ui/src/auth/index.ts
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/rail.tsx
  packages/ui/src/middleware/index.ts
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Stash
  packages/graph-editor/package.json
  packages/nodes-design-tokens/package.json
  packages/ui/package.json
  packages/ui/prisma/schema.prisma
  packages/ui/src/api/contracts/auth.ts
  packages/ui/src/api/contracts/graph.ts
  packages/ui/src/api/contracts/index.ts
  packages/ui/src/api/controllers/auth.ts
  packages/ui/src/api/controllers/graph.ts
  packages/ui/src/api/controllers/index.ts
  packages/ui/src/api/index.ts
  packages/ui/src/api/schemas/graph.ts
  packages/ui/src/api/sdk/getServerClient.ts
  packages/ui/src/api/sdk/hydrate.tsx
  packages/ui/src/api/sdk/index.ts
  packages/ui/src/api/sdk/provider.tsx
  packages/ui/src/api/utils/common.ts
  packages/ui/src/api/utils/types.ts
  packages/ui/src/app/api-docs/page.tsx
  packages/ui/src/app/api/auth/[...nextauth]/route.ts
  packages/ui/src/app/api/v1/[...ts-rest]/route.ts
  packages/ui/src/app/dashboard/clientPage.tsx
  packages/ui/src/app/dashboard/contexts.tsx
  packages/ui/src/app/dashboard/loading.tsx
  packages/ui/src/app/editor/[id]/clientPage.tsx
  packages/ui/src/app/editor/[id]/page.tsx
  packages/ui/src/app/editor/layout.tsx
  packages/ui/src/app/editor/loading.tsx
  packages/ui/src/app/editor/page.tsx
  packages/ui/src/app/healthz/route.ts
  packages/ui/src/app/layout.tsx
  packages/ui/src/app/page.off.tsx
  packages/ui/src/app/page.tsx
  packages/ui/src/components/loader/index.tsx
  packages/ui/src/components/pages/index.tsx
  packages/ui/src/components/rail.tsx
  packages/ui/src/lib/prisma/index.ts
  packages/ui/src/lib/stitches/stitches.config.ts
  packages/ui/src/pages/index.foo.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update Licences
  LICENCE
  packages/eslint-config-custom/package.json
  packages/graph-editor/LICENSE
  packages/graph-editor/package.json
  packages/graph-engine/LICENCE
  packages/migrations/LICENCE
  packages/migrations/package.json
  packages/nodes-audio/LICENCE
  packages/nodes-audio/package.json
  packages/nodes-design-tokens/LICENCE
  packages/nodes-design-tokens/package.json
  packages/prettier-config-custom/package.json
  packages/storybook-lit/package.json
  packages/storybook-react/package.json
  packages/ui/LICENSE.md
Due: prettier --write, npx prettier-package-json --write package.json

Update Licences (#446)
  LICENCE
  packages/eslint-config-custom/package.json
  packages/graph-editor/LICENSE
  packages/graph-editor/package.json
  packages/graph-engine/LICENCE
  packages/migrations/LICENCE
  packages/migrations/package.json
  packages/nodes-audio/LICENCE
  packages/nodes-audio/package.json
  packages/nodes-design-tokens/LICENCE
  packages/nodes-design-tokens/package.json
  packages/prettier-config-custom/package.json
  packages/storybook-lit/package.json
  packages/storybook-react/package.json
  packages/ui/LICENSE.md
Due: prettier --write, npx prettier-package-json --write package.json

[WIP] color picker with color space
  packages/graph-editor/src/components/colorPicker/InputPopover.tsx
  packages/graph-editor/src/components/colorPicker/index.tsx
  packages/graph-editor/src/components/controls/color.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix formating
  packages/graph-engine/src/nodes/logic/switch.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix test input name
  packages/graph-engine/tests/suites/nodes/color/create.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add deconstruct color node
  .changeset/cyan-files-smoke.md
  packages/graph-engine/src/nodes/color/deconstruct.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/tests/suites/nodes/color/deconstruct.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix formating
  packages/graph-engine/src/nodes/color/deconstruct.ts
  packages/graph-engine/tests/suites/nodes/color/deconstruct.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Renaming channel d to alpha (#444)
  .changeset/fast-plums-kiss.md
  packages/graph-engine/src/nodes/color/create.ts
  packages/graph-engine/tests/suites/nodes/color/create.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update lint
  packages/graph-engine/tests/suites/enqueing.test.ts
  packages/graph-engine/tests/suites/graph/connect.test.ts
  packages/ui/.eslintignore
  packages/ui/.prettierignore
  packages/ui/LICENSE.md
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update charts
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
  .gimlet/k8s/graph-engine/Chart.lock
  .gimlet/k8s/graph-engine/Chart.yaml
  .gimlet/k8s/graph-engine/charts/onechart-0.69.0.tgz
  .gimlet/k8s/graph-engine/values.yaml
Due: none

Update secrets
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
  packages/ui/.env
  packages/ui/next.config.mjs
Due: none

Support dynamic hosts
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
  packages/ui/.env
  packages/ui/next.config.mjs
  packages/ui/src/app/layout.tsx
  packages/ui/src/auth/index.ts
  packages/ui/src/components/editor/toolbar.tsx
  packages/ui/src/components/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add support for protocol
  packages/ui/src/app/layout.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add console log to debug auth callbacks in prod
  packages/ui/src/auth/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update secrets
  .gimlet/graph-engine.yaml
  packages/ui/src/auth/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update DB deploy
  packages/ui/Dockerfile
  packages/ui/package.json
  packages/ui/readme.md
  readme.md
  yarn.lock
Due: prettier --write, npx prettier-package-json --write package.json

Fix base path
  packages/ui/src/api/sdk/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Format and change secrets injection
  .gimlet/graph-engine.yaml
  packages/graph-editor/src/css/contextify.css
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/index.scss
  packages/graph-editor/src/lib/stitches/index.ts
  packages/ui/readme.md
  packages/ui/src/app/layout.tsx
  packages/ui/src/auth/index.ts
  packages/ui/src/components/editor/toolbar.tsx
  packages/ui/src/components/pages/index.tsx
  packages/ui/src/styles/styles.scss
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add deconstruct color node (#447)
  .changeset/cyan-files-smoke.md
  packages/graph-engine/src/nodes/color/deconstruct.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/tests/suites/nodes/color/deconstruct.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix css vars
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/css/cmdk.css
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/index.scss
  packages/graph-editor/src/lib/stitches/index.ts
  packages/ui/src/styles/styles.scss
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup colors
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/index.scss
  packages/graph-editor/src/lib/stitches/index.ts
  packages/graph-editor/src/tokens/colors.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

418: Remove grouping feature + style scrollbar in add node dropdown
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/add.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix lint
  packages/graph-editor/src/components/toolbar/dropdowns/add.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Rename 1
  packages/graph-editor/src/components/toolbar/groups/xplayControls.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Rename 2
  packages/graph-editor/src/components/toolbar/groups/playControls.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix testing
  .github/workflows/pr-ci.yml
  packages/graph-editor/cypress/e2e/nodes.cy.ts
  packages/graph-editor/cypress/e2e/smoke.cy.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
