Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

Add basic vector 2 support
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/nodes/vector2/create.ts
  packages/graph-engine/src/nodes/vector2/destructure.ts
  packages/graph-engine/src/nodes/vector2/index.ts
  packages/graph-engine/src/schemas/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Simplify typing on arrays
  packages/graph-editor/src/tokens/colors.ts
  packages/graph-engine/src/nodes/color/convert.ts
  packages/graph-engine/src/nodes/color/poline.ts
  packages/graph-engine/src/nodes/color/scale.ts
  packages/graph-engine/src/nodes/color/wheel.ts
  packages/graph-engine/src/nodes/math/addVariadic.ts
  packages/graph-engine/src/nodes/math/divideVariadic.ts
  packages/graph-engine/src/nodes/math/multiplyVariadic.ts
  packages/graph-engine/src/nodes/math/subtractVariadic.ts
  packages/graph-engine/src/nodes/preview/colorScale.ts
  packages/graph-engine/src/nodes/series/arithmetic.ts
  packages/graph-engine/src/nodes/series/geometric.ts
  packages/graph-engine/src/nodes/series/harmonic.ts
  packages/graph-engine/src/nodes/string/join.ts
  packages/graph-engine/src/schemas/index.ts
  packages/graph-engine/src/schemas/utils.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup from changes
  packages/graph-editor/src/registry/control.tsx
  packages/graph-engine/src/schemas/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add setting to hide minimap and to show the title in the subgraph
  packages/graph-editor/src/components/panels/settings/index.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/redux/selectors/settings.ts
  packages/graph-editor/src/registry/specifics.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix finding nodes
  packages/graph-editor/src/components/dialogs/findDialog.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Improve searching
  packages/graph-editor/src/components/dialogs/findDialog.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/redux/selectors/settings.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add copy value to port
  packages/graph-editor/src/components/portPanel/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Stop subgraph from gathering input values every loop
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add reduce subgraph
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/reduce.ts
  packages/graph-engine/src/nodes/color/contrastingFromSet.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Expose convert color
  packages/graph-engine/src/nodes/color/convert.ts
  packages/graph-engine/src/nodes/color/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix poline
  packages/graph-engine/src/nodes/color/poline.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Make series consistent with naming
  packages/graph-engine/src/nodes/series/arithmetic.ts
  packages/graph-engine/src/nodes/series/geometric.ts
  packages/graph-engine/src/nodes/series/harmonic.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add advanced blending to design tokens
  packages/graph-engine/src/nodes/color/advancedBlend.ts
  packages/nodes-design-tokens/package.json
  packages/nodes-design-tokens/src/nodes/advancedBlend.ts
  packages/nodes-design-tokens/src/nodes/index.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Cleanup schemas on token arrays
  packages/nodes-design-tokens/src/nodes/extractSingleToken.ts
  packages/nodes-design-tokens/src/nodes/flatten.ts
  packages/nodes-design-tokens/src/nodes/inlineTokens.ts
  packages/nodes-design-tokens/src/nodes/invert.ts
  packages/nodes-design-tokens/src/nodes/name.ts
  packages/nodes-design-tokens/src/nodes/nearest.ts
  packages/nodes-design-tokens/src/nodes/previewTypography.ts
  packages/nodes-design-tokens/src/nodes/resolve.ts
  packages/nodes-design-tokens/src/nodes/ungroup.ts
  packages/nodes-design-tokens/src/schemas/index.ts
  packages/nodes-design-tokens/src/schemas/utils.ts
  packages/nodes-design-tokens/src/ui/controls/index.tsx
  packages/nodes-design-tokens/src/ui/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix cases where input is not detected
  packages/graph-engine/src/graph/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add secret and deployment
  .gimlet/graph-engine-backend.yaml
  .gimlet/graph-engine-docs.yaml
  .gimlet/graph-engine.yaml
  packages/graph-engine/src/capabilities/secret.ts
  packages/graph-engine/src/nodes/secret/index.ts
  packages/graph-engine/src/nodes/secret/retrieve.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update colorjs.io to get around hex code transformation during prod builds
  .vscode/settings.json
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/color/contrastingFromSet.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add alignment and distribution
  catalog-info.yaml
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/panels/alignment/index.tsx
  packages/graph-editor/src/redux/selectors/ui.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add better support for network messages
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/generic/index.ts
  packages/graph-engine/src/nodes/generic/time.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/programmatic/output.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix bug where we don't disconnect an edge and minor cleanup in tests
  packages/documentation/docs/guides/developers/creating-a-node.md
  packages/graph-editor/src/editor/actions/connect.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/tests/suites/graph/connect.test.ts
  packages/graph-engine/tests/suites/nodes/math/add.test.ts
  packages/graph-engine/tests/suites/nodes/string/join.test.ts
  packages/graph-engine/tests/suites/nodes/string/lowercase.test.ts
  packages/graph-engine/tests/suites/nodes/string/split.test.ts
  packages/graph-engine/tests/suites/nodes/string/uppercase.test.ts
  packages/graph-engine/tests/suites/nodes/typing/passUnit.test.ts
  packages/nodes-design-tokens/tests/sets/resolve.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Complete subgraph creation , convert output to multi output
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/editor/actions/createNode.tsx
  packages/graph-editor/src/editor/actions/provider.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/generic/delay.ts
  packages/graph-engine/src/nodes/generic/index.ts
  packages/graph-engine/src/nodes/generic/output.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/nodes/generic/time.ts
  packages/graph-engine/src/programmatic/input.ts
  packages/graph-engine/src/programmatic/node.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup typing on graph
  packages/graph-engine/src/graph/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update docs
  adrs/Architecture.drawio
  adrs/UI-rendering.drawio
  packages/documentation/docs/guides/developers/editor/_category_.yaml
  packages/documentation/docs/guides/developers/editor/custom-panels.md
  packages/documentation/docs/guides/developers/engine/_category_.yaml
  packages/documentation/docs/guides/developers/engine/creating-a-node.md
  packages/documentation/docs/guides/developers/engine/programmatic.md
  packages/documentation/docs/guides/packages/custom.md
  packages/documentation/docs/guides/packages/install.md
  packages/documentation/docs/technical/architecture.md
  packages/documentation/docs/technical/dataModel.md
  packages/documentation/docs/technical/imgs/Architecture.drawio.svg
  packages/graph-editor/package.json
  packages/graph-editor/src/components/debugger/debugger.css
  packages/graph-editor/src/components/debugger/index.stories.tsx
  packages/graph-editor/src/components/debugger/index.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/alignment/index.tsx
  packages/graph-editor/src/editor/actions/connect.ts
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/registry/control.tsx
  packages/graph-engine/src/programmatic/node.ts
  packages/nodes-design-tokens/package.json
  packages/nodes-design-tokens/src/nodes/index.ts
  packages/nodes-design-tokens/src/nodes/leonardoColor.ts
  packages/nodes-design-tokens/src/nodes/leonardoTheme.ts
  packages/nodes-design-tokens/src/schemas/index.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update docs
  .gitignore
  packages/documentation/docs/getting-started/Installation.md
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issue with subgraph not reconnecting nodes
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix grouping
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
  packages/graph-editor/src/components/panels/alignment/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Start releasing on dockerhub
  .github/workflows/docker-release.yml
Due: none

Remove tauri
  .github/workflows/release.yml
  packages/graph-engine/src/graph/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update versions
  packages/graph-editor/examples/barebones/package.json
  packages/graph-editor/examples/defaults/package.json
Due: npx prettier-package-json --write package.json

Fix ignore
  .gitignore
Due: none

Update Gimlet
  .gimlet/graph-engine-docs.yaml
Due: none

Update deployment for docs and backend
  .gimlet/graph-engine-backend.yaml
  .gimlet/graph-engine-docs.yaml
  .github/workflows/docker-release.yml
  .github/workflows/preview.yml
  packages/documentation/docs/getting-started/Installation.md
Due: prettier --write

fix(250): Fix quick search triggered in input fields
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/utils/isActiveElementTextEditable.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Change to isContentEditable prop
  packages/graph-editor/src/utils/isActiveElementTextEditable.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update node verison in the workflows
  .github/workflows/deploy-docs.yml
  .github/workflows/pages.yml
  .github/workflows/verify.yml
Due: none

Fix all the pipeline issues
  .github/workflows/release.yml
  .github/workflows/verify.yml
  packages/backend/jest.config.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/nodes/series/geometric.ts
  packages/graph-engine/src/nodes/series/harmonic.ts
  packages/graph-engine/src/nodes/vector2/create.ts
  packages/graph-engine/src/nodes/vector2/destructure.ts
  packages/graph-engine/src/programmatic/input.ts
  packages/graph-engine/src/programmatic/output.ts
  packages/graph-engine/tests/data/processed/basic.ts
  packages/graph-engine/tests/suites/basic.test.ts
  packages/graph-engine/tests/suites/enqueing.test.ts
  packages/graph-engine/tests/suites/nodeUsage.test.ts
  packages/graph-engine/tests/suites/nodes/color/contrasting.test.ts
  packages/graph-engine/tests/suites/nodes/series/arithmetic.test.ts
  packages/graph-engine/tests/suites/nodes/series/geometric.test.ts
  packages/graph-engine/tests/suites/nodes/series/harmonic.test.ts
  packages/migrations/jest.config.ts
  packages/migrations/src/index.ts
  packages/migrations/src/migrations/0.12.0.ts
  packages/migrations/src/migrations/index.ts
  packages/nodes-audio/jest.config.ts
  packages/nodes-design-tokens/jest.config.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Turn off husky
  .github/workflows/verify.yml
Due: none

Remove husky as a postinstall
  package.json
Due: npx prettier-package-json --write package.json

Fix turbo in verify
  .github/workflows/verify.yml
Due: none

typo
  .github/workflows/verify.yml
Due: none
