Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

Update packages/graph-editor/src/components/flow/nodes/sets/remapNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/remapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add new color picker node
  packages/graph-editor/package.json
  packages/graph-editor/src/components/ColorPicker.tsx
  packages/graph-editor/src/components/CommandPalette.tsx
  packages/graph-editor/src/components/InputPopover.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/array/name.tsx
  packages/graph-editor/src/components/flow/nodes/color/setColorValueNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/input/constantNode.tsx
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/name.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/set-color-value.ts
  packages/graph-engine/src/types.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

format
  packages/graph-editor/src/components/ColorPicker.tsx
  packages/graph-editor/src/components/InputPopover.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/array/name.tsx
  packages/graph-editor/src/components/flow/nodes/color/setColorValueNode.tsx
  packages/graph-editor/src/components/flow/nodes/input/constantNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/pink-starfishes-whisper.md
Due: prettier --write

add initial
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/color/scale2Node.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/scale2.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rename poline node in ui
  .changeset/thin-steaks-explain.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add CSS function node
  .changeset/silent-lions-ring.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/css/functionNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/constants/css-functions-list.json
  packages/graph-editor/src/index.css
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/.DS_Store
  packages/graph-engine/src/nodes/css/cssFunction.ts
  packages/graph-engine/src/nodes/css/index.ts
  packages/graph-engine/src/types.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update CSS map to use MDN data as source
  .changeset/tame-rings-travel.md
  packages/graph-editor/src/components/flow/nodes/css/functionNode.tsx
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
  packages/graph-editor/src/index.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add color picker and input fields for min and max values in Scale2Node
  packages/graph-editor/src/components/flow/nodes/color/scale2Node.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/src/nodes/color/lib/colorScale.test.ts
  packages/graph-engine/src/nodes/color/lib/colorScale.ts
  packages/graph-engine/src/nodes/color/scale2.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix scale
  packages/graph-engine/src/nodes/color/lib/colorScale.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

update pass unit nodes to use MDN
  .changeset/serious-jokes-grin.md
  packages/graph-editor/src/components/flow/nodes/array/passUnit.tsx
  packages/graph-editor/src/components/flow/nodes/generic/passUnitNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add working sync
  .gitignore
  packages/ui/package.json
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/ShareDialog.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/hooks/useGetEditor.ts
  packages/ui/src/hooks/useShareURL.ts
  packages/ui/src/pages/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

rename poline node in ui (#188)
  .changeset/thin-steaks-explain.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Stash
  adrs/0004-edge-drawing.md
  packages/graph-engine/src/nodes/series/arithmetic.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Clean up console
  packages/ui/src/components/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix code editor state updates (#184)
  .changeset/grumpy-seahorses-float.md
  packages/ui/src/components/ExamplesPicker.tsx
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/components/preview/scope.tsx
  packages/ui/src/hooks/useGetEditor.ts
  packages/ui/src/pages/index.tsx
  packages/ui/src/providers/preview.tsx
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update color-related node types
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/name.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/scale.ts
  packages/graph-engine/src/nodes/color/set-color-value.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add color picker (#187)
  .changeset/pink-starfishes-whisper.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/ColorPicker.tsx
  packages/graph-editor/src/components/CommandPalette.tsx
  packages/graph-editor/src/components/InputPopover.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/array/name.tsx
  packages/graph-editor/src/components/flow/nodes/color/setColorValueNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/input/constantNode.tsx
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/name.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/scale.ts
  packages/graph-engine/src/nodes/color/set-color-value.ts
  packages/graph-engine/src/types.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Minor changes
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/css/functionNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add CSS function node (#189)
  .changeset/silent-lions-ring.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/css/functionNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/constants/css-functions-list.json
  packages/graph-editor/src/index.css
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/.DS_Store
  packages/graph-engine/src/nodes/css/cssFunction.ts
  packages/graph-engine/src/nodes/css/index.ts
  packages/graph-engine/src/types.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Change passUnit nodes to use MDN units as source (#191)
  .changeset/serious-jokes-grin.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/array/passUnit.tsx
  packages/graph-editor/src/components/flow/nodes/generic/passUnitNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix rendering issue in DropPanel and add new index in RemapNode
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/components/flow/nodes/sets/remapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: packages/ui/package.json to reduce vulnerabilities
  packages/ui/package.json
Due: npx prettier-package-json --write package.json

remove console log
  .changeset/strong-flowers-notice.md
  packages/graph-engine/src/nodes/string/join.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix typo
  .changeset/strong-flowers-notice.md
Due: prettier --write

remove console log (#210)
  .changeset/strong-flowers-notice.md
  packages/graph-engine/src/nodes/string/join.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

stash
  packages/graph-editor/package.json
  packages/graph-engine/package.json
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/index.ts
  packages/graph-engine/src/nodes/generic/output.ts
  packages/graph-engine/src/nodes/utils.ts
  packages/graph-engine/src/programmatic/index.ts
  packages/graph-engine/src/programmatic/input/index.ts
  packages/graph-engine/src/programmatic/node/index.ts
  packages/graph-engine/src/programmatic/output/index.ts
  packages/graph-engine/src/programmatic/port/index.ts
  packages/graph-engine/src/programmatic/types/index.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/strong.test.ts
  packages/ui/next.config.mjs
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Make minimizeflowgraph quiet
  .changeset/eighty-vans-call.md
  packages/graph-engine/src/graph/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Make minimizeflowgraph quiet (#212)
  .changeset/eighty-vans-call.md
  packages/graph-engine/src/graph/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: build
  packages/ui/src/components/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix npm publish (#213)
  .changeset/eighty-vans-call.md
  packages/ui/src/components/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update menu styling and make appearance optional and controllable
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.css
  packages/graph-editor/src/redux/models/ui.ts
  packages/ui/src/assets/svgs/AppsIcon.svg
  packages/ui/src/components/EmptyStateEditor.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjust default
  packages/graph-editor/src/redux/models/ui.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/wicked-geese-call.md
Due: prettier --write

Adjust default menu and make controllable (#215)
  .changeset/wicked-geese-call.md
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.css
  packages/ui/src/assets/svgs/AppsIcon.svg
  packages/ui/src/components/EmptyStateEditor.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Stash
  packages/graph-engine/src/graph/types.ts
  packages/graph-engine/src/programmatic/input/index.ts
  packages/graph-engine/src/programmatic/input/types.ts
  packages/graph-engine/src/programmatic/node/index.ts
  packages/graph-engine/src/programmatic/output/index.ts
  packages/graph-engine/src/schemas/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix
  .changeset/big-maps-love.md
  packages/graph-editor/package.json
Due: prettier --write, npx prettier-package-json --write package.json
