Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update
  .changeset/loud-schools-share.md
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/array/sort.ts
  packages/graph-engine/tests/suites/nodes/array/sort.test.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update to expose on UI
  packages/graph-editor/src/components/flow/nodes/accessibility/ColorBlindNessNode.tsx
  packages/graph-editor/src/components/flow/nodes/array/sort.tsx
  packages/graph-editor/src/components/label.tsx
  packages/graph-engine/src/nodes/array/sort.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Sort Array (#89)
  .changeset/loud-schools-share.md
  packages/documentation/pages/nodes/array-nodes/_meta.json
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/accessibility/ColorBlindNessNode.tsx
  packages/graph-editor/src/components/flow/nodes/array/sort.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/label.tsx
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/sort.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/array/sort.test.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

feat: add a new node in graph-engine and graph-editor for color palette generation using Poline (#85)
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/color/polineNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/poline.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/color/poline.test.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix select
  packages/graph-editor/src/components/flow/nodes/sets/selectToken.tsx
  packages/graph-engine/src/nodes/set/selectToken.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add color distance node
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/color/colorDistanceNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/color/distance.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add fluid calc node
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/math/fluidNode.tsx
  packages/graph-engine/src/nodes/math/fluid.ts
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add base font size node
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/accessibility/baseFontSizeNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
  packages/graph-engine/src/nodes/accessibility/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Select Token by Name (#87)
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/sets/selectToken.tsx
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/nodes/set/index.ts
  packages/graph-engine/src/nodes/set/selectToken.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add fluid calc node (#91)
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/math/fluidNode.tsx
  packages/graph-engine/src/nodes/math/fluid.ts
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: node in graph-editor unable to fetch external data
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/context/ExternalLoaderContext.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

introduce group node
  packages/documentation/pages/nodes/set-nodes/tokenGroup.mdx
  packages/graph-editor/src/components/flow/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/sets/tokenGroup.tsx
  packages/graph-engine/src/nodes/set/group.ts
  packages/graph-engine/src/nodes/set/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

create balanced scale node
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/color/balancedScaleNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/color/balancedScale.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add color distance node (#90)
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/color/colorDistanceNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/color/distance.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: upgrade react-player from 2.12.0 to 2.13.0
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

fix: upgrade react-player from 2.12.0 to 2.13.0 (#94)
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

move correction factor to inputs
  packages/graph-editor/src/components/flow/nodes/accessibility/baseFontSizeNode.tsx
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

feat: add generic typing to addPanelItem's item parameter for successfully type checking custom node types
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

feat: add disconnectInputs and disconnectAllOutputs functions in NodeContext for allowing users better control over node edges
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: upgrade nextra-theme-docs from 2.7.1 to 2.8.0 (#43)
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

add changeset
  .changeset/loud-pillows-run.md
Due: prettier --write

add base font size node (#92)
  .changeset/loud-pillows-run.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/accessibility/baseFontSizeNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
  packages/graph-engine/src/nodes/accessibility/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Coauthor
  .changeset/selfish-shoes-act.md
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/DropPanel/index.ts
  packages/graph-editor/src/components/flow/nodes/color/colorDistanceNode.tsx
  packages/graph-editor/src/components/flow/nodes/color/polineNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/math/fluidNode.tsx
  packages/graph-editor/src/components/flow/nodes/string/join.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-engine/src/nodes/color/distance.ts
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/nodes/math/fluid.ts
  packages/ui/src/components/customOrNode.tsx
  packages/ui/src/components/customOrNodeUI.tsx
  packages/ui/src/components/polineNode.ts
  packages/ui/src/components/polineNodeUI.tsx
  packages/ui/src/pages/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix base font
  .changeset/lazy-ties-hear.md
  packages/graph-editor/src/components/flow/nodes/accessibility/baseFontSizeNode.tsx
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Feat/inject custom node in editor example (#96)
  .changeset/lazy-ties-hear.md
  .changeset/selfish-shoes-act.md
  packages/documentation/package.json
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/index.ts
  packages/graph-editor/src/components/flow/nodes/accessibility/baseFontSizeNode.tsx
  packages/graph-editor/src/components/flow/nodes/color/colorDistanceNode.tsx
  packages/graph-editor/src/components/flow/nodes/color/polineNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/math/fluidNode.tsx
  packages/graph-editor/src/components/flow/nodes/string/join.tsx
  packages/graph-editor/src/components/flow/preview/index.ts
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/context/ExternalLoaderContext.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
  packages/graph-engine/src/nodes/color/distance.ts
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/nodes/math/fluid.ts
  packages/ui/package.json
  packages/ui/src/pages/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix: packages/documentation/package.json & packages/documentation/yarn.lock to reduce vulnerabilities
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

fix: packages/documentation/package.json & packages/documentation/yarn.lock to reduce vulnerabilities (#97)
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

Fix issues with V2
  .changeset/perfect-cups-matter.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/math/randomNode.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/src/nodes/accessibility/colorBlindness.ts
  packages/graph-engine/src/nodes/accessibility/contrast.ts
  packages/graph-engine/src/nodes/array/arrify.ts
  packages/graph-engine/src/nodes/array/concat.ts
  packages/graph-engine/src/nodes/array/dotProp.ts
  packages/graph-engine/src/nodes/array/indexArray.ts
  packages/graph-engine/src/nodes/array/reverse.ts
  packages/graph-engine/src/nodes/array/slice.ts
  packages/graph-engine/src/nodes/array/sort.ts
  packages/graph-engine/src/nodes/set/resolve.ts
  packages/graph-engine/src/nodes/string/join.ts
  packages/graph-engine/src/nodes/string/lowercase.ts
  packages/graph-engine/src/nodes/string/regex.ts
  packages/graph-engine/src/nodes/string/uppercase.ts
  packages/graph-engine/src/nodes/typing/parseUnit.ts
  packages/graph-engine/src/nodes/typing/passUnit.ts
  packages/graph-engine/src/types.ts
  packages/ui/src/components/NodeValue.tsx
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/components/joyride/tooltip.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/modals/info.tsx
  packages/ui/src/components/preview/scope.tsx
  packages/ui/src/components/slider/index.tsx
  packages/ui/src/journeys/basic.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/providers/preview.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix: packages/ui/package.json to reduce vulnerabilities
  packages/ui/package.json
Due: npx prettier-package-json --write package.json

fix: packages/documentation/package.json to reduce vulnerabilities
  packages/documentation/package.json
Due: npx prettier-package-json --write package.json

fix build error
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/service/refs.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix build issues from V2 (#101)
  packages/graph-engine/src/nodes/accessibility/baseFontSize.ts
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/service/refs.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: packages/documentation/package.json to reduce vulnerabilities (#99)
  packages/documentation/package.json
Due: npx prettier-package-json --write package.json

Add release for engine
  .changeset/brown-forks-heal.md
Due: prettier --write

Add release for engine (#102)
  .changeset/brown-forks-heal.md
Due: prettier --write

add incremental name node
  packages/graph-editor/src/components/flow/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/array/name.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/name.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
