Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update SDK
  packages/sdk/src/core/OpenAPI.ts
  packages/sdk/src/core/request.ts
  packages/sdk/src/schemas.gen.ts
  packages/sdk/src/services.gen.ts
  packages/sdk/src/types.gen.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add SDK to UI
  packages/ui/package.json
Due: npx prettier-package-json --write package.json

Cleanup docs
  packages/documentation/docs/concepts/edge.md
  packages/documentation/docs/concepts/executionEngine.md
  packages/documentation/docs/concepts/graph.md
  packages/documentation/src/pages/examples/client-only/index.jsx
  packages/documentation/src/pages/examples/custom-layout/index.jsx
  packages/documentation/src/pages/examples/custom-page/index.jsx
  packages/documentation/src/pages/examples/index.jsx
  packages/documentation/src/pages/examples/styles.module.css
  packages/documentation/src/pages/index.jsx
Due: prettier --write

Update edge docs
  packages/documentation/docs/concepts/edge.md
Due: prettier --write

Fix oathkeeper origins
  data/oathkeeper/oathkeeper.yml
Due: none

Expand models
  packages/backend/prisma/migrations/20240427124016_a/migration.sql
  packages/backend/prisma/migrations/20240427131209_/migration.sql
  packages/backend/prisma/schema.prisma
Due: none

Ignore noisy generated changes
  packages/backend/.gitignore
Due: none

Ignore noisy files
  packages/sdk/.gitignore
  packages/sdk/scripts/generate.ts
  packages/sdk/src/core/ApiError.ts
  packages/sdk/src/core/ApiRequestOptions.ts
  packages/sdk/src/core/ApiResult.ts
  packages/sdk/src/core/CancelablePromise.ts
  packages/sdk/src/core/OpenAPI.ts
  packages/sdk/src/core/request.ts
  packages/sdk/src/index.ts
  packages/sdk/src/schemas.gen.ts
  packages/sdk/src/services.gen.ts
  packages/sdk/src/types.gen.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Export typing on the serialized graph
  packages/backend/src/controllers/graph.controller.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Clean cors
  packages/backend/src/app.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove cors as expected to be handled externally
  packages/backend/package.json
Due: npx prettier-package-json --write package.json

Update kratos
  data/kratos/identity.schema.json
  data/kratos/kratos.yml
Due: none

Fix ref
  packages/graph-editor/src/editor/graph.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Untrack generated
  packages/backend/generated/routes.ts
  packages/backend/generated/swagger.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

ignore json import which should be external
  packages/graph-engine/src/nodes/css/cssFunction.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Persist dynamic type
  packages/graph-engine/src/graph/types.ts
  packages/graph-engine/src/programmatic/input.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Integrate API
  packages/ui/.env
  packages/ui/next.config.mjs
  packages/ui/package.json
  packages/ui/src/api/index.ts
  packages/ui/src/components/breadcrumb/index.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/rail.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/hooks/useToast.tsx
  packages/ui/src/pages/_app.tsx
  packages/ui/src/pages/editor.tsx
  packages/ui/src/pages/help.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/pages/permutations/index.tsx.off
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Remove console log
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove prometheus
  packages/backend/package.json
  packages/backend/src/app.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add example for preview
  packages/backend/package.json
  packages/graph-editor/src/components/controls/curve.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/panels/inputs/dynamicInputs.tsx
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/editor/actions/createNode.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/generic/index.ts
  packages/graph-engine/src/nodes/generic/inline.ts
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/nodes/preview/curve.ts
  packages/graph-engine/src/nodes/preview/index.ts
  packages/graph-engine/src/types.ts
  packages/sdk/package.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add preview nodes
  packages/backend/.env
  packages/graph-editor/src/components/preview/colorCompare.tsx
  packages/graph-editor/src/components/preview/colorContrast.tsx
  packages/graph-editor/src/components/preview/colorScale.tsx
  packages/graph-editor/src/components/preview/swatch.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/math/eval.ts
  packages/graph-engine/src/nodes/preview/colorCompare.ts
  packages/graph-engine/src/nodes/preview/colorScale.ts
  packages/graph-engine/src/nodes/preview/index.ts
  packages/graph-engine/src/nodes/preview/number.ts
  packages/graph-engine/src/nodes/preview/swatch.ts
  packages/sdk/package.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Force generation on build
  packages/sdk/package.json
Due: npx prettier-package-json --write package.json

add viewport saving, math expression visualisation, default values for number
  packages/graph-editor/package.json
  packages/graph-editor/src/annotations/index.ts
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/preview/mathExpression.tsx
  packages/graph-editor/src/editor/hooks/hotkeys.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/hooks/useToast.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/preview/index.ts
  packages/graph-engine/src/nodes/preview/mathExpression.ts
  packages/graph-engine/src/nodes/preview/number.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add gradient stops and gradient handle positions
  packages/graph-engine/src/nodes/gradient/gradientHandlePosition.ts
  packages/graph-engine/src/nodes/gradient/gradientStop.ts
  packages/graph-engine/src/nodes/gradient/index.ts
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/schemas/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Setup storybook test
  packages/graph-editor/package.json
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview-body.html
  packages/storybook/package.json
  packages/storybook/scripts/bridge.ts
  packages/storybook/src/button.stories.tsx
  packages/storybook/src/button.tsx
  packages/storybook/tsconfig.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

remove gradient handles, add gradient schema
  packages/graph-engine/src/nodes/gradient/gradientHandlePosition.ts
  packages/graph-engine/src/nodes/gradient/index.ts
  packages/graph-engine/src/schemas/index.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Export util functions
  packages/nodes-design-tokens/src/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Don't require typing on input unless its intentionally dynamic
  packages/graph-engine/src/graph/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add storybook example
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/redux/selectors/index.ts
  packages/storybook/.storybook/main.js
  packages/storybook/package.json
  packages/storybook/readme.md
  packages/storybook/scripts/dev.ts
  packages/storybook/src/button.stories.tsx
  packages/storybook/src/button.tsx
  packages/storybook/src/button/base.css
  packages/storybook/src/button/button.generated.ts
  packages/storybook/src/button/button.graph.json
  packages/storybook/src/button/button.stories.tsx
  packages/storybook/src/button/button.tsx
  packages/storybook/src/context/index.tsx
  packages/ui/package.json
  packages/ui/src/api/index.ts
  packages/ui/src/components/editor/menu.tsx
  packages/ui/src/components/panels/websocket.tsx
  packages/ui/src/pages/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add delayed updates to controls, fix issue with choosing a type and not having the control update
  packages/graph-editor/src/components/controls/any.tsx
  packages/graph-editor/src/components/controls/boolean.tsx
  packages/graph-editor/src/components/controls/color.tsx
  packages/graph-editor/src/components/controls/default.tsx
  packages/graph-editor/src/components/controls/numeric.tsx
  packages/graph-editor/src/components/controls/slider.tsx
  packages/graph-editor/src/components/controls/string.tsx
  packages/graph-editor/src/components/controls/text.tsx
  packages/graph-editor/src/components/panels/settings/index.tsx
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/redux/selectors/settings.ts
  packages/storybook/.gitignore
  packages/storybook/scripts/dev.ts
  packages/storybook/src/button/base.css
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix non standard curve change that was breaking preview
  packages/graph-editor/src/components/controls/curve.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issue with token set controls and expose them correctly
  packages/graph-editor/src/components/controls/tokenArray.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/redux/index.tsx
  packages/graph-editor/src/redux/models/registry.ts
  packages/graph-editor/src/registry/control.tsx
  packages/nodes-design-tokens/src/ui/controls/index.tsx
  packages/nodes-design-tokens/src/ui/controls/token.tsx
  packages/nodes-design-tokens/src/ui/controls/tokenSet.tsx
  packages/nodes-design-tokens/src/ui/index.tsx
  packages/ui/src/components/editor/data.ts
  packages/ui/src/components/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix token saving not serializing correctly
  packages/nodes-design-tokens/src/ui/controls/tokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove live update of position annotation, was causing unnecessary recalc
  packages/graph-editor/src/editor/graph.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Clean up hot key usage and first pass at fixing subgraphs
  packages/graph-editor/src/annotations/index.ts
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/toolbar/selectedNodesToolbar.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/components/panels/legend/index.tsx
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/editor/actions/createNode.tsx
  packages/graph-editor/src/editor/actions/deleteNode.tsx
  packages/graph-editor/src/editor/actions/duplicate.ts
  packages/graph-editor/src/editor/actions/provider.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/hooks/hotkeys.ts
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-editor/src/tokens/colors.ts
  packages/graph-engine/src/annotations/index.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/generic/arraySubgraph.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/schemas/utils.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add manifest for PWA in the future
  packages/ui/public/manifest.json
Due: none

Cleanup UI and start app router migration
  packages/ui/package.json
  packages/ui/src/app/contexts.tsx
  packages/ui/src/app/layout.tsx
  packages/ui/src/app/registry.tsx
  packages/ui/src/hooks/useToast.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Clean up docs
  packages/documentation/blog/authors.yml
  packages/documentation/docusaurus.config.ts
  packages/documentation/package.json
  packages/documentation/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Mention initial db setup for prisma
  packages/backend/.gitignore
  packages/backend/readme.md
Due: prettier --write

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
