Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

Fix rgb should match the type of the create color which is technically within gl (#21)
  packages/graph-engine/src/nodes/color/convert.ts
  packages/graph-engine/tests/suites/nodes/color/convert.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

stash
  packages/ui/src/examples/card.json
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/ui.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

alter example and add in a joyride journey
  packages/ui/package.json
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/generic/inputNode.tsx
  packages/ui/src/components/joyride/tooltip.tsx
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/editor/index.tsx
  packages/ui/src/examples/card.json
  packages/ui/src/journeys/basic.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/journey.ts
  packages/ui/src/redux/models/root.ts
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
  packages/ui/src/redux/store.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

update workflow
  .github/workflows/release.yml
Due: none

None/add examples (#22)
  .github/workflows/release.yml
  packages/ui/package.json
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/generic/inputNode.tsx
  packages/ui/src/components/joyride/tooltip.tsx
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/editor/index.tsx
  packages/ui/src/examples/card.json
  packages/ui/src/journeys/basic.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/journey.ts
  packages/ui/src/redux/models/root.ts
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
  packages/ui/src/redux/store.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Change load evaluation order
  packages/ui/src/components/flow/nodes/logic/switchNode.tsx
  packages/ui/src/components/flow/nodes/sets/tokensNode.tsx
  packages/ui/src/editor/index.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Change load evaluation order (#23)
  packages/ui/src/components/flow/nodes/logic/switchNode.tsx
  packages/ui/src/components/flow/nodes/sets/tokensNode.tsx
  packages/ui/src/editor/index.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

swap image
  packages/ui/src/examples/card.json
Due: none

None/add examples (#24)
  packages/ui/src/examples/card.json
Due: none

Add new release
  .changeset/violet-grapes-drum.md
Due: prettier --write

Add new release (#25)
  .changeset/violet-grapes-drum.md
Due: prettier --write

[TASK] add contrasting color node
  packages/documentation/pages/nodes/color-nodes/_meta.json
  packages/graph-engine/src/nodes/color/contrasting.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/color/contrasting.test.ts
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/color/contrastingNode.tsx
  packages/ui/src/components/flow/nodes/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[TASK] add color wheel node
  .changeset/short-guests-call.md
  packages/documentation/pages/nodes/color-nodes/_meta.json
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/wheel.ts
  packages/graph-engine/src/types.ts
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/color/wheelNode.tsx
  packages/ui/src/components/flow/nodes/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[TASK] update test case, change wcag
  packages/graph-engine/src/nodes/color/contrasting.ts
  packages/graph-engine/tests/suites/nodes/color/contrasting.test.ts
  packages/ui/src/components/flow/nodes/color/contrastingNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[TASK] update test cases to use WcagVersion
  packages/graph-engine/tests/suites/nodes/color/contrasting.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[TASK] add figma like viewport controls
  packages/ui/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[TASK] add changeset
  .changeset/smooth-dryers-tie.md
Due: prettier --write

[TASK] add changeset
  .changeset/quick-oranges-fail.md
Due: prettier --write

Add dotProp and objectify. Change styling
  packages/graph-engine/src/nodes/array/dotProp.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/input/index.ts
  packages/graph-engine/src/nodes/input/objectify.ts
  packages/graph-engine/src/nodes/input/slider.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/array/dotProp.test.ts
  packages/graph-engine/tests/suites/nodes/input/objectify.test.ts
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/edges/edge.tsx
  packages/ui/src/components/flow/nodes/array/dotProp.tsx
  packages/ui/src/components/flow/nodes/generic/inputNode.tsx
  packages/ui/src/components/flow/nodes/index.ts
  packages/ui/src/components/flow/nodes/input/objectify.tsx
  packages/ui/src/components/flow/nodes/math/clampNode.tsx
  packages/ui/src/pages/default.scss
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/ui.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add changeset
  .changeset/wet-carrots-wonder.md
Due: prettier --write

Figma like controls (#32)
  .changeset/smooth-dryers-tie.md
  packages/ui/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: add guard for negative colors
  packages/graph-engine/src/nodes/color/wheel.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[TASK] add color wheel node (#31)
  .changeset/short-guests-call.md
  packages/documentation/pages/nodes/color-nodes/_meta.json
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/wheel.ts
  packages/graph-engine/src/types.ts
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/color/wheelNode.tsx
  packages/ui/src/components/flow/nodes/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add contrasting color node (#30)
  .changeset/quick-oranges-fail.md
  packages/documentation/pages/nodes/color-nodes/_meta.json
  packages/graph-engine/src/nodes/color/contrasting.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/color/contrasting.test.ts
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/color/contrastingNode.tsx
  packages/ui/src/components/flow/nodes/color/wheelNode.tsx
  packages/ui/src/components/flow/nodes/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add dotProp and objectify. Change styling (#33)
  .changeset/wet-carrots-wonder.md
  packages/graph-engine/src/nodes/array/dotProp.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/input/index.ts
  packages/graph-engine/src/nodes/input/objectify.ts
  packages/graph-engine/src/nodes/input/slider.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/array/dotProp.test.ts
  packages/graph-engine/tests/suites/nodes/input/objectify.test.ts
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/edges/edge.tsx
  packages/ui/src/components/flow/nodes/array/dotProp.tsx
  packages/ui/src/components/flow/nodes/generic/inputNode.tsx
  packages/ui/src/components/flow/nodes/index.ts
  packages/ui/src/components/flow/nodes/input/objectify.tsx
  packages/ui/src/components/flow/nodes/math/clampNode.tsx
  packages/ui/src/pages/default.scss
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/ui.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format, add edge types
  packages/graph-engine/src/nodes/color/contrasting.ts
  packages/graph-engine/tests/suites/nodes/color/contrasting.test.ts
  packages/ui/package.json
  packages/ui/src/components/flow/edges/edge.tsx
  packages/ui/src/components/flow/nodes/color/contrastingNode.tsx
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/components/settings/index.tsx
  packages/ui/src/pages/_app.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/root.ts
  packages/ui/src/redux/models/settings.ts
  packages/ui/src/redux/selectors/edgeType.ts
  packages/ui/src/redux/selectors/index.ts
  packages/ui/src/redux/selectors/roots.ts
  packages/ui/src/redux/store.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

format, add edge types (#35)
  packages/graph-engine/src/nodes/color/contrasting.ts
  packages/graph-engine/tests/suites/nodes/color/contrasting.test.ts
  packages/ui/package.json
  packages/ui/src/components/flow/edges/edge.tsx
  packages/ui/src/components/flow/nodes/color/contrastingNode.tsx
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/components/settings/index.tsx
  packages/ui/src/pages/_app.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/root.ts
  packages/ui/src/redux/models/settings.ts
  packages/ui/src/redux/selectors/edgeType.ts
  packages/ui/src/redux/selectors/index.ts
  packages/ui/src/redux/selectors/roots.ts
  packages/ui/src/redux/store.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix: issue with slider
  packages/graph-engine/src/nodes/input/slider.ts
  packages/ui/src/components/flow/nodes/input/sliderNode.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/nine-mugs-beam.md
Due: prettier --write

Add features
  .changeset/curvy-planets-eat.md
  packages/graph-engine/package.json
  packages/graph-engine/readme.md
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/src/nodes/input/index.ts
  packages/graph-engine/src/nodes/input/json.ts
  packages/graph-engine/src/nodes/typing/index.ts
  packages/graph-engine/src/nodes/typing/parseUnit.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/src/utils/index.ts
  packages/ui/package.json
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/handles.tsx
  packages/ui/src/components/flow/nodes/generic/inputNode.tsx
  packages/ui/src/components/flow/nodes/generic/jsonNode.tsx
  packages/ui/src/components/flow/nodes/generic/parseUnit.tsx
  packages/ui/src/components/flow/nodes/hooks/useIsValidConnection.ts
  packages/ui/src/components/flow/nodes/index.ts
  packages/ui/src/components/flow/nodes/output/cssMapNode.tsx
  packages/ui/src/components/flow/wrapper/node.tsx
  packages/ui/src/components/flow/wrapper/nodeV2.tsx
  packages/ui/src/pages/default.scss
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

udpdate changeset
  .changeset/curvy-planets-eat.md
Due: prettier --write

fix: test errors
  packages/graph-engine/src/nodes/input/json.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Feat/json node (#36)
  .changeset/curvy-planets-eat.md
  packages/graph-engine/package.json
  packages/graph-engine/readme.md
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/src/nodes/input/index.ts
  packages/graph-engine/src/nodes/input/json.ts
  packages/graph-engine/src/nodes/typing/index.ts
  packages/graph-engine/src/nodes/typing/parseUnit.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/src/utils/index.ts
  packages/ui/package.json
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/handles.tsx
  packages/ui/src/components/flow/nodes/generic/inputNode.tsx
  packages/ui/src/components/flow/nodes/generic/jsonNode.tsx
  packages/ui/src/components/flow/nodes/generic/parseUnit.tsx
  packages/ui/src/components/flow/nodes/hooks/useIsValidConnection.ts
  packages/ui/src/components/flow/nodes/index.ts
  packages/ui/src/components/flow/nodes/output/cssMapNode.tsx
  packages/ui/src/components/flow/wrapper/node.tsx
  packages/ui/src/components/flow/wrapper/nodeV2.tsx
  packages/ui/src/pages/default.scss
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix: upgrade nextra-theme-docs from 2.7.1 to 2.8.0
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

fix: upgrade nextra from 2.7.1 to 2.8.0
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

fix build
  packages/graph-editor/.gitignore
  packages/graph-editor/rollup.config.mjs
  packages/graph-editor/tsconfig.json
Due: none

rm export
  packages/graph-editor/src/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
