Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

remove unused icon
  packages/graph-editor/src/components/flow/edges/edge.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Node Style refactoring (#417)
  .changeset/fluffy-pants-yell.md
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/layouts/dagre.tsx
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/tokens/colors.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add next auth and prisma
  .gitignore
  data/.gitkeep
  data/keto/keto.yml
  data/kratos/identity.schema.json
  data/kratos/kratos.yml
  data/oathkeeper/access-rules.yml
  data/oathkeeper/id_token.jwks.json
  data/oathkeeper/oathkeeper.yml
  docker-compose.yaml
  k8s/charts/mailslurper/Chart.yaml
  k8s/charts/mailslurper/templates/_helpers.tpl
  k8s/charts/mailslurper/templates/deployment.yaml
  k8s/charts/mailslurper/templates/ingress.yaml
  k8s/charts/mailslurper/templates/service.yaml
  k8s/charts/mailslurper/values.yaml
  k8s/values/kratos/values.yaml
  k8s/values/postgresql/values.yaml
  packages/documentation/docs/technical/api.mdx
  packages/ui/.env
  packages/ui/package.json
  packages/ui/prisma/migrations/20240702172118_init/migration.sql
  packages/ui/prisma/migrations/migration_lock.toml
  packages/ui/prisma/schema.prisma
  packages/ui/src/app/api/[...nextauth]/route.ts
  packages/ui/src/app/dashboard/layout.tsx
  packages/ui/src/app/dashboard/page.tsx
  packages/ui/src/app/editor/page.tsx
  packages/ui/src/auth/index.ts
  packages/ui/src/components/ExamplesPicker.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/rail.tsx
  packages/ui/src/middleware/index.ts
  packages/ui/src/pages/index.tsx
  packages/ui/tsconfig.json
  skaffold.yaml
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

remove legend from default panel layout
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add next auth and prisma (#420)
  .gitignore
  data/.gitkeep
  data/keto/keto.yml
  data/kratos/identity.schema.json
  data/kratos/kratos.yml
  data/oathkeeper/access-rules.yml
  data/oathkeeper/id_token.jwks.json
  data/oathkeeper/oathkeeper.yml
  docker-compose.yaml
  k8s/charts/mailslurper/Chart.yaml
  k8s/charts/mailslurper/templates/_helpers.tpl
  k8s/charts/mailslurper/templates/deployment.yaml
  k8s/charts/mailslurper/templates/ingress.yaml
  k8s/charts/mailslurper/templates/service.yaml
  k8s/charts/mailslurper/values.yaml
  k8s/values/kratos/values.yaml
  k8s/values/postgresql/values.yaml
  packages/documentation/docs/technical/api.mdx
  packages/ui/.env
  packages/ui/package.json
  packages/ui/prisma/migrations/20240702172118_init/migration.sql
  packages/ui/prisma/migrations/migration_lock.toml
  packages/ui/prisma/schema.prisma
  packages/ui/src/app/api/[...nextauth]/route.ts
  packages/ui/src/app/dashboard/layout.tsx
  packages/ui/src/app/dashboard/page.tsx
  packages/ui/src/app/editor/page.tsx
  packages/ui/src/auth/index.ts
  packages/ui/src/components/ExamplesPicker.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/rail.tsx
  packages/ui/src/middleware/index.ts
  packages/ui/src/pages/index.tsx
  packages/ui/tsconfig.json
  skaffold.yaml
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

remove icon from handle, remove animation, change shape to square for array
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/css/reactflow.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove legend from default panel layout (#419)
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove icon from handle, remove animation, change shape to square for array (#421)
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/css/reactflow.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

only show array port if not port id
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix curve color, change default color from white to lime, make legend popout bigger
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/toolbar/hooks/useLayoutButton.tsx
  packages/graph-editor/src/tokens/colors.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix curve color, change default color from white to lime, make legend popout bigger (#424)
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/toolbar/hooks/useLayoutButton.tsx
  packages/graph-editor/src/tokens/colors.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

only show array port if not port id (#422)
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix testing
  packages/graph-engine/src/nodes/color/lib/types.ts
  packages/graph-engine/tests/suites/nodes/color/blend.test.ts
  packages/graph-engine/tests/suites/nodes/color/convert.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add range mapping node (#386)
  .changeset/metal-garlics-refuse.md
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/nodes/math/rangeMapping.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add deconstruct color node
  .changeset/rare-seas-shave.md
  packages/graph-engine/src/nodes/color/deconstruct.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/lib/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

feat: clean up publishing to NPM WIP
  packages/backend/package.json
  packages/backend/tsup.config.ts
  packages/eslint-config-custom/package.json
  packages/graph-editor/package.json
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-editor/tsup.config.ts
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/css/cssFunction.ts
  packages/graph-engine/tsup.config.ts
  packages/migrations/package.json
  packages/migrations/tsup.config.ts
  packages/nodes-audio/package.json
  packages/nodes-audio/tsup.config.ts
  packages/nodes-design-tokens/package.json
  packages/nodes-design-tokens/tsup.config.ts
  packages/sdk/package.json
  packages/sdk/tsup.config.ts
  packages/storybook-lit/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix env injection
  packages/graph-engine/web-test-runner.config.mjs
Due: none

Run format
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/curves/bezier.ts
  packages/graph-engine/src/nodes/curves/index.ts
  packages/graph-engine/src/nodes/curves/presetBeziers.ts
  packages/graph-engine/src/programmatic/edge.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/programmatic/port.ts
  packages/ui/src/components/panels/fs.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Test passing CI
  .github/workflows/pr-ci.yml
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/programmatic/edge.ts
  packages/graph-engine/src/programmatic/input.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/programmatic/output.ts
  packages/graph-engine/src/programmatic/port.ts
  packages/ui/src/mobx/index.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

chore: gitignore coverage folder, upgrade color-blind-esm
  .gitignore
  packages/graph-engine/package.json
  packages/ui/next.config.mjs
  yarn.lock
Due: npx prettier-package-json --write package.json

chore: migrate nodes-design-tokens from jest to vitest
  .github/workflows/pr-ci.yml
  packages/nodes-design-tokens/jest.config.ts
  packages/nodes-design-tokens/package.json
  packages/nodes-design-tokens/vitest.config.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

chore: fix merge conflicts
  packages/graph-engine/src/nodes/array/filter.ts
  packages/graph-engine/src/nodes/array/find.ts
  packages/graph-engine/src/nodes/array/flatten.ts
  packages/graph-engine/src/nodes/array/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

chore: final cleanup pkg jsons
  packages/backend/package.json
  packages/graph-editor/package.json
  packages/migrations/package.json
  packages/nodes-audio/package.json
  packages/sdk/package.json
  packages/storybook-lit/package.json
  packages/storybook-react/package.json
Due: npx prettier-package-json --write package.json

chore: add changeset
  .changeset/khaki-coats-smoke.md
Due: prettier --write

Fix deployment
  .gimlet/graph-engine.yaml
  .github/workflows/gimlet.yml
Due: none

Fix changeset
  .changeset/khaki-coats-smoke.md
Due: prettier --write

Fix jest references still lingering
  .vscode/app-monorepo.code-workspace
  .vscode/launch.json
  packages/documentation/.prettierignore
  packages/documentation/docs/guides/developers/engine/creating-a-node.md
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/graph-editor/package.json
  packages/graph-engine/babel.config.cjs
  packages/graph-engine/jest.config.ts
  packages/graph-engine/tsconfig.json
  packages/migrations/babel.config.cjs
  packages/migrations/jest.config.ts
  packages/migrations/package.json
  packages/migrations/tests/data/processed/basic.json
  packages/migrations/tests/data/raw/basic.json
  packages/migrations/tsconfig.json
  packages/migrations/tsconfig.test.json
  packages/nodes-audio/babel.config.cjs
  packages/nodes-audio/jest.config.ts
  packages/nodes-audio/package.json
  packages/nodes-audio/tsconfig.json
  packages/nodes-audio/tsconfig.prod.json
  packages/nodes-audio/tsconfig.test.json
  packages/nodes-design-tokens/babel.config.cjs
  packages/nodes-design-tokens/tsconfig.json
  packages/nodes-design-tokens/tsconfig.prod.json
  packages/nodes-design-tokens/tsconfig.test.json
  packages/storybook-react/tsconfig.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Format
  packages/graph-engine/tsconfig.json
  packages/migrations/tsconfig.json
  packages/nodes-audio/tsconfig.json
  packages/nodes-audio/tsconfig.prod.json
  packages/nodes-design-tokens/tsconfig.json
  packages/nodes-design-tokens/tsconfig.prod.json
  packages/storybook-react/tsconfig.json
Due: none

Fix changeset (#441)
  .changeset/khaki-coats-smoke.md
  .vscode/app-monorepo.code-workspace
  .vscode/launch.json
  packages/documentation/.prettierignore
  packages/documentation/docs/guides/developers/engine/creating-a-node.md
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/graph-editor/package.json
  packages/graph-engine/babel.config.cjs
  packages/graph-engine/jest.config.ts
  packages/graph-engine/tsconfig.json
  packages/migrations/babel.config.cjs
  packages/migrations/jest.config.ts
  packages/migrations/package.json
  packages/migrations/tests/data/processed/basic.json
  packages/migrations/tests/data/raw/basic.json
  packages/migrations/tsconfig.json
  packages/migrations/tsconfig.test.json
  packages/nodes-audio/babel.config.cjs
  packages/nodes-audio/jest.config.ts
  packages/nodes-audio/package.json
  packages/nodes-audio/tsconfig.json
  packages/nodes-audio/tsconfig.prod.json
  packages/nodes-audio/tsconfig.test.json
  packages/nodes-design-tokens/babel.config.cjs
  packages/nodes-design-tokens/tsconfig.json
  packages/nodes-design-tokens/tsconfig.prod.json
  packages/nodes-design-tokens/tsconfig.test.json
  packages/storybook-react/tsconfig.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix build script with patches
  packages/ui/Dockerfile
Due: none

Fix build script with patches (#442)
  packages/ui/Dockerfile
Due: none
