Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

added 'hex' to Color To String output dropdown (#586)
  package-lock.json
  packages/graph-editor/src/data/version.ts
  packages/graph-engine/src/nodes/color/colorToString.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixing linting issues
  packages/nodes-figma/.eslintignore
  packages/nodes-figma/.eslintrc.cjs
  packages/nodes-figma/.prettierignore
  packages/nodes-figma/.prettierrc.json
  packages/nodes-figma/src/index.ts
  packages/nodes-figma/src/nodes/codeSyntax.ts
  packages/nodes-figma/src/nodes/index.ts
  packages/nodes-figma/src/nodes/publish.ts
  packages/nodes-figma/src/nodes/scopeAll.ts
  packages/nodes-figma/src/nodes/scopeColor.ts
  packages/nodes-figma/src/nodes/scopeNumber.ts
  packages/nodes-figma/src/nodes/scopeString.ts
  packages/nodes-figma/src/schemas/utils.ts
  packages/nodes-figma/src/types/scopes.ts
  packages/nodes-figma/src/utils/tokenMerge.ts
  packages/nodes-figma/tests/codeSyntax.test.ts
  packages/nodes-figma/tests/publish.test.ts
  packages/nodes-figma/tests/scopeAll.test.ts
  packages/nodes-figma/tests/scopeColor.test.ts
  packages/nodes-figma/tests/scopeNumber.test.ts
  packages/nodes-figma/tests/scopeString.test.ts
  packages/nodes-figma/tsconfig.docs.json
  packages/nodes-figma/tsconfig.json
  packages/nodes-figma/tsconfig.prod.json
  packages/nodes-figma/typedoc.json
  packages/nodes-figma/vitest.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

more linting issues
  packages/nodes-figma/src/nodes/scopeByType.ts
  packages/nodes-figma/tests/scopeByType.test.ts
  packages/ui/src/api/middleware.ts/auth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed Node.load() not returning value (#590)
  packages/graph-engine/src/programmatic/node.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed linting issue
  packages/ui/src/api/middleware.ts/auth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add hex to color space
  .changeset/slow-lobsters-hug.md
  packages/graph-engine/src/nodes/color/colorToString.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix input
  packages/graph-engine/src/nodes/color/colorToString.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix prettier
  packages/nodes-figma/.dockerignore
  packages/nodes-figma/.eslintignore
  packages/nodes-figma/.eslintrc.cjs
  packages/nodes-figma/.prettierignore
  packages/nodes-figma/.prettierrc.json
  packages/nodes-figma/src/index.ts
  packages/nodes-figma/src/nodes/codeSyntax.ts
  packages/nodes-figma/src/nodes/index.ts
  packages/nodes-figma/src/nodes/publish.ts
  packages/nodes-figma/src/nodes/scopeAll.ts
  packages/nodes-figma/src/nodes/scopeByType.ts
  packages/nodes-figma/src/nodes/scopeColor.ts
  packages/nodes-figma/src/nodes/scopeNumber.ts
  packages/nodes-figma/src/nodes/scopeString.ts
  packages/nodes-figma/src/schemas/utils.ts
  packages/nodes-figma/src/types/scopes.ts
  packages/nodes-figma/src/utils/tokenMerge.ts
  packages/nodes-figma/tests/codeSyntax.test.ts
  packages/nodes-figma/tests/publish.test.ts
  packages/nodes-figma/tests/scopeAll.test.ts
  packages/nodes-figma/tests/scopeByType.test.ts
  packages/nodes-figma/tests/scopeColor.test.ts
  packages/nodes-figma/tests/scopeNumber.test.ts
  packages/nodes-figma/tests/scopeString.test.ts
  packages/nodes-figma/tsconfig.docs.json
  packages/nodes-figma/tsconfig.json
  packages/nodes-figma/tsconfig.prod.json
  packages/nodes-figma/typedoc.json
  packages/nodes-figma/vitest.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

version bump, format
  packages/graph-editor/src/data/version.ts
  packages/ui/src/api/middleware.ts/auth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

changeset
  .changeset/orange-panthers-occur.md
Due: prettier --write

change null to undefined
  packages/graph-engine/src/nodes/search/findFirst.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fixes an issue with loading not working , relaxes restriction on requiring an input nodes as part of execution via options
  .changeset/large-peas-dance.md
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/tests/suites/graph/execution.test.ts
  packages/graph-engine/tests/suites/graph/opts.test.ts
  packages/graph-engine/vitest.config.ts.timestamp-1732108255012-05584d17095ba.mjs
  packages/ui/src/api/middleware.ts/auth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fixes an issue with loading not working , relaxes restriction on requiring an input nodes as part of execution via options (#594)
  .changeset/large-peas-dance.md
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/tests/suites/graph/execution.test.ts
  packages/graph-engine/tests/suites/graph/opts.test.ts
  packages/graph-engine/vitest.config.ts.timestamp-1732108255012-05584d17095ba.mjs
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[WIP] writing test for Node.load()
  packages/graph-editor/src/data/version.ts
  packages/graph-engine/tests/data/processed/loading.ts
  packages/graph-engine/tests/suites/loading.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add delimiter
  packages/graph-engine/src/nodes/string/case.ts
  packages/graph-engine/tests/suites/nodes/string/case.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

address comments
  packages/graph-engine/src/nodes/color/colorToString.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

use replaceAll
  packages/graph-engine/src/nodes/string/case.ts
  packages/graph-engine/tests/suites/nodes/string/case.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix test case
  packages/graph-engine/tests/suites/nodes/search/findFirst.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

version bump
  .changeset/few-experts-sip.md
  packages/graph-editor/src/data/version.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Delete .changeset/few-experts-sip.md
  .changeset/few-experts-sip.md
Due: prettier --write

update test case
  packages/graph-engine/tests/suites/nodes/string/case.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove-stiches
  packages/graph-editor/.storybook/preview.module.css
  packages/graph-editor/.storybook/preview.tsx
  packages/graph-editor/package.json
  packages/storybook-react/package.json
  packages/ui/package.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix port visibility
  .changeset/cold-teachers-shout.md
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix yarn
  yarn.lock
Due: none

Fix port visibility (#598)
  .changeset/cold-teachers-shout.md
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix major versioning
  .changeset/config.json
Due: none

Fix major versioning (#600)
  .changeset/config.json
Due: none

Fixes minor issues
  .changeset/gold-jobs-buy.md
  .changeset/gold-pianos-kiss.md
  .changeset/quiet-bees-explode.md
  .changeset/warm-zebras-sip.md
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
  packages/graph-editor/src/components/preview/swatch.tsx
  packages/graph-editor/src/data/preset.ts
  packages/graph-editor/src/data/presetDark.ts
  packages/graph-editor/src/data/presetLight.ts
  packages/graph-editor/src/data/tiny/core.ts
  packages/graph-editor/src/data/tiny/dark.ts
  packages/graph-editor/src/data/tiny/light.ts
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/actions/clear.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/graph/interfaces.ts
  packages/graph-engine/src/index.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/programmatic/port.ts
  packages/graph-engine/tests/suites/nodes/color/deconstruct.test.ts
  packages/ui/src/data/examples/colorScale.json
  packages/ui/src/data/examples/leonardo.json
  packages/ui/src/data/examples/typescale.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fixes minor issues (#601)
  .changeset/gold-jobs-buy.md
  .changeset/gold-pianos-kiss.md
  .changeset/quiet-bees-explode.md
  .changeset/warm-zebras-sip.md
  packages/graph-editor/src/components/panels/nodeSettings/index.tsx
  packages/graph-editor/src/components/preview/swatch.tsx
  packages/graph-editor/src/data/preset.ts
  packages/graph-editor/src/data/presetDark.ts
  packages/graph-editor/src/data/presetLight.ts
  packages/graph-editor/src/data/tiny/core.ts
  packages/graph-editor/src/data/tiny/dark.ts
  packages/graph-editor/src/data/tiny/light.ts
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/actions/clear.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/graph/interfaces.ts
  packages/graph-engine/src/index.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/programmatic/port.ts
  packages/graph-engine/tests/suites/nodes/color/deconstruct.test.ts
  packages/ui/src/data/examples/colorScale.json
  packages/ui/src/data/examples/leonardo.json
  packages/ui/src/data/examples/typescale.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup stitches
  packages/graph-editor/.storybook/preview.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove-stiches (#599)
  packages/graph-editor/.storybook/preview.module.css
  packages/graph-editor/.storybook/preview.tsx
  packages/graph-editor/package.json
  packages/storybook-react/package.json
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Selector to collect nodes in the main graph
  packages/graph-editor/src/redux/selectors/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add navigator panel
  packages/graph-editor/src/components/panels/index.tsx
  packages/graph-editor/src/components/panels/navigator/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/layout.tsx
  packages/graph-editor/src/components/toolbar/layoutButtons.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Make subgraphs navigateable
  packages/graph-editor/src/components/panels/navigator/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Extract callback
  packages/graph-editor/src/components/panels/navigator/index.tsx
  packages/graph-editor/src/registry/specifics.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Silence ts innerGraph errors
  packages/graph-editor/src/components/panels/navigator/index.tsx
  packages/graph-editor/src/redux/selectors/graph.ts
  packages/graph-editor/src/registry/specifics.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add pruning support in the pipeline for CI to aid with speed
  .github/workflows/pr-ci.yml
  scripts/diff.js
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add gitkeep for out
  out/.gitkeep
Due: none

Fix schema being incorrect for a token set
  .changeset/wicked-planes-talk.md
  .github/workflows/pr-ci.yml
  packages/nodes-design-tokens/src/schemas/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Upgrade turbo
  .github/workflows/pr-ci.yml
  package.json
  yarn.lock
Due: npx prettier-package-json --write package.json
