Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

Setup for gitpod
  .gitpod.yml
  packages/backend/tsoa.json
Due: none

Cleanup build type errors
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/hooks/useIsValidConnection.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

More gitpod setup
  .gitpod.yml
  docker-compose.yaml
Due: none

Additional setup for app router conversion
  packages/graph-editor/src/hooks/useIsValidConnection.ts
  packages/migrations/src/index.ts
  packages/ui/next.config.mjs
  packages/ui/package.json
  packages/ui/src/app/contexts.tsx
  packages/ui/src/app/dashboard/contexts.tsx
  packages/ui/src/app/dashboard/help/page.tsx
  packages/ui/src/app/dashboard/layout.tsx
  packages/ui/src/app/dashboard/page.tsx
  packages/ui/src/app/dashboard/settings/page.tsx
  packages/ui/src/app/layout.tsx
  packages/ui/src/app/page.tsx
  packages/ui/src/app/registry.tsx
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/editor/menu.tsx
  packages/ui/src/components/preview/contextExamples/lion/button.ts
  packages/ui/src/components/preview/contextExamples/lion/context.ts
  packages/ui/src/components/preview/contextExamples/lion/index.ts
  packages/ui/src/components/preview/contextExamples/lion/switch.ts
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/components/preview/scope.tsx
  packages/ui/src/components/rail.tsx
  packages/ui/src/pages/_app.tsx
  packages/ui/src/pages/dashboard/editor.tsx
  packages/ui/src/pages/executions.tsx
  packages/ui/src/pages/help.tsx
  packages/ui/src/pages/settings.tsx
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/styles/styles.scss
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix for Marco
  .gitpod.yml
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/scripts/generate.ts
  packages/sdk/src/generated/core/ApiError.ts
  packages/sdk/src/generated/core/ApiRequestOptions.ts
  packages/sdk/src/generated/core/ApiResult.ts
  packages/sdk/src/generated/core/CancelablePromise.ts
  packages/sdk/src/generated/core/OpenAPI.ts
  packages/sdk/src/generated/core/request.ts
  packages/sdk/src/generated/index.ts
  packages/sdk/src/generated/schemas.gen.ts
  packages/sdk/src/generated/services.gen.ts
  packages/sdk/src/generated/types.gen.ts
  packages/sdk/swagger.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix style ordering
  packages/ui/src/pages/_app.tsx
  packages/ui/src/pages/dashboard/editor.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Finish converting other node packages to use tsup
  packages/graph-engine/package.json
  packages/graph-engine/src/utils/tokenFiles.ts
  packages/nodes-audio/package.json
  packages/nodes-audio/rollup.config.mjs
  packages/nodes-audio/src/ui/index.tsx
  packages/nodes-audio/tsconfig.json
  packages/nodes-audio/tsup.config.ts
  packages/nodes-design-tokens/package.json
  packages/nodes-design-tokens/src/nodes/externalTokens.ts
  packages/nodes-design-tokens/src/nodes/extractSingleToken.ts
  packages/nodes-design-tokens/src/nodes/flatten.ts
  packages/nodes-design-tokens/src/nodes/group.ts
  packages/nodes-design-tokens/src/nodes/inlineTokens.ts
  packages/nodes-design-tokens/src/nodes/invert.ts
  packages/nodes-design-tokens/src/nodes/name.ts
  packages/nodes-design-tokens/src/nodes/nearest.ts
  packages/nodes-design-tokens/src/nodes/resolve.ts
  packages/nodes-design-tokens/src/nodes/ungroup.ts
  packages/nodes-design-tokens/src/ui/controls/index.tsx
  packages/nodes-design-tokens/src/ui/controls/tokenSet.tsx
  packages/nodes-design-tokens/tsconfig.json
  packages/nodes-design-tokens/tsup.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix missing tsx for tsup
  packages/graph-engine/src/nodes/curves/index.ts
  packages/graph-engine/src/nodes/curves/sample.ts
  packages/nodes-audio/tsup.config.ts
  packages/nodes-design-tokens/tsup.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issue with token preview if undefined
  packages/nodes-design-tokens/src/ui/controls/token.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix menu bombing due to nextjs removing svg loader
  packages/ui/src/components/editor/menu.tsx
  packages/ui/src/declarations.d.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove old rollup file
  packages/nodes-design-tokens/rollup.config.mjs
Due: none

Continued rollup removal
  packages/nodes-design-tokens/package.json
  packages/sdk/rollup.config.mjs
Due: npx prettier-package-json --write package.json

add new colors for types on handles
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/tokens/colors.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

change size of handle icon
  packages/graph-editor/src/css/reactflow.css
Due: none

Update tsup configs
  packages/graph-editor/tsup.config.ts
  packages/graph-engine/tsup.config.ts
  packages/nodes-audio/tsup.config.ts
  packages/nodes-design-tokens/tsup.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix type problem with engine bundling
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-engine/package.json
  packages/graph-engine/src/schemas/index.ts
  packages/graph-engine/tsup.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix build splitting
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-engine/tsup.config.ts
  packages/sdk/tsup.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup hotkeys
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/redux/index.tsx
  packages/graph-editor/src/redux/models/registry.ts
  packages/graph-editor/src/redux/selectors/registry.ts
  packages/graph-engine/tsup.config.ts
  packages/ui/src/components/editor/menu.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix external sanitize usage
  packages/ui/src/pages/_app.tsx
  packages/ui/src/pages/_document.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add radix ui colors
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/legend/index.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/index.scss
  packages/graph-editor/src/lib/stitches/index.ts
  packages/graph-editor/src/tokens/colors.ts
  packages/ui/src/app/dashboard/help/page.tsx
  packages/ui/src/app/dashboard/page.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/rail.tsx
  packages/ui/src/styles/styles.scss
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Cleanup docker build
  .dockerignore
  .gimlet/graph-engine.yaml
  .github/workflows/preview.yml
  dockercompose.build.yaml
  packages/documentation/.dockerignore
  packages/documentation/Dockerfile
  packages/documentation/src/components/HomepageFeatures/index.tsx
  packages/documentation/src/css/custom.css
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/context/graph.tsx
  packages/graph-editor/src/editor/actions/deleteNode.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/generic/index.ts
  packages/ui/next.config.mjs
  packages/ui/package.json
  packages/ui/src/app/dashboard/settings/page.tsx
  packages/ui/src/app/layout.tsx
  packages/ui/src/app/manifest.json
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editor/menu.tsx
  packages/ui/src/components/panels/permutator.tsx
  packages/ui/src/components/rail.tsx
  packages/ui/src/data/examples/examples.tsx
  packages/ui/src/image.d.ts
  packages/ui/src/link.d.ts
  packages/ui/src/pages/dashboard/editor.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update dep for design-tokens
  packages/nodes-design-tokens/package.json
Due: npx prettier-package-json --write package.json

Fix host name on deploy
  .gimlet/graph-engine.yaml
  packages/ui/.env
Due: none

Fix for readiness probe
  .gimlet/graph-engine.yaml
Due: none

Stop redirecting on index
  .gimlet/graph-engine.yaml
  packages/ui/src/app/page.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove second level domain
  .gimlet/graph-engine.yaml
Due: none

Revert
  .gimlet/graph-engine.yaml
Due: none

Add typograph preview specifics
  packages/backend/tsup.config.ts
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/redux/index.tsx
  packages/graph-editor/src/redux/models/registry.ts
  packages/graph-editor/tsup.config.ts
  packages/graph-engine/tsup.config.ts
  packages/migrations/tsup.config.ts
  packages/nodes-audio/tsup.config.ts
  packages/nodes-design-tokens/src/nodes/index.ts
  packages/nodes-design-tokens/src/nodes/previewTypography.ts
  packages/nodes-design-tokens/src/ui/index.tsx
  packages/nodes-design-tokens/src/ui/nodes/index.tsx
  packages/nodes-design-tokens/src/ui/nodes/typography.tsx
  packages/nodes-design-tokens/tsup.config.ts
  packages/sdk/tsup.config.ts
  packages/ui/src/components/editor/data.ts
  packages/ui/src/components/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add building the backend and docs to workflow
  .github/workflows/preview.yml
Due: none

Make the docs use the same dev command as everything else
  packages/documentation/package.json
Due: npx prettier-package-json --write package.json

Fix variadic typing for Marco
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/panels/legend/index.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/tokens/colors.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/schemas/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Change build command for documentation
  package.json
Due: npx prettier-package-json --write package.json

Allow dynamic inputs for array map subgraph
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/schemas/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issue with subgraph typing for tokens
  packages/graph-editor/src/layouts/dagre.tsx
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/nodes-design-tokens/src/schemas/index.ts
  packages/nodes-design-tokens/src/ui/nodes/typography.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Minor fix to display the font size
  packages/nodes-design-tokens/src/nodes/previewTypography.ts
  packages/nodes-design-tokens/src/ui/nodes/typography.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add cypress testing to graph-editor
  packages/graph-editor/cypress.config.ts
  packages/graph-editor/cypress/e2e/nodes.cy.ts
  packages/graph-editor/cypress/e2e/smoke.cy.ts
  packages/graph-editor/cypress/fixtures/example.json
  packages/graph-editor/cypress/plugins/index.js
  packages/graph-editor/cypress/support/commands.ts
  packages/graph-editor/cypress/support/e2e.ts
  packages/graph-editor/cypress/support/index.js
  packages/graph-editor/cypress/tsconfig.json
  packages/graph-editor/examples/defaults/index.css
  packages/graph-editor/examples/defaults/index.html
  packages/graph-editor/examples/defaults/initialLayout.json
  packages/graph-editor/examples/defaults/main.tsx
  packages/graph-editor/examples/defaults/package.json
  packages/graph-editor/examples/defaults/readme.md
  packages/graph-editor/package.json
  packages/graph-editor/readme.md
  packages/graph-editor/src/components/panels/dropPanel/DragItem.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/tsconfig.json
  packages/graph-editor/vite.config.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Deploy graph docs
  .gimlet/graph-engine-docs.yaml
  .github/workflows/preview.yml
Due: none

Re add up to date position changes
  packages/graph-editor/src/editor/graph.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
