Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fixed spelling mistake
  packages/nodes-design-tokens/src/nodes/setToArray.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added changeset
  .changeset/tough-scissors-crash.md
Due: prettier --write

added save file dialog when downloading graph
  packages/graph-editor/src/components/toolbar/buttons/download.tsx
  packages/graph-editor/src/components/toolbar/buttons/upload.tsx
  packages/graph-editor/src/utils/saveGraph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fixed not being able to drag nodes at same Y as the toolbar
  .changeset/proud-balloons-remember.md
  packages/graph-editor/src/components/toolbar/toolbar.module.css
  packages/graph-editor/src/editor/graph.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

moved CSS to modules file
  packages/graph-editor/src/components/toolbar/toolbar.module.css
  packages/graph-editor/src/editor/graph.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Address comments , externalize previews out of the editor
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/redux/index.tsx
  packages/graph-editor/src/redux/models/registry.ts
  packages/graph-editor/src/redux/selectors/registry.ts
  packages/nodes-previews/src/color/scale/panel.module.css
  packages/nodes-previews/src/dimension/scale/panel.tsx
  packages/nodes-previews/src/token/palette/panel.tsx
  packages/nodes-previews/src/token/table/panel.tsx
  packages/nodes-previews/src/token/typography/panel.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editor/layout.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix typo
  packages/nodes-previews/src/color/scale/panel.module.css
Due: none

Fix Typo
  packages/nodes-previews/src/color/scale/panel.module.css
Due: none

small fixes
  packages/nodes-previews/src/index.ts
  packages/nodes-previews/src/token/palette/node.ts
  packages/ui/src/components/editor/previewItem.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

move dimension preview
  packages/nodes-previews/src/index.ts
  packages/nodes-previews/src/token/dimension/node.ts
  packages/nodes-previews/src/token/dimension/panel.module.css
  packages/nodes-previews/src/token/dimension/panel.tsx
  packages/nodes-previews/src/token/dimension/specific.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix rebase issues
  packages/nodes-design-tokens/src/ui/controls/token.tsx
  packages/nodes-design-tokens/src/ui/controls/tokenArray.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editor/layout.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed styling of handles (#638)
  packages/graph-editor/src/components/flow/handles.module.css
  packages/graph-editor/src/components/flow/wrapper/nodeV2.module.css
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added changeset
  .changeset/serious-poems-burn.md
Due: prettier --write

updated upload artifact to v4
  .github/workflows/pr-ci.yml
Due: none

fixed not being able to click out of command palette (#541)
  .changeset/tricky-onions-care.md
  packages/graph-editor/src/components/commandPalette/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed edge anchor styling (#639)
  .changeset/dull-buses-press.md
  packages/graph-editor/src/components/flow/nodes/passthroughNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

updated padding to component spacing
  packages/graph-editor/src/components/flow/nodes/passthroughNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix inverted node
  packages/nodes-design-tokens/src/nodes/invert.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/early-eyes-do.md
Due: prettier --write

fix lint
  packages/nodes-design-tokens/src/nodes/invert.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix breaking Id issue
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Formatting
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

removed dark mode treatment of live types
  packages/graph-editor/src/components/flow/wrapper/nodeV2.module.css
Due: none

Fix breaking Id issue from preview feature (#644)
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Start implementing frames
  .changeset/giant-steaks-jump.md
  .changeset/wild-cars-kiss.md
  packages/graph-editor/src/components/contextMenus/paneContextMenu.tsx
  packages/graph-editor/src/components/controls/interface.tsx
  packages/graph-editor/src/components/dialogs/findDialog.tsx
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/nodes/passthroughNode.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/panels/legend/index.tsx
  packages/graph-editor/src/components/panels/settings/index.tsx
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/add.tsx
  packages/graph-editor/src/components/toolbar/toolbar.tsx
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-editor/src/context/ExternalLoaderContext.tsx
  packages/graph-editor/src/context/index.ts
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/hooks/useAutolayout.ts
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/redux/models/registry.ts
  packages/graph-editor/src/redux/selectors/registry.ts
  packages/graph-editor/src/system/frame/hook.tsx
  packages/graph-editor/src/system/frame/index.tsx
  packages/graph-editor/src/system/frame/settings.tsx
  packages/graph-editor/src/system/index.tsx
  packages/ui/src/app/editor/page.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editor/toolbar.tsx
  packages/ui/src/components/editor/toolbar/ai.tsx
  packages/ui/src/components/editor/toolbar/index.tsx
  packages/ui/src/components/editor/toolbar/share.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add changeset
  .changeset/large-dogs-melt.md
Due: prettier --write

Add changeset (#646)
  .changeset/large-dogs-melt.md
Due: prettier --write

Format
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/contextMenus/paneContextMenu.tsx
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/panels/shortcuts/index.tsx
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/context/graph.tsx
  packages/graph-editor/src/editor/actions/connect.ts
  packages/graph-editor/src/editor/actions/copyNodes.tsx
  packages/graph-editor/src/editor/actions/duplicate.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/hooks/useIsValidConnection.ts
  packages/graph-editor/src/redux/models/graph.ts
  packages/graph-editor/src/registry/control.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-editor/src/types/index.ts
  packages/graph-editor/vite.config.ts
  packages/graph-engine/src/capabilities/dataflow.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Move execute out of the dataflow capability
  packages/graph-engine/src/capabilities/dataflow.ts
  packages/vscode-example-workspace/nodes/example/metadata.yaml
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Extract the execute function out of the dataflow engine
  packages/graph-engine/src/capabilities/dataflow.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Seperate out play controls and controlflow
  packages/graph-engine/src/capabilities/controlFlow.ts
  packages/graph-engine/src/capabilities/dataflow.ts
  packages/graph-engine/src/capabilities/hybridFlow.ts
  packages/graph-engine/src/capabilities/playState.ts
  packages/graph-engine/src/programmatic/nodes/playControl.ts
  packages/vscode-example-workspace/metadata.yaml
  packages/vscode-example-workspace/nodes/example/metadata.yaml
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[WIP] added dropdown
  packages/nodes-design-tokens/src/nodes/externalTokens.ts
  packages/nodes-design-tokens/src/ui/controls/externalTokenSet.tsx
  packages/nodes-design-tokens/src/ui/controls/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[WIP] dropdown works
  packages/nodes-design-tokens/src/nodes/externalTokens.ts
  packages/nodes-design-tokens/src/ui/controls/externalTokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added useClickOutside hook
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/hooks/useClickOutside.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

removed check for mentions
  packages/graph-editor/src/hooks/useClickOutside.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

removed studio-related workaround
  packages/graph-editor/src/hooks/useClickOutside.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
