Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

[WIP] added containsThemeContextNode icons and warning
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-engine/src/annotations/index.ts
  packages/graph-engine/src/graph/graph.ts
  packages/nodes-design-tokens/src/ui/controls/externalTokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[WIP] added static/dynamic icons and emboldened folders
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/nodes-design-tokens/src/ui/controls/externalTokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[WIP] fixed incorrect lookup update
  packages/graph-editor/src/components/flow/nodes/loadingNode.tsx
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-engine/src/annotations/index.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/nodes-design-tokens/src/nodes/externalTokens.ts
  packages/nodes-design-tokens/src/ui/controls/externalTokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix caching
  .changeset/two-carpets-kneel.md
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[WIP] added info markers and warning dialogs to dropdown items
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-editor/src/context/GraphGeneratorIdContext.tsx
  packages/graph-editor/src/context/graph.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/nodes-design-tokens/src/nodes/externalTokens.ts
  packages/nodes-design-tokens/src/ui/controls/externalTokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

updated actions/upload-artifact to v4 again
  .github/workflows/pr-ci.yml
Due: none

added arrays to constant node (#650)
  packages/graph-editor/src/components/controls/any.tsx
  packages/graph-engine/src/nodes/generic/constant.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added changeset
  .changeset/sweet-lizards-marry.md
Due: prettier --write

restored strong typing
  packages/graph-engine/src/nodes/generic/constant.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

use loader in subgraphs
  .changeset/rich-ducks-retire.md
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add tests
  packages/graph-engine/tests/suites/graph/subgraph.test.ts
  packages/graph-engine/tests/suites/nodes/array/arrayMap.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix lint
  packages/graph-engine/tests/suites/graph/subgraph.test.ts
  packages/graph-engine/tests/suites/nodes/array/arrayMap.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed MMB pan incorrectly selecting nodes and edges (#637)
  .changeset/violet-wasps-learn.md
  packages/graph-editor/src/editor/graph.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed bottom padding on passthrough node (#655)
  packages/graph-editor/src/components/flow/handles.module.css
Due: none

fixed incorrect empty URI error in ExternalSet (#2136)
  packages/nodes-design-tokens/src/nodes/externalTokens.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add contrasting from array node
  .changeset/five-spiders-stare.md
  packages/graph-engine/src/nodes/color/contrastingFromArray.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/tests/suites/nodes/color/contrastingFromArray.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added copy/paste to graph editor (#552)
  .changeset/stale-countries-refuse.md
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/contextMenus/paneContextMenu.tsx
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/editor/actions/deleteSelectedNodes.tsx
  packages/graph-editor/src/hooks/useCopyPaste.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add create reference node
  .changeset/breezy-moose-cough.md
  packages/nodes-design-tokens/src/nodes/createReference.ts
  packages/nodes-design-tokens/src/nodes/index.ts
  packages/nodes-design-tokens/tests/createReference.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed pasted nodes not centered in viewport
  packages/graph-editor/src/editor/actions/deleteSelectedNodes.tsx
  packages/graph-editor/src/hooks/useCopyPaste.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add some additional tests and fix import issue
  packages/graph-engine/package.json
  packages/graph-engine/tests/suites/graph/execution.test.ts
  packages/graph-engine/tests/suites/nodes/logic/and.test.ts
  packages/graph-engine/tests/suites/nodes/logic/or.test.ts
  packages/graph-engine/tests/suites/nodes/logic/switch.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix/add test for execution (#665)
  .changeset/large-dogs-melt.md
  packages/graph-engine/package.json
  packages/graph-engine/tests/suites/graph/execution.test.ts
  packages/graph-engine/tests/suites/nodes/logic/and.test.ts
  packages/graph-engine/tests/suites/nodes/logic/or.test.ts
  packages/graph-engine/tests/suites/nodes/logic/switch.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add scope tokens array by type node
  .changeset/tidy-kids-raise.md
  packages/nodes-figma/src/nodes/index.ts
  packages/nodes-figma/src/nodes/scopeTokenArrayByType.ts
  packages/nodes-figma/tests/scopeTokenArrayByType.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed variadic input style (#671)
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

replaced style
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Show error for external set uri
  .changeset/tame-bobcats-shop.md
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-engine/src/annotations/index.ts
  packages/nodes-design-tokens/src/nodes/externalTokens.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix lint
  packages/nodes-design-tokens/src/nodes/externalTokens.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed Color Blindness node always returning 000 (#678)
  .changeset/thin-tigers-agree.md
  packages/graph-engine/src/nodes/accessibility/colorBlindness.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[WIP] subgraph copying is working
  packages/graph-editor/src/hooks/useCopyPaste.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Prevent browser back navigation from trackpad gestures
  .changeset/brown-lobsters-invent.md
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/editor/graph.tsx
  packages/ui/src/styles/styles.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Prevent infinite zooming and negative zoom crashes in graph editor
  .changeset/kind-dingos-trade.md
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/zoom.tsx
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/graph.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add langfuse
  .changeset/dull-laws-sniff.md
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
  packages/graph-editor/src/data/version.ts
  packages/ui/next.config.mjs
  packages/ui/package.json
  packages/ui/src/api/controllers/ai.ts
  packages/ui/src/instrumentation.ts
  packages/ui/src/lib/anthropic/index.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add langfuse (#682)
  .changeset/dull-laws-sniff.md
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
  packages/graph-editor/src/data/version.ts
  packages/ui/next.config.mjs
  packages/ui/package.json
  packages/ui/src/api/controllers/ai.ts
  packages/ui/src/instrumentation.ts
  packages/ui/src/lib/anthropic/index.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update secrets
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
Due: none

Update secrets (#683)
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
Due: none

renamed Destruct Token to Deconstruct (#684)
  .changeset/weak-peas-repair.md
  packages/nodes-design-tokens/src/nodes/destructToken.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[WIP] directly adding nodes and edges instead of loadRaw
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/hotKeys/utils.js
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/hooks/useCopyPaste.ts
  packages/graph-editor/src/utils/pluralizeValue.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

optimized paste operation & added test
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/hooks/useCopyPaste.ts
  packages/graph-editor/src/tests/useCopyPaste.test.tsx
  packages/graph-editor/src/utils/pluralizeValue.ts
  packages/graph-editor/vitest.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added test script to graph-editor
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json
