Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

update package
  packages/nodes-previews/package.json
Due: npx prettier-package-json --write package.json

add typography preview
  .changeset/lemon-knives-wink.md
  packages/nodes-previews/src/index.ts
  packages/nodes-previews/src/token/typography/node.ts
  packages/nodes-previews/src/token/typography/panel.module.css
  packages/nodes-previews/src/token/typography/panel.tsx
  packages/nodes-previews/src/token/typography/specific.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove wrong variables
  packages/nodes-previews/src/token/typography/panel.module.css
Due: none

Extract callback
  packages/graph-editor/src/components/panels/navigator/index.tsx
  packages/graph-editor/src/registry/specifics.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Hacky work-around for circular dependency
  packages/graph-editor/src/editor/graphEditor.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Highlight currently selected graph
  packages/graph-editor/src/components/panels/navigation/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Make subgraphs navigateable
  packages/graph-editor/src/components/panels/navigator/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add navigator panel
  packages/graph-editor/src/components/panels/index.tsx
  packages/graph-editor/src/components/panels/navigator/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/layout.tsx
  packages/graph-editor/src/components/toolbar/layoutButtons.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Silence ts innerGraph errors
  packages/graph-editor/src/components/panels/navigator/index.tsx
  packages/graph-editor/src/redux/selectors/graph.ts
  packages/graph-editor/src/registry/specifics.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Show root graph
  packages/graph-editor/src/components/panels/navigation/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Selector to collect nodes in the main graph
  packages/graph-editor/src/redux/selectors/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Rename
  packages/graph-editor/src/components/panels/index.tsx
  packages/graph-editor/src/components/panels/navigation/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/layout.tsx
  packages/graph-editor/src/components/toolbar/layoutButtons.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Depth styling & Pretty title
  packages/graph-editor/src/components/panels/navigation/index.tsx
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/graphEditor.tsx
  packages/graph-editor/src/redux/selectors/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix condition
  packages/graph-editor/src/editor/graphEditor.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Show node count
  packages/graph-editor/src/components/panels/navigation/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup
  packages/graph-editor/src/hooks/useSubgraphExplorerCallback.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix forgotten file
  packages/graph-editor/src/hooks/useSubgraphExplorerCallback.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix ts errors
  packages/graph-editor/src/components/panels/navigation/index.tsx
  packages/graph-editor/src/redux/selectors/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Lint
  packages/graph-editor/src/components/panels/navigation/index.tsx
  packages/graph-editor/src/components/toolbar/layoutButtons.tsx
  packages/graph-editor/src/editor/graphEditor.tsx
  packages/graph-editor/src/hooks/useSubgraphExplorerCallback.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Remove console.log
  packages/graph-editor/src/hooks/useSubgraphExplorerCallback.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Restore css file
  packages/graph-editor/src/components/panels/navigation/index.module.css
Due: none

fix variadic
  .changeset/fluffy-cups-deny.md
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/tests/suites/graph/variadic.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

migrate rail component styles to use utils
  packages/ui/src/components/rail.module.css
  packages/ui/src/components/rail.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

changes
  packages/ui/src/components/rail.module.css
  packages/ui/src/components/rail.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixes context menu bg
  .changeset/brown-donkeys-appear.md
  packages/graph-editor/src/css/contextify.css
  packages/graph-editor/src/data/version.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix file name typo
  packages/graph-editor/src/css/contexify.css
  packages/graph-editor/src/index.css
Due: none

remove slide animation
  .changeset/mean-candles-brush.md
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add value check
  packages/nodes-previews/src/token/palette/panel.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Review changes
  packages/graph-editor/src/components/panels/navigation/index.module.css
  packages/graph-editor/src/components/panels/navigation/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Review changes
  packages/graph-editor/src/components/panels/navigation/index.module.css
Due: none

fix clsx
  .changeset/heavy-queens-love.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/storybook-lit/src/components/context/index.ts
  packages/storybook-react/src/context/index.tsx
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add peer dependencies for docs
  packages/documentation/package.json
Due: npx prettier-package-json --write package.json

move from peer to real dependency
  packages/documentation/package.json
Due: npx prettier-package-json --write package.json

fix merge
  packages/nodes-previews/src/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

update value to token
  packages/nodes-previews/src/token/palette/panel.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add array operation nodes
  .changeset/pink-roses-admire.md
  packages/graph-engine/src/nodes/array/difference.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/intersection.ts
  packages/graph-engine/src/nodes/array/shuffle.ts
  packages/graph-engine/src/nodes/array/union.ts
  packages/graph-engine/src/nodes/array/unique.ts
  packages/graph-engine/tests/suites/nodes/array/difference.test.ts
  packages/graph-engine/tests/suites/nodes/array/intersection.test.ts
  packages/graph-engine/tests/suites/nodes/array/shuffle.test.ts
  packages/graph-engine/tests/suites/nodes/array/union.test.ts
  packages/graph-engine/tests/suites/nodes/array/unique.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add vec2
  .changeset/strange-suits-move.md
  packages/graph-engine/src/nodes/vector2/add.ts
  packages/graph-engine/src/nodes/vector2/dot.ts
  packages/graph-engine/src/nodes/vector2/index.ts
  packages/graph-engine/src/nodes/vector2/length.ts
  packages/graph-engine/src/nodes/vector2/normalize.ts
  packages/graph-engine/src/nodes/vector2/scale.ts
  packages/graph-engine/src/nodes/vector2/subtract.ts
  packages/graph-engine/tests/suites/nodes/vector2/add.test.ts
  packages/graph-engine/tests/suites/nodes/vector2/dot.test.ts
  packages/graph-engine/tests/suites/nodes/vector2/length.test.ts
  packages/graph-engine/tests/suites/nodes/vector2/normalize.test.ts
  packages/graph-engine/tests/suites/nodes/vector2/scale.test.ts
  packages/graph-engine/tests/suites/nodes/vector2/subtract.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

color harmonie node
  .changeset/strong-rules-push.md
  packages/graph-engine/src/nodes/color/harmonies.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/tests/suites/nodes/color/harmonies.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added discard/save dialog & clear current graph when loading new graph (#618)
  .changeset/metal-jokes-jam.md
  packages/graph-editor/src/components/toolbar/buttons/upload.tsx
  packages/graph-editor/src/utils/loadGraph.ts
  packages/graph-editor/src/utils/saveGraph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Set zoom value in toolbar to tabular so the button width doesn't jump around (#559)
  .changeset/lucky-peaches-roll.md
  packages/graph-editor/src/components/toolbar/dropdowns/zoom.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
