Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

rm unused deps
  packages/graph-editor/package.json
  packages/graph-editor/src/editor/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

split redux store
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/preview/contextExamples/lion/button.ts
  packages/graph-editor/src/components/preview/contextExamples/lion/context.ts
  packages/graph-editor/src/components/preview/contextExamples/lion/index.ts
  packages/graph-editor/src/components/preview/contextExamples/lion/switch.ts
  packages/graph-editor/src/components/preview/index.tsx
  packages/graph-editor/src/components/preview/scope.tsx
  packages/graph-editor/src/components/settings/index.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/redux/models/index.ts
  packages/graph-editor/src/redux/models/journey.ts
  packages/graph-editor/src/redux/models/output.ts
  packages/graph-editor/src/redux/models/root.ts
  packages/graph-editor/src/redux/models/ui.ts
  packages/graph-editor/src/redux/selectors/index.ts
  packages/graph-editor/src/redux/selectors/roots.ts
  packages/graph-editor/src/redux/store.tsx
  packages/ui/src/components/preview/contextExamples/lion/index.ts
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/components/settings/index.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/input.ts
  packages/ui/src/redux/models/node.ts
  packages/ui/src/redux/models/output.ts
  packages/ui/src/redux/models/root.ts
  packages/ui/src/redux/models/settings.ts
  packages/ui/src/redux/selectors/edgeType.ts
  packages/ui/src/redux/selectors/index.ts
  packages/ui/src/redux/selectors/roots.ts
  packages/ui/src/redux/store.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix import issues
  packages/graph-editor/package.json
  packages/graph-editor/rollup.config.mjs
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.ts
  packages/graph-editor/src/index.tsx
  packages/graph-editor/tsconfig.json
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix imports & entry point
  packages/graph-editor/package.json
  packages/graph-editor/rollup.config.mjs
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/nodes/accessibility/ColorBlindNessNode.tsx
  packages/graph-editor/src/components/flow/nodes/accessibility/contrastNode.tsx
  packages/graph-editor/src/components/flow/nodes/color/advancedBlend.tsx
  packages/graph-editor/src/components/flow/nodes/color/contrastingNode.tsx
  packages/graph-editor/src/components/flow/nodes/color/wheelNode.tsx
  packages/graph-editor/src/components/flow/nodes/generic/inputNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/input/sliderNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/arithmeticNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/geometricNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/harmonicNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/resolveAliases.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/editor/fileInput.tsx
  packages/graph-editor/src/editor/hotkeys.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/hooks/useDispatch.ts
  packages/graph-editor/src/hooks/useTheme.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/types/index.ts
  packages/graph-editor/tsconfig.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix types
  packages/graph-editor/package.json
  packages/graph-editor/rollup.config.mjs
  packages/graph-editor/tsconfig.json
Due: npx prettier-package-json --write package.json

Preview fix part 1
  packages/graph-editor/src/redux/models/output.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Preview
  .vscode/settings.json
  packages/graph-editor/src/components/Settings.tsx
  packages/graph-editor/src/components/flow/controls.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/redux/index.tsx
  packages/graph-editor/src/redux/store.tsx
  packages/ui/src/components/Preview.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix configure store
  packages/graph-editor/src/redux/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

move output
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/redux/models/index.ts
  packages/graph-editor/src/redux/models/root.ts
  packages/graph-editor/src/redux/store.tsx
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/output.tsx
  packages/ui/src/redux/models/root.ts
  packages/ui/src/redux/selectors/index.ts
  packages/ui/src/redux/store.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: upgrade next from 13.4.7 to 13.4.8
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

fix output
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/context/OutputContext.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix styling & move provider to editor
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.css
  packages/ui/src/lib/stitches/stitches.config.ts
  packages/ui/src/pages/_app.tsx
  packages/ui/src/pages/default.scss
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rm unused styles
  packages/ui/src/lib/stitches/stitches.config.ts
  packages/ui/src/pages/_app.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add license & readme
  packages/graph-editor/LICENSE
  packages/graph-editor/readme.md
Due: prettier --write

update readme
  packages/graph-editor/package.json
  packages/graph-editor/readme.md
Due: prettier --write, npx prettier-package-json --write package.json

update deps
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

fix: upgrade postcss from 8.4.24 to 8.4.25
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

add deps
  packages/graph-editor/package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

fix deps issue
  packages/graph-editor/package.json
  packages/graph-editor/rollup.config.mjs
  yarn.lock
Due: npx prettier-package-json --write package.json

permutations
  packages/ui/src/editor/index.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/pages/permutations.tsx
  packages/ui/src/types/file.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

update es6 package
  packages/graph-editor/package.json
  packages/graph-editor/readme.md
  packages/graph-editor/src/components/flow/controls.tsx
  packages/graph-editor/src/components/flow/nodes/accessibility/ColorBlindNessNode.tsx
  packages/graph-editor/src/components/flow/nodes/accessibility/contrastNode.tsx
  packages/graph-editor/src/components/flow/nodes/color/contrastingNode.tsx
  packages/graph-editor/src/data/json/core.json
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/redux/models/root.ts
  packages/graph-editor/src/redux/selectors/index.ts
  packages/graph-editor/tsconfig.json
  packages/ui/package.json
  packages/ui/src/pages/_app.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/root.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

format package json
  package.json
Due: npx prettier-package-json --write package.json

fix: upgrade postcss from 8.4.24 to 8.4.25 (#46)
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

Setup changeset
  .changeset/little-frogs-attack.md
  packages/graph-editor/package.json
Due: prettier --write, npx prettier-package-json --write package.json

Add permutations
  .changeset/famous-pigs-hide.md
  .eslintignore
  .vscode/settings.json
  packages/documentation/pages/nodes/array-nodes/concat.mdx
  packages/graph-editor/.prettierignore
  packages/graph-editor/src/components/flow/dropPanel.tsx
  packages/graph-editor/src/components/flow/nodes/array/concat.tsx
  packages/graph-editor/src/components/flow/nodes/css/boxNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/.eslintignore
  packages/graph-engine/src/nodes/array/concat.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/css/box.ts
  packages/graph-engine/src/nodes/css/index.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/array/concat.test.ts
  packages/graph-engine/tests/suites/nodes/css/box.test.ts
  packages/ui/package.json
  packages/ui/src/pages/_app.tsx
  packages/ui/src/pages/permutations.tsx
  packages/ui/src/pages/styles.css
  turbo.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Feat/permutator (#48)
  .changeset/curvy-planets-eat.md
  .changeset/famous-pigs-hide.md
  .devcontainer.json
  .eslintignore
  .vscode/settings.json
  packages/documentation/package.json
  packages/documentation/pages/nodes/array-nodes/concat.mdx
  packages/graph-editor/.prettierignore
  packages/graph-editor/src/components/flow/dropPanel.tsx
  packages/graph-editor/src/components/flow/nodes/array/concat.tsx
  packages/graph-editor/src/components/flow/nodes/css/boxNode.tsx
  packages/graph-editor/src/components/flow/nodes/generic/inputNode.tsx
  packages/graph-editor/src/components/flow/nodes/hooks/useIsValidConnection.ts
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/tsconfig.json
  packages/graph-engine/.eslintignore
  packages/graph-engine/src/nodes/array/concat.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/css/box.ts
  packages/graph-engine/src/nodes/css/index.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/array/concat.test.ts
  packages/graph-engine/tests/suites/nodes/css/box.test.ts
  packages/ui/package.json
  packages/ui/src/components/flow/nodes/generic/jsonNode.tsx
  packages/ui/src/components/flow/nodes/generic/parseUnit.tsx
  packages/ui/src/pages/_app.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/pages/permutations.tsx
  packages/ui/src/pages/styles.css
  packages/ui/src/types/file.ts
  turbo.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix editor prop declaration
  .changeset/fuzzy-chairs-itch.md
  packages/graph-editor/src/editor/index.tsx
  packages/ui/src/components/flow/nodes/generic/jsonNode.tsx
  packages/ui/src/components/flow/nodes/generic/parseUnit.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Feat/permutator (#50)
  .changeset/curvy-planets-eat.md
  .changeset/famous-pigs-hide.md
  .changeset/fuzzy-chairs-itch.md
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: build errors
  packages/ui/src/components/flow/nodes/generic/jsonNode.tsx
  packages/ui/src/components/flow/nodes/generic/parseUnit.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Load sets
  packages/graph-editor/package.json
  packages/graph-editor/src/components/IconHolder.tsx
  packages/graph-editor/src/components/flow/DropPanel/DragItem.tsx
  packages/graph-editor/src/components/flow/DropPanel/Loading.tsx
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledAccordionTrigger.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledPanel.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add scroll
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

external set
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensHandles.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/utils/getNodeValue.ts
  packages/graph-editor/src/components/flow/nodes/sets/utils/getTooltipData.ts
  packages/graph-editor/src/components/flow/nodes/sets/utils/getTypographyValue.ts
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/fileInput.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/src/nodes/set/externalTokens.ts
  packages/graph-engine/src/nodes/set/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

update the way sets load
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rm unused imports
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: validation failing for token set input
  packages/graph-engine/src/nodes/generic/input.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

test: added test case for tokenset as an input
  packages/graph-engine/tests/data/raw/tokenSetInput.json
  packages/graph-engine/tests/suites/input.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

changeset: added changeset for the version bump
  .changeset/gorgeous-teachers-teach.md
Due: prettier --write

Create chatty-badgers-mix.md
  .changeset/chatty-badgers-mix.md
Due: prettier --write

cleanup: removed console
  packages/graph-engine/src/nodes/generic/input.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
