Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

cleanup: removed unused changeset
  .changeset/gorgeous-teachers-teach.md
Due: prettier --write

load token sets
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensNode.tsx
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rm logs
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledPanel.tsx
  packages/graph-editor/src/editor/fileInput.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add comment
  packages/graph-editor/src/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: upgrade tailwindcss from 3.3.2 to 3.3.3
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

Fix/tokenset validation (#53)
  .changeset/chatty-badgers-mix.md
  packages/graph-engine/src/nodes/generic/input.ts
  packages/graph-engine/tests/data/raw/tokenSetInput.json
  packages/graph-engine/tests/suites/input.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rm unneeded
  packages/graph-editor/package.json
  packages/graph-engine/src/nodes/set/externalTokens.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

sdk dep
  packages/graph-editor/package.json
  packages/ui/package.json
Due: npx prettier-package-json --write package.json

export drop panel
  packages/graph-editor/src/components/flow/DropPanel/index.ts
  packages/graph-editor/src/components/flow/index.ts
  packages/graph-editor/src/components/index.ts
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

memoize accordion items
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

change loadSetTokens response to be an object
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-editor/src/editor/editorTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

move provider up
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-editor/src/context/index.ts
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix key warning
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update packages/graph-engine/src/nodes/set/externalTokens.ts
  packages/graph-engine/src/nodes/set/externalTokens.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

use ephemeral
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-engine/src/core.ts
  packages/graph-engine/src/nodes/set/externalTokens.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

initial commit
  packages/ui/package.json
  packages/ui/src/components/flow/controls.tsx
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/sets/remapNode.tsx
  packages/ui/src/components/flow/nodes/sets/resolveAliases.tsx
  packages/ui/src/components/flow/nodes/sets/tokensNode.tsx
  packages/ui/src/components/flow/wrapper/node.tsx
  packages/ui/src/components/joyride/tooltip.tsx
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/editor/hotkeys.ts
  packages/ui/src/editor/index.tsx
  packages/ui/src/examples/card.json
  packages/ui/src/pages/default.scss
  packages/ui/src/pages/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add PR agent
  .github/workflows/pr-agent.yml
Due: none

Add PR agent (#57)
  .github/workflows/pr-agent.yml
Due: none

update types & context
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-editor/src/editor/editorTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rm logs
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rm sdk dep
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

Load sets (#52)
  packages/graph-editor/src/components/IconHolder.tsx
  packages/graph-editor/src/components/flow/DropPanel/DragItem.tsx
  packages/graph-editor/src/components/flow/DropPanel/Loading.tsx
  packages/graph-editor/src/components/flow/DropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledAccordionTrigger.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledPanel.tsx
  packages/graph-editor/src/components/flow/DropPanel/index.ts
  packages/graph-editor/src/components/flow/index.ts
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensHandles.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/utils/getNodeValue.ts
  packages/graph-editor/src/components/flow/nodes/sets/utils/getTooltipData.ts
  packages/graph-editor/src/components/flow/nodes/sets/utils/getTypographyValue.ts
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/index.ts
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-editor/src/context/index.ts
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/fileInput.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-engine/src/core.ts
  packages/graph-engine/src/nodes/set/externalTokens.ts
  packages/graph-engine/src/nodes/set/index.ts
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix: build
  packages/graph-editor/src/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: build (#58)
  packages/graph-editor/src/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add changeset
  .changeset/strange-kiwis-live.md
Due: prettier --write

Add changeset (#59)
  .changeset/strange-kiwis-live.md
Due: prettier --write

Add support for a
  .changeset/rare-shoes-speak.md
  packages/graph-editor/src/components/Settings.tsx
  packages/graph-editor/src/components/flow/controls.tsx
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/layouts/dagre.tsx
  packages/graph-editor/src/components/flow/layouts/elk.tsx
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/hotkeys.ts
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/redux/selectors/edgeType.ts
  packages/graph-editor/src/redux/selectors/settings.ts
  packages/graph-editor/src/redux/store.tsx
  packages/graph-engine/src/core.ts
  packages/graph-engine/tests/suites/clean.test.ts
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/examples/card.json
  packages/ui/src/pages/permutations/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add support for a (#63)
  .changeset/rare-shoes-speak.md
  packages/graph-editor/src/components/Settings.tsx
  packages/graph-editor/src/components/flow/controls.tsx
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/layouts/dagre.tsx
  packages/graph-editor/src/components/flow/layouts/elk.tsx
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/hotkeys.ts
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/redux/selectors/edgeType.ts
  packages/graph-editor/src/redux/selectors/settings.ts
  packages/graph-editor/src/redux/store.tsx
  packages/graph-engine/src/core.ts
  packages/graph-engine/tests/suites/clean.test.ts
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/examples/card.json
  packages/ui/src/pages/permutations/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add execution time to the bottom of nodes and try create portal nodes
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/nodes/generic/portalNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/types.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/editor/create.ts
  packages/graph-editor/src/editor/fileInput.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/redux/models/input.ts
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/redux/selectors/settings.ts
  packages/graph-engine/src/nodes/generic/index.ts
  packages/graph-engine/src/nodes/generic/passthrough.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add execution time to the bottom of nodes and try create portal nodes (#66)
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/nodes/generic/portalNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/types.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/editor/create.ts
  packages/graph-editor/src/editor/fileInput.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/redux/models/input.ts
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/redux/selectors/settings.ts
  packages/graph-engine/src/nodes/generic/index.ts
  packages/graph-engine/src/nodes/generic/passthrough.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add renovate.json
  renovate.json
Due: none

fix: upgrade tailwindcss from 3.3.2 to 3.3.3 (#54)
  packages/documentation/package.json
  packages/documentation/yarn.lock
Due: npx prettier-package-json --write package.json

overhaul ui
  packages/graph-editor/src/components/IconHolder.tsx
  packages/graph-editor/src/components/accordion/index.tsx
  packages/graph-editor/src/components/flow/DropPanel/DragItem.tsx
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledAccordionTrigger.tsx
  packages/graph-editor/src/components/flow/DropPanel/StyledPanel.tsx
  packages/graph-editor/src/components/flow/controls.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.css
  packages/graph-editor/src/lib/stitches/stitches.config.ts
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/slider/index.tsx
  packages/ui/src/pages/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix italic styles
  packages/graph-editor/src/components/flow/nodes/color/advancedBlend.tsx
  packages/graph-editor/src/components/flow/nodes/color/extract.tsx
  packages/graph-editor/src/components/flow/nodes/color/wheelNode.tsx
  packages/graph-editor/src/components/flow/nodes/common/reduceLogicNode.tsx
  packages/graph-editor/src/components/flow/nodes/common/reduceNode.tsx
  packages/graph-editor/src/components/flow/nodes/math/countNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/arithmeticNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/geometricNode.tsx
  packages/graph-editor/src/components/flow/nodes/series/harmonicNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/remapNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/resolveAliases.tsx
  packages/graph-editor/src/components/flow/nodes/sets/squashNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensNode.tsx
  packages/graph-editor/src/components/flow/preview/any.tsx
  packages/graph-editor/src/components/flow/preview/array.tsx
  packages/graph-editor/src/components/flow/preview/color.tsx
  packages/graph-editor/src/components/flow/preview/number.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

more stuff
  packages/graph-editor/src/components/flow/ActionToolbar.tsx
  packages/graph-editor/src/components/flow/DropPanel/Panel.tsx
  packages/graph-editor/src/components/flow/controls.tsx
  packages/graph-editor/src/components/flow/nodes/color/scaleNode.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/editor/Sidesheet.tsx
  packages/graph-editor/src/editor/create.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.css
  packages/graph-editor/src/lib/stitches/stitches.config.ts
  packages/ui/.eslintrc.cjs
  packages/ui/src/components/Preview.tsx
  packages/ui/src/components/Toolbar.tsx
  packages/ui/src/examples/card.json
  packages/ui/src/examples/scale.json
  packages/ui/src/lib/stitches/stitches.config.ts
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/ui.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix broken build
  packages/documentation/yarn.lock
  packages/graph-engine/rollup.config.mjs
  yarn.lock
Due: none

Fix build process, and support extensions in the token value
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/handles.module.css
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/minimap.d.ts
  packages/graph-editor/src/editor/fileInput.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/utils/index.ts
  packages/graph-editor/tsconfig.json
  packages/graph-editor/tsup.config.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json
