Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Use v1 of turbo
  .github/workflows/verify.yml
Due: none

Try fix linting issue
  .github/workflows/verify.yml
  packages/eslint-config-custom/package.json
  packages/graph-engine/package.json
  packages/migrations/package.json
  packages/nodes-audio/package.json
  packages/nodes-design-tokens/package.json
  packages/ui/package.json
Due: npx prettier-package-json --write package.json

Fix linting
  .eslintrc.cjs
  .github/workflows/verify.yml
  .vscode/settings.json
  package.json
  packages/backend/.eslintrc.cjs
  packages/backend/package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/graph-editor/.eslintrc.cjs
  packages/graph-editor/package.json
  packages/graph-engine/.eslintrc.cjs
  packages/graph-engine/package.json
  packages/migrations/.eslintrc.cjs
  packages/migrations/package.json
  packages/migrations/src/migrations/index.ts
  packages/nodes-audio/.eslintrc.cjs
  packages/nodes-audio/package.json
  packages/nodes-design-tokens/.eslintrc.cjs
  packages/nodes-design-tokens/package.json
  packages/sdk/.eslintrc.cjs
  packages/ui/.eslintrc.cjs
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix tests
  .github/workflows/verify.yml
  packages/migrations/readme.md
  packages/migrations/tests/suites/basic.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Test running just yarn
  .github/workflows/verify.yml
Due: none

fix bugs
  packages/graph-editor/src/components/panels/dropPanel/data.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/panels/inputs/dynamicInputs.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-engine/src/nodes/generic/subgraph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rm log
  packages/graph-editor/src/components/panels/dropPanel/data.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix input inputs
  packages/graph-editor/src/components/panels/inputs/dynamicInputs.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add dimension
  packages/nodes-design-tokens/src/ui/nodes/typography.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Show value preview in nodes
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/nodes/passthroughNode.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix multiple panels
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/redux/selectors/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add debugger and remove flamgefraph
  package.json
  packages/documentation/docs/guides/developers/engine/creating-a-node.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/debugger/data.ts
  packages/graph-editor/src/components/debugger/debugger.css
  packages/graph-editor/src/components/debugger/debugger.scss
  packages/graph-editor/src/components/debugger/index.stories.tsx
  packages/graph-editor/src/components/debugger/index.tsx
  packages/graph-editor/src/components/debugger/player.tsx
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/panels/debugger/index.tsx
  packages/graph-editor/src/components/panels/flamegraph/index.tsx
  packages/graph-editor/src/components/panels/flamegraph/story.stories.tsx
  packages/graph-editor/src/components/panels/flamegraph/utils.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/array/reduce.ts
  packages/graph-engine/src/nodes/css/cssFunction.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/types.ts
  packages/storybook-lit/package.json
  packages/storybook-react/package.json
  patches/react-virtualized+9.22.5.patch
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Try tree the installed modules
  .github/workflows/verify.yml
Due: none

Remove turbo install
  .github/workflows/verify.yml
Due: none

Turn off cache
  .github/workflows/verify.yml
  yarn.lock
Due: none

Test
  .github/workflows/verify.yml
  .npmrc
Due: none

Test
  .github/workflows/verify.yml
Due: none

Typo
  .github/workflows/verify.yml
Due: none

Force bin links
  .github/workflows/verify.yml
Due: none

Remove production
  .github/workflows/verify.yml
Due: none

Fix tests
  .github/workflows/verify.yml
  packages/backend/package.json
Due: npx prettier-package-json --write package.json

Build node env production
  .github/workflows/verify.yml
Due: none

Test
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/tests/suites/enqueing.test.ts
  packages/graph-engine/tests/suites/nodeUsage.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup
  .github/workflows/verify.yml
  packages/graph-editor/tsup.config.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/array/reduce.ts
  packages/graph-engine/src/nodes/string/stringify.ts
  packages/graph-engine/tsup.config.ts
  packages/nodes-audio/tsup.config.ts
  packages/nodes-design-tokens/tsup.config.ts
  packages/sdk/tsup.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix color wheel
  .changeset/seven-items-dance.md
  packages/graph-engine/src/nodes/color/wheel.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Test open handles
  packages/graph-engine/package.json
Due: npx prettier-package-json --write package.json

Fix tests
  packages/nodes-design-tokens/src/nodes/resolve.ts
  packages/nodes-design-tokens/tests/sets/resolve.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Improve yarn caching
  .github/workflows/verify.yml
Due: none

add library
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/sortableList/SortableList.css
  packages/graph-editor/src/components/sortableList/components/SortableItem.tsx
  packages/graph-editor/src/components/sortableList/components/index.ts
  packages/graph-editor/src/components/sortableList/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add sortable
  packages/graph-editor/package.json
  packages/graph-editor/src/components/DndList.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/sortableList/SortableList.css
  packages/graph-editor/src/components/sortableList/components/SortableItem.tsx
  packages/graph-editor/src/components/sortableList/components/index.ts
  packages/graph-editor/src/components/sortableList/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add side sheet controls
  packages/graph-editor/src/components/controls/any.tsx
  packages/graph-editor/src/components/controls/index.tsx
  packages/graph-editor/src/components/controls/numeric.tsx
  packages/graph-editor/src/components/controls/variadicAny.tsx
  packages/graph-editor/src/components/controls/variadicColor.tsx
  packages/graph-editor/src/components/controls/variadicNumber.tsx
  packages/graph-editor/src/components/controls/withVariadicField.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/index.ts
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/registry/control.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/array/arrify.ts
  packages/graph-engine/src/nodes/generic/objectMerge.ts
  packages/graph-engine/src/nodes/logic/and.ts
  packages/graph-engine/src/nodes/logic/or.ts
  packages/graph-engine/src/nodes/math/addVariadic.ts
  packages/graph-engine/src/nodes/math/divideVariadic.ts
  packages/graph-engine/src/nodes/math/multiplyVariadic.ts
  packages/graph-engine/src/nodes/math/subtractVariadic.ts
  packages/graph-engine/src/schemas/index.ts
  packages/nodes-design-tokens/src/nodes/advancedBlend.ts
  packages/nodes-design-tokens/src/nodes/flatten.ts
  packages/nodes-design-tokens/src/schemas/index.ts
  packages/nodes-design-tokens/src/ui/controls/index.tsx
  packages/nodes-design-tokens/src/ui/controls/token.tsx
  packages/nodes-design-tokens/src/ui/controls/tokenSet.tsx
  packages/nodes-design-tokens/src/ui/controls/variadicTokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix reorder issues
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/editor/graph.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rm unneded libs
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

add icons and colors
  packages/graph-editor/src/components/DndList.tsx
  packages/graph-editor/src/registry/icon.tsx
  packages/graph-editor/src/tokens/colors.ts
  packages/nodes-design-tokens/src/ui/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

revert unwanted changes
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/nodes-design-tokens/src/nodes/flatten.ts
  packages/nodes-design-tokens/src/ui/controls/variadicTokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

end line
  packages/graph-editor/src/components/DndList.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

revert
  packages/graph-editor/src/components/controls/any.tsx
  packages/graph-editor/src/components/controls/index.tsx
  packages/graph-editor/src/components/controls/variadicAny.tsx
  packages/graph-editor/src/components/controls/variadicColor.tsx
  packages/graph-editor/src/components/controls/variadicNumber.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/nodes-design-tokens/src/ui/controls/index.tsx
  packages/nodes-design-tokens/src/ui/controls/variadicTokenSet.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix structural selections
  packages/graph-editor/src/registry/control.tsx
  packages/graph-editor/src/registry/icon.tsx
  packages/graph-editor/src/tokens/colors.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/nodes/math/addVariadic.ts
  packages/graph-engine/src/schemas/index.ts
  packages/nodes-design-tokens/src/schemas/index.ts
  packages/nodes-design-tokens/src/ui/controls/index.tsx
  packages/nodes-design-tokens/src/ui/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Reorder variadic ports (#258)
  packages/graph-editor/package.json
  packages/graph-editor/src/components/DndList.tsx
  packages/graph-editor/src/components/controls/index.tsx
  packages/graph-editor/src/components/controls/numeric.tsx
  packages/graph-editor/src/components/controls/variadicAny.tsx
  packages/graph-editor/src/components/controls/variadicColor.tsx
  packages/graph-editor/src/components/controls/variadicNumber.tsx
  packages/graph-editor/src/components/controls/withVariadicField.tsx
  packages/graph-editor/src/components/index.ts
  packages/graph-editor/src/components/menubar/defaults.tsx
  packages/graph-editor/src/components/panels/dropPanel/dropPanel.tsx
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/registry/control.tsx
  packages/graph-editor/src/registry/icon.tsx
  packages/graph-editor/src/tokens/colors.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/array/arrify.ts
  packages/graph-engine/src/nodes/generic/objectMerge.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/nodes/logic/and.ts
  packages/graph-engine/src/nodes/logic/or.ts
  packages/graph-engine/src/nodes/math/addVariadic.ts
  packages/graph-engine/src/nodes/math/divideVariadic.ts
  packages/graph-engine/src/nodes/math/multiplyVariadic.ts
  packages/graph-engine/src/nodes/math/subtractVariadic.ts
  packages/graph-engine/src/schemas/index.ts
  packages/nodes-design-tokens/src/nodes/advancedBlend.ts
  packages/nodes-design-tokens/src/nodes/flatten.ts
  packages/nodes-design-tokens/src/schemas/index.ts
  packages/nodes-design-tokens/src/ui/controls/index.tsx
  packages/nodes-design-tokens/src/ui/controls/token.tsx
  packages/nodes-design-tokens/src/ui/controls/tokenSet.tsx
  packages/nodes-design-tokens/src/ui/controls/variadicTokenSet.tsx
  packages/nodes-design-tokens/src/ui/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
