Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

added missing dev dependency
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

improved variadic execution
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/hotKeys/utils.js
  packages/graph-editor/src/components/hotKeys/utils.ts
  packages/graph-editor/src/hooks/useCopyPaste.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed pasted edge indices
  packages/graph-editor/src/hooks/useCopyPaste.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Prevent infinite zooming and negative zoom crashes in graph editor (#681)
  .changeset/kind-dingos-trade.md
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/zoom.tsx
  packages/graph-editor/src/editor/graph.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added test dependencies to editor package
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

added changeset
  .changeset/cuddly-hands-judge.md
Due: prettier --write

Delete .changeset/cuddly-hands-judge.md
  .changeset/cuddly-hands-judge.md
Due: prettier --write

added test dependencies to graph-editor package (#689)
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

removed redundant values for connected inputs (#690)
  .changeset/solid-hotels-tickle.md
  packages/graph-editor/.storybook/preview.tsx
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/panels/dropPanel/data.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/registry/icon.tsx
  packages/graph-editor/src/utils/index.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/programmatic/input.ts
  packages/graph-engine/src/utils/index.ts
  packages/graph-engine/tests/data/input.test.ts
  packages/graph-engine/tests/suites/nodeUsage.test.ts
  packages/graph-engine/tsconfig.json
  packages/migrations/src/migrations/index.ts
  packages/migrations/src/migrations/removeRedundantInputValues.js
  packages/migrations/src/migrations/removeRedundantInputValues.test.js
  packages/migrations/tsconfig.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix lint
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-engine/src/nodes/css/cssFunction.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix lint
  packages/nodes-design-tokens/src/nodes/utils/sizeScales.ts
  packages/nodes-design-tokens/src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Delete packages/nodes-design-tokens/src/utils/index.ts
  packages/nodes-design-tokens/src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Revert "Delete packages/nodes-design-tokens/src/utils/index.ts"
  packages/nodes-design-tokens/src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

attempt to fix lint
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/panels/dropPanel/data.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/registry/icon.tsx
  packages/graph-editor/src/utils/index.ts
  packages/nodes-design-tokens/src/nodes/utils/sizeScales.ts
  packages/nodes-design-tokens/src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix lint
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove subgraph tabs when nodes deleted (#664)
  .changeset/sour-views-shout.md
  packages/graph-editor/src/editor/actions/deleteNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix SQ
  packages/graph-editor/src/editor/actions/deleteNode.tsx
  packages/graph-engine/src/nodes/generic/subgraph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

array fields now collapsed by default (#554)
  .changeset/sixty-wasps-add.md
  packages/graph-editor/src/components/controls/array.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

replaced _innerGraph with getSubgraphs
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
  packages/graph-editor/src/editor/actions/deleteNode.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/array/filter.ts
  packages/graph-engine/src/nodes/array/find.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/utils/node.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

cloning is done in the base class again
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/array/filter.ts
  packages/graph-engine/src/nodes/array/find.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/programmatic/node.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed css name
  packages/graph-editor/.storybook/preview.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

not using _innerGraph directly anymore
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/utils/node.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

removed unneeded code and added a test
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/css/cssFunction.ts
  packages/migrations/src/migrations/removeRedundantInputValues.test.js
  packages/migrations/tsconfig.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added more tests
  packages/graph-engine/src/programmatic/input.ts
  packages/graph-engine/tests/data/input.test.ts
  packages/graph-engine/tsconfig.json
  packages/migrations/src/migrations/removeRedundantInputValues.js
  packages/migrations/src/migrations/removeRedundantInputValues.test.js
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Implement accurate color vision deficiency simulation
  packages/graph-engine/src/nodes/accessibility/colorCorrection.ts
  packages/graph-engine/src/nodes/accessibility/index.ts
  packages/graph-engine/tests/suites/nodes/accessibility/colorCorrection.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

apply graph migrations
  packages/graph-editor/src/editor/graph.tsx
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix migration
  packages/vscode-extension/src/types/graph-engine-migration.d.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix config
  packages/vscode-extension/tsconfig.json
Due: none

fix lint
  packages/vscode-extension/src/types/graph-engine-migration.d.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix build
  packages/graph-editor/package.json
  packages/graph-editor/src/types/graph-engine-migration.d.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix lint
  packages/graph-editor/src/types/graph-engine-migration.d.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix build
  packages/vscode-extension/tsconfig.json
Due: none

applying migrations
  packages/graph-editor/src/components/toolbar/buttons/upload.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/types/graph-engine-migration.d.ts
  packages/migrations/src/index.ts
  packages/migrations/src/migrations/removeRedundantInputValues.js
  packages/ui/package.json
  packages/ui/src/api/controllers/marketplace.ts
  packages/ui/src/types/graph-engine-migration.d.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fixed invalid array input panel
  .changeset/clear-bobcats-jump.md
  packages/graph-editor/src/components/controls/array.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

upgrade
  packages/ui/package.json
  packages/ui/src/app/contexts.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/hooks/useToast.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

changeset
  .changeset/honest-meals-think.md
Due: prettier --write

fixed lint
  packages/ui/src/app/contexts.tsx
  packages/ui/src/hooks/useToast.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed type resolution
  packages/graph-editor/src/components/controls/array.tsx
  packages/graph-editor/src/editor/actions/createNode.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/migrations/src/migrations/index.ts
  packages/migrations/src/migrations/removePositionAnnotations.test.ts
  packages/migrations/src/migrations/removePositionAnnotations.ts
  packages/migrations/src/migrations/removeRedundantInputValues.js
  packages/migrations/src/migrations/removeRedundantInputValues.test.js
  packages/migrations/src/migrations/removeRedundantInputValues.test.ts
  packages/migrations/src/migrations/removeRedundantInputValues.ts
  packages/migrations/src/migrations/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed test
  packages/graph-engine/tests/suites/nodeUsage.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed lint
  packages/ui/src/app/contexts.tsx
  packages/ui/src/hooks/useToast.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
