Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix group tokens, fix color scale example
  packages/nodes-design-tokens/src/nodes/group.ts
  packages/ui/src/data/examples/colorScale.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add color conversions
  .changeset/fair-jokes-ring.md
  packages/graph-engine/src/nodes/color/colorToString.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/stringToColor.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add color conversions (#468)
  .changeset/fair-jokes-ring.md
  packages/graph-engine/src/nodes/color/colorToString.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/stringToColor.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix group tokens, fix color scale example (#467)
  packages/nodes-design-tokens/src/nodes/group.ts
  packages/ui/src/data/examples/colorScale.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add sort colors by node, remove nearest tokens node, fix eslint for documentation (#464)
  .changeset/fuzzy-adults-shake.md
  packages/documentation/.eslintignore
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/lib/sortColors.ts
  packages/graph-engine/src/nodes/color/lib/utils.ts
  packages/graph-engine/src/nodes/color/scale.ts
  packages/graph-engine/src/nodes/color/sortByDistance.ts
  packages/nodes-design-tokens/src/nodes/index.ts
  packages/nodes-design-tokens/src/nodes/nearest.ts
  packages/nodes-design-tokens/src/utils/compareFunctions.ts
  packages/nodes-design-tokens/src/utils/sortTokens.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update alpha deploy
  .gimlet/graph-engine.yaml
Due: none

Fix lodash usage
  packages/graph-engine/src/nodes/color/lib/sortColors.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Typo on beta
  .gimlet/graph-engine-beta.yaml
Due: none

Update beta secrets
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
Due: none

Fix colors
  .changeset/flat-coats-sparkle.md
  .vscode/app-monorepo.code-workspace
  packages/graph-engine/src/nodes/color/lib/utils.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix colors (#469)
  .changeset/flat-coats-sparkle.md
  .vscode/app-monorepo.code-workspace
  packages/graph-engine/src/nodes/color/lib/utils.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update examples
  packages/ui/src/data/examples/colorScale.json
  packages/ui/src/data/examples/dynamicNaming.json
  packages/ui/src/data/examples/typescale.json
Due: none

Fix/examples (#471)
  .changeset/flat-coats-sparkle.md
  packages/ui/src/data/examples/colorScale.json
  packages/ui/src/data/examples/dynamicNaming.json
  packages/ui/src/data/examples/typescale.json
Due: prettier --write

Fix issues
  .changeset/brave-suits-fly.md
  .changeset/cyan-ravens-cross.md
  .changeset/sharp-suns-worry.md
  packages/graph-editor/src/components/toolbar/dropdowns/help.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/generic/output.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/tests/suites/nodes/color/convert.test.ts
  packages/nodes-design-tokens/src/nodes/arrayToSet.ts
  packages/nodes-design-tokens/src/nodes/extractSingleToken.ts
  packages/nodes-design-tokens/tests/sets/arrayToSet.test.ts
  packages/nodes-design-tokens/tests/sets/extractSingleToken.test.ts
  packages/nodes-design-tokens/tests/sets/resolve.test.ts
  packages/nodes-design-tokens/tests/sets/setToArray.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issues (#473)
  .changeset/brave-suits-fly.md
  .changeset/cyan-ravens-cross.md
  .changeset/sharp-suns-worry.md
  packages/graph-editor/src/components/toolbar/dropdowns/help.tsx
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/generic/output.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/tests/suites/nodes/color/convert.test.ts
  packages/nodes-design-tokens/src/nodes/arrayToSet.ts
  packages/nodes-design-tokens/src/nodes/extractSingleToken.ts
  packages/nodes-design-tokens/tests/sets/arrayToSet.test.ts
  packages/nodes-design-tokens/tests/sets/extractSingleToken.test.ts
  packages/nodes-design-tokens/tests/sets/resolve.test.ts
  packages/nodes-design-tokens/tests/sets/setToArray.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix typings
  .changeset/proud-cherries-enjoy.md
  packages/nodes-design-tokens/src/nodes/arrayToSet.ts
  packages/nodes-design-tokens/src/nodes/create.ts
  packages/nodes-design-tokens/src/nodes/createBorder.ts
  packages/nodes-design-tokens/src/nodes/createBorderToken.ts
  packages/nodes-design-tokens/src/nodes/createBoxShadow.ts
  packages/nodes-design-tokens/src/nodes/createBoxShadowToken.ts
  packages/nodes-design-tokens/src/nodes/createTypography.ts
  packages/nodes-design-tokens/src/nodes/createTypographyToken.ts
  packages/nodes-design-tokens/src/nodes/destructToken.ts
  packages/nodes-design-tokens/src/nodes/externalTokens.ts
  packages/nodes-design-tokens/src/nodes/flatten.ts
  packages/nodes-design-tokens/src/nodes/group.ts
  packages/nodes-design-tokens/src/nodes/inlineTokens.ts
  packages/nodes-design-tokens/src/nodes/invert.ts
  packages/nodes-design-tokens/src/nodes/leonardoColor.ts
  packages/nodes-design-tokens/src/nodes/leonardoTheme.ts
  packages/nodes-design-tokens/src/nodes/name.ts
  packages/nodes-design-tokens/src/nodes/resolve.ts
  packages/nodes-design-tokens/src/nodes/setToArray.ts
  packages/nodes-design-tokens/src/nodes/ungroup.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix typings (#474)
  .changeset/proud-cherries-enjoy.md
  packages/nodes-design-tokens/src/nodes/arrayToSet.ts
  packages/nodes-design-tokens/src/nodes/create.ts
  packages/nodes-design-tokens/src/nodes/createBorder.ts
  packages/nodes-design-tokens/src/nodes/createBorderToken.ts
  packages/nodes-design-tokens/src/nodes/createBoxShadow.ts
  packages/nodes-design-tokens/src/nodes/createBoxShadowToken.ts
  packages/nodes-design-tokens/src/nodes/createTypography.ts
  packages/nodes-design-tokens/src/nodes/createTypographyToken.ts
  packages/nodes-design-tokens/src/nodes/destructToken.ts
  packages/nodes-design-tokens/src/nodes/externalTokens.ts
  packages/nodes-design-tokens/src/nodes/flatten.ts
  packages/nodes-design-tokens/src/nodes/group.ts
  packages/nodes-design-tokens/src/nodes/inlineTokens.ts
  packages/nodes-design-tokens/src/nodes/invert.ts
  packages/nodes-design-tokens/src/nodes/leonardoColor.ts
  packages/nodes-design-tokens/src/nodes/leonardoTheme.ts
  packages/nodes-design-tokens/src/nodes/name.ts
  packages/nodes-design-tokens/src/nodes/resolve.ts
  packages/nodes-design-tokens/src/nodes/setToArray.ts
  packages/nodes-design-tokens/src/nodes/ungroup.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix marketplace
  packages/ui/src/api/contracts/graph.ts
  packages/ui/src/api/contracts/marketplace.ts
  packages/ui/src/api/controllers/marketplace.ts
  packages/ui/src/api/schemas/graph.ts
  packages/ui/src/app/api/v1/[...ts-rest]/route.ts
  packages/ui/src/app/editor/[id]/clientPage.tsx
  packages/ui/src/app/marketplace/graph/[id]/clientPage.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix marketplace (#476)
  packages/ui/src/api/contracts/graph.ts
  packages/ui/src/api/contracts/marketplace.ts
  packages/ui/src/api/controllers/marketplace.ts
  packages/ui/src/api/schemas/graph.ts
  packages/ui/src/app/api/v1/[...ts-rest]/route.ts
  packages/ui/src/app/editor/[id]/clientPage.tsx
  packages/ui/src/app/marketplace/graph/[id]/clientPage.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix renaming
  packages/ui/src/app/dashboard/graph/edit/[id]/clientPage.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix split string output
  .changeset/pretty-zebras-fix.md
  packages/graph-engine/src/nodes/string/split.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix split string output (#477)
  .changeset/pretty-zebras-fix.md
  packages/graph-engine/src/nodes/string/split.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add pad node
  .changeset/khaki-jokes-sit.md
  packages/graph-engine/src/nodes/string/index.ts
  packages/graph-engine/src/nodes/string/pad.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format
  packages/graph-engine/src/nodes/string/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add AI support
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
  packages/graph-editor/src/hooks/index.ts
  packages/graph-editor/src/hooks/useOpenPanel.tsx
  packages/ui/package.json
  packages/ui/src/api/contracts/ai.ts
  packages/ui/src/api/contracts/index.ts
  packages/ui/src/api/contracts/marketplace.ts
  packages/ui/src/api/controllers/ai.ts
  packages/ui/src/api/controllers/index.ts
  packages/ui/src/api/controllers/marketplace.ts
  packages/ui/src/api/middleware.ts/auth.ts
  packages/ui/src/api/middleware.ts/rateLimiter.ts
  packages/ui/src/app/dashboard/graph/edit/[id]/clientPage.tsx
  packages/ui/src/app/dashboard/graph/edit/[id]/page.tsx
  packages/ui/src/app/marketplace/publish/[id]/clientPage.tsx
  packages/ui/src/app/marketplace/publish/[id]/page.tsx
  packages/ui/src/components/editor/panels/aiSummary.tsx
  packages/ui/src/components/editor/toolbar.tsx
  packages/ui/src/lib/anthropic/index.ts
  packages/vscode-example-workspace/.env
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add isEmpty node
  .changeset/fresh-starfishes-sniff.md
  packages/graph-engine/src/nodes/logic/index.ts
  packages/graph-engine/src/nodes/logic/isEmpty.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix formating, add tests
  packages/graph-engine/src/nodes/logic/index.ts
  packages/graph-engine/src/nodes/logic/isEmpty.ts
  packages/graph-engine/tests/suites/nodes/logic/isEmpty.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add tests cases and only take char 0 for pad
  packages/graph-engine/src/nodes/string/pad.ts
  packages/graph-engine/tests/suites/nodes/string/pad.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add pad node (#478)
  .changeset/khaki-jokes-sit.md
  packages/graph-engine/src/nodes/string/index.ts
  packages/graph-engine/src/nodes/string/pad.ts
  packages/graph-engine/tests/suites/nodes/string/pad.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update typing
  packages/graph-engine/src/nodes/logic/index.ts
  packages/graph-engine/src/nodes/typing/hasValue.ts
  packages/graph-engine/src/nodes/typing/index.ts
  packages/graph-engine/tests/suites/nodes/array/arrify.test.ts
  packages/graph-engine/tests/suites/nodes/array/flatten.test.ts
  packages/graph-engine/tests/suites/nodes/typing/hasValue.test.ts
  packages/graph-engine/tsconfig.json
  packages/graph-engine/vitest.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update changeset
  .changeset/fresh-starfishes-sniff.md
Due: prettier --write

Update antropic settings
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
  packages/ui/src/lib/anthropic/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix deletable annotation on created subgraph
  .changeset/quiet-moose-drive.md
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update antropic settings (#480)
  .gimlet/graph-engine-beta.yaml
  .gimlet/graph-engine.yaml
  packages/ui/src/lib/anthropic/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add isEmpty node (#479)
  .changeset/fresh-starfishes-sniff.md
  packages/graph-engine/src/nodes/typing/hasValue.ts
  packages/graph-engine/src/nodes/typing/index.ts
  packages/graph-engine/tests/suites/nodes/array/arrify.test.ts
  packages/graph-engine/tests/suites/nodes/array/flatten.test.ts
  packages/graph-engine/tests/suites/nodes/typing/hasValue.test.ts
  packages/graph-engine/tsconfig.json
  packages/graph-engine/vitest.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix deletable annotation on created subgraph (#481)
  .changeset/quiet-moose-drive.md
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add float curve
  packages/graph-engine/src/nodes/curves/floatCurve.ts
  packages/graph-engine/src/nodes/curves/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

style passthrough and fix icon alignment
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/nodes/passthroughNode.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/odd-singers-run.md
Due: prettier --write

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
