Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix env injection
  packages/graph-engine/web-test-runner.config.mjs
Due: none

Add: Add dropdown
  packages/graph-editor/src/components/toolbar/dropdowns/add.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/layout.tsx
  packages/graph-editor/src/components/toolbar/index.tsx
  packages/ui/src/components/editor/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add basic styling
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/tokens/colors.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Stop setting the settings values
  packages/graph-engine/src/graph/graph.ts
  packages/nodes-image/src/nodes/blur.ts
  packages/nodes-image/src/nodes/gaussianBlur.ts
  packages/nodes-image/src/nodes/grayscale.ts
  packages/nodes-image/src/nodes/morphology.ts
  packages/nodes-image/src/nodes/negate.ts
  packages/nodes-image/src/nodes/oilpaint.ts
  packages/nodes-image/src/nodes/resize.ts
  packages/nodes-image/src/nodes/rotate.ts
  packages/nodes-image/src/nodes/sharpen.ts
  packages/nodes-image/src/nodes/vignette.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Color edges based on type and have better support for showing inline types
  packages/graph-editor/src/components/flow/edges/edge.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/css/reactflow.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issue with blend color
  packages/graph-engine/src/nodes/color/blend.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add more space to node width and height for autolayout
  packages/graph-editor/src/layouts/dagre.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

reduce saturation of type colors, change select color for edges
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/tokens/colors.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

infer type on index (#372)
  .changeset/nine-icons-talk.md
  packages/graph-engine/src/nodes/array/indexArray.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix position and quick search for add dropdown
  packages/graph-editor/src/components/toolbar/dropdowns/add.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix duplicate inputs
  packages/graph-engine/src/programmatic/node.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

requested changes
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/programmatic/input.ts
  packages/graph-engine/src/programmatic/node.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix annotations
  packages/graph-engine/src/graph/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add ts
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[WIP] add token types
  packages/graph-engine/src/schemas/index.ts
  packages/nodes-design-tokens/src/nodes/color/adjustColorChannel.ts
  packages/nodes-design-tokens/src/nodes/color/convertColorSpace.ts
  packages/nodes-design-tokens/src/nodes/color/createColor.ts
  packages/nodes-design-tokens/src/nodes/color/deconstructColor.ts
  packages/nodes-design-tokens/src/nodes/color/index.ts
  packages/nodes-design-tokens/src/nodes/index.ts
  packages/nodes-design-tokens/src/nodes/typography/index.ts
  packages/nodes-design-tokens/src/schemas/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[WIP] add create from hex, deconstruct
  packages/nodes-design-tokens/src/nodes/color/convertColorSpace.ts
  packages/nodes-design-tokens/src/nodes/color/createColorFromHex.ts
  packages/nodes-design-tokens/src/nodes/color/deconstructColor.ts
  packages/nodes-design-tokens/src/nodes/color/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add filter,find and flatten
  .changeset/witty-buckets-prove.md
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/array/filter.ts
  packages/graph-engine/src/nodes/array/find.ts
  packages/graph-engine/src/nodes/array/flatten.ts
  packages/graph-engine/src/nodes/array/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix build errors
  packages/graph-engine/src/nodes/array/filter.ts
  packages/graph-engine/src/nodes/array/find.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix annotations and id clone
  packages/graph-engine/src/annotations/index.ts
  packages/graph-engine/src/graph/graph.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add functional array nodes (#400)
  .changeset/witty-buckets-prove.md
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-engine/src/nodes/array/filter.ts
  packages/graph-engine/src/nodes/array/find.ts
  packages/graph-engine/src/nodes/array/flatten.ts
  packages/graph-engine/src/nodes/array/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add duplication logic (#392)
  packages/graph-editor/src/components/flow/nodes/noteNode.tsx
  packages/graph-editor/src/editor/actions/duplicate.ts
  packages/graph-engine/src/annotations/index.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/generic/subgraph.ts
  packages/graph-engine/src/programmatic/input.ts
  packages/graph-engine/src/programmatic/node.ts
  packages/graph-engine/src/programmatic/output.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixes compare color node crashing (#373)
  .changeset/flat-boats-exist.md
  packages/graph-editor/src/components/preview/colorCompare.tsx
  packages/graph-engine/src/nodes/preview/colorCompare.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add zoom , minor cleanup on styling
  packages/graph-editor/src/components/toolbar/dropdowns/zoom.tsx
  packages/graph-editor/src/components/toolbar/groups/PlayControls.tsx
  packages/graph-editor/src/components/toolbar/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add Action bar (#365)
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/panels/alignment/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/add.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/align.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/help.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/layout.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/zoom.tsx
  packages/graph-editor/src/components/toolbar/groups/PlayControls.tsx
  packages/graph-editor/src/components/toolbar/hooks/useLayoutButton.tsx
  packages/graph-editor/src/components/toolbar/index.tsx
  packages/graph-editor/src/components/toolbar/layoutButtons.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/ui/src/components/editor/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Revert "Add Action bar (#365)"
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/panels/alignment/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/add.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/align.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/help.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/layout.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/zoom.tsx
  packages/graph-editor/src/components/toolbar/groups/PlayControls.tsx
  packages/graph-editor/src/components/toolbar/hooks/useLayoutButton.tsx
  packages/graph-editor/src/components/toolbar/index.tsx
  packages/graph-editor/src/components/toolbar/layoutButtons.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/ui/src/components/editor/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Revert "Add Action bar (#365)" (#401)
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/panels/alignment/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/add.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/align.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/help.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/layout.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/zoom.tsx
  packages/graph-editor/src/components/toolbar/groups/PlayControls.tsx
  packages/graph-editor/src/components/toolbar/hooks/useLayoutButton.tsx
  packages/graph-editor/src/components/toolbar/index.tsx
  packages/graph-editor/src/components/toolbar/layoutButtons.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/ui/src/components/editor/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Action bar (#402)
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-editor/src/components/panels/alignment/index.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/add.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/align.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/help.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/layout.tsx
  packages/graph-editor/src/components/toolbar/dropdowns/zoom.tsx
  packages/graph-editor/src/components/toolbar/groups/PlayControls.tsx
  packages/graph-editor/src/components/toolbar/hooks/useLayoutButton.tsx
  packages/graph-editor/src/components/toolbar/index.tsx
  packages/graph-editor/src/components/toolbar/layoutButtons.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/ui/src/components/editor/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Deploy into alpha from post-joren branch
  .gimlet/graph-engine.yaml
  .github/workflows/gimlet.yml
Due: none

Deploy into alpha from post-joren branch (#414)
  .gimlet/graph-engine.yaml
  .github/workflows/gimlet.yml
Due: none

add keyboard shortcut for showing values
  .changeset/fluffy-pants-yell.md
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/redux/models/settings.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup graph
  packages/storybook-react/package.json
  packages/ui/package.json
  packages/ui/src/app/dashboard/page.tsx
  packages/ui/src/components/editor/data.ts
  packages/ui/src/components/editor/menu.tsx
  packages/ui/src/components/panels/codeEditor.tsx
  packages/ui/src/components/panels/fs.tsx
  packages/ui/src/components/panels/remoteStorage.tsx
  packages/ui/src/components/panels/websocket.tsx
  packages/ui/src/lib/storage/providers/base.ts
  packages/ui/src/lib/storage/providers/git.ts
  packages/ui/src/lib/storage/providers/github.ts
  packages/ui/src/lib/storage/providers/types.ts
  packages/ui/src/lib/storage/utils.ts
  packages/ui/src/pages/index.tsx
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/root.ts
  packages/ui/src/redux/models/storage.ts
  packages/ui/src/redux/store.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Remove Blend, fix color spaces, add lighten, darken and mix node
  .changeset/weak-pugs-sneeze.md
  packages/graph-engine/src/nodes/color/blend.ts
  packages/graph-engine/src/nodes/color/convert.ts
  packages/graph-engine/src/nodes/color/create.ts
  packages/graph-engine/src/nodes/color/darken.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/lib/darken.ts
  packages/graph-engine/src/nodes/color/lib/lighten.ts
  packages/graph-engine/src/nodes/color/lib/mix.ts
  packages/graph-engine/src/nodes/color/lib/modifyColor.ts
  packages/graph-engine/src/nodes/color/lib/types.ts
  packages/graph-engine/src/nodes/color/lighten.ts
  packages/graph-engine/src/nodes/color/mix.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove color space legacy
  packages/graph-engine/src/nodes/color/darken.ts
  packages/graph-engine/src/nodes/color/lighten.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rename dataMapping to rangeMapping
  .changeset/metal-garlics-refuse.md
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/nodes/math/rangeMapping.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

throw an error on division by 0
  packages/graph-engine/src/nodes/math/rangeMapping.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove foreignObject from edge end
  packages/graph-editor/src/components/flow/edges/edge.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

revert changes in blend node
  packages/graph-engine/src/nodes/color/blend.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
