Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update layout.tsx
  packages/ui/src/app/layout.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update layout.tsx (#487)
  packages/ui/src/app/layout.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix linting issues
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/nodes/passthroughNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add inject item node
  .changeset/mean-wolves-allow.md
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/inject.ts
  packages/graph-engine/src/programmatic/port.ts
  packages/graph-engine/tests/suites/nodes/array/inject.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Format
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/contextMenus/paneContextMenu.tsx
  packages/graph-editor/src/components/contextMenus/selectionContextMenu.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/panels/inputs/index.tsx
  packages/graph-editor/src/components/panels/output/index.tsx
  packages/graph-editor/src/components/panels/settings/index.tsx
  packages/graph-editor/src/components/panels/shortcuts/index.tsx
  packages/graph-editor/src/components/panels/unified/index.tsx
  packages/graph-editor/src/components/portPanel/index.tsx
  packages/graph-editor/src/context/graph.tsx
  packages/graph-editor/src/editor/actions/connect.ts
  packages/graph-editor/src/editor/actions/copyNodes.tsx
  packages/graph-editor/src/editor/actions/duplicate.ts
  packages/graph-editor/src/editor/actions/provider.tsx
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/layoutController.tsx
  packages/graph-editor/src/hooks/useIsValidConnection.ts
  packages/graph-editor/src/redux/models/graph.ts
  packages/graph-editor/src/redux/models/registry.ts
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-editor/src/redux/selectors/settings.ts
  packages/graph-editor/src/registry/control.tsx
  packages/graph-editor/src/registry/specifics.tsx
  packages/graph-editor/src/types/index.ts
  packages/graph-editor/vite.config.ts
  packages/graph-engine/src/capabilities/dataflow.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Move execute out of the dataflow capability
  packages/graph-engine/src/capabilities/dataflow.ts
  packages/vscode-example-workspace/nodes/example/metadata.yaml
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Extract the execute function out of the dataflow engine
  packages/graph-engine/src/capabilities/dataflow.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add inject item node (#491)
  .changeset/mean-wolves-allow.md
  packages/graph-engine/src/nodes/array/arraySubgraph.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/array/inject.ts
  packages/graph-engine/src/programmatic/port.ts
  packages/graph-engine/tests/suites/nodes/array/inject.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

UI updates (#488)
  .changeset/odd-singers-run.md
  packages/graph-editor/src/components/commandPalette/index.tsx
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/flow/handles.tsx
  packages/graph-editor/src/components/flow/nodes/passthroughNode.tsx
  packages/graph-editor/src/components/flow/wrapper/nodeV2.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Seperate out play controls and controlflow
  packages/graph-engine/src/capabilities/controlFlow.ts
  packages/graph-engine/src/capabilities/dataflow.ts
  packages/graph-engine/src/capabilities/hybridFlow.ts
  packages/graph-engine/src/capabilities/playState.ts
  packages/graph-engine/src/programmatic/nodes/playControl.ts
  packages/vscode-example-workspace/metadata.yaml
  packages/vscode-example-workspace/nodes/example/metadata.yaml
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add repobeats
  readme.md
Due: prettier --write

Fix issue with saving types on the UI, add previews
  .changeset/rude-tables-happen.md
  packages/graph-engine/src/graph/graph.ts
  packages/nodes-design-tokens/src/nodes/create.ts
  packages/ui/package.json
  packages/ui/src/api/schemas/graph.ts
  packages/ui/src/app/preview/clientPage.tsx
  packages/ui/src/app/preview/page.tsx
  packages/ui/src/assets/svgs/angular.svg
  packages/ui/src/assets/svgs/js.svg
  packages/ui/src/assets/svgs/react.svg
  packages/ui/src/assets/svgs/solid.svg
  packages/ui/src/assets/svgs/svelte.svg
  packages/ui/src/assets/svgs/vue.svg
  packages/ui/src/components/editor/panels/preview.tsx
  packages/ui/src/components/editor/toolbar.tsx
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/components/preview/preview.css
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix issue with saving types on the UI, add previews (#493)
  .changeset/rude-tables-happen.md
  packages/graph-engine/src/graph/graph.ts
  packages/nodes-design-tokens/src/nodes/create.ts
  packages/ui/package.json
  packages/ui/src/api/schemas/graph.ts
  packages/ui/src/app/preview/clientPage.tsx
  packages/ui/src/app/preview/page.tsx
  packages/ui/src/assets/svgs/angular.svg
  packages/ui/src/assets/svgs/js.svg
  packages/ui/src/assets/svgs/react.svg
  packages/ui/src/assets/svgs/solid.svg
  packages/ui/src/assets/svgs/svelte.svg
  packages/ui/src/assets/svgs/vue.svg
  packages/ui/src/components/editor/panels/preview.tsx
  packages/ui/src/components/editor/toolbar.tsx
  packages/ui/src/components/preview/index.tsx
  packages/ui/src/components/preview/preview.css
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Remove bundling
  .changeset/curly-pianos-juggle.md
  packages/graph-editor/package.json
  packages/graph-editor/postcss.config.js
  packages/graph-editor/scripts/extractVersion.mjs
  packages/graph-editor/src/components/ErrorBoundaryContent.tsx
  packages/graph-editor/src/components/controls/any.tsx
  packages/graph-editor/src/components/controls/array.tsx
  packages/graph-editor/src/components/controls/color.tsx
  packages/graph-editor/src/components/controls/enumerated.tsx
  packages/graph-editor/src/components/debugger/index.scss
  packages/graph-editor/src/components/debugger/index.tsx
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/actions/provider.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/hooks/useIsValidConnection.ts
  packages/graph-editor/src/hooks/useSetCurrentNode.tsx
  packages/graph-editor/src/index.scss
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-editor/tsconfig.prod.json
  packages/graph-editor/tsup.config.ts
  packages/graph-engine/src/graph/graph.ts
  packages/ui/src/components/editor/toolbar.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Remove bundling (#494)
  .changeset/curly-pianos-juggle.md
  packages/graph-editor/package.json
  packages/graph-editor/postcss.config.js
  packages/graph-editor/scripts/extractVersion.mjs
  packages/graph-editor/src/components/ErrorBoundaryContent.tsx
  packages/graph-editor/src/components/controls/any.tsx
  packages/graph-editor/src/components/controls/array.tsx
  packages/graph-editor/src/components/controls/color.tsx
  packages/graph-editor/src/components/controls/enumerated.tsx
  packages/graph-editor/src/components/debugger/index.scss
  packages/graph-editor/src/components/debugger/index.tsx
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/actions/provider.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-editor/src/hooks/useIsValidConnection.ts
  packages/graph-editor/src/hooks/useSetCurrentNode.tsx
  packages/graph-editor/src/index.scss
  packages/graph-editor/src/index.tsx
  packages/graph-editor/src/registry/inputControls.tsx
  packages/graph-editor/tsconfig.prod.json
  packages/graph-editor/tsup.config.ts
  packages/graph-engine/src/graph/graph.ts
  packages/ui/src/components/editor/toolbar.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Upgrade to node 20
  .github/workflows/npm-release.yml
  .github/workflows/pr-ci.yml
  packages/documentation/Dockerfile
  packages/ui/Dockerfile
Due: none

Feat/remove bundling (#495)
  .github/workflows/npm-release.yml
  .github/workflows/pr-ci.yml
  packages/documentation/Dockerfile
  packages/ui/Dockerfile
Due: none

Change build ordering to wait for postcss
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

Fix Postcss build (#496)
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

Fix missing style exports
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

Fix style export (#497)
  packages/graph-editor/package.json
Due: npx prettier-package-json --write package.json

Fix some issues with broadcast issues and sandpack
  packages/ui/package.json
  packages/ui/src/api/schemas/graph.ts
  packages/ui/src/app/editor/[id]/clientPage.tsx
  packages/ui/src/app/preview/page.tsx
  packages/ui/src/components/editor/panels/preview.tsx
  packages/ui/src/components/preview/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix bundling
  .changeset/seven-experts-stare.md
  packages/nodes-design-tokens/package.json
  packages/nodes-design-tokens/src/nodes/createBorderToken.ts
  packages/nodes-design-tokens/src/nodes/createBoxShadowToken.ts
  packages/nodes-design-tokens/tsconfig.json
  packages/nodes-design-tokens/tsconfig.prod.json
  packages/nodes-design-tokens/tsconfig.prod.tsbuildinfo
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix bundling (#498)
  .changeset/seven-experts-stare.md
  packages/nodes-design-tokens/package.json
  packages/nodes-design-tokens/src/nodes/createBorderToken.ts
  packages/nodes-design-tokens/src/nodes/createBoxShadowToken.ts
  packages/nodes-design-tokens/tsconfig.json
  packages/nodes-design-tokens/tsconfig.prod.json
  packages/nodes-design-tokens/tsconfig.prod.tsbuildinfo
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update version of ui package
  .changeset/moody-mice-chew.md
  packages/nodes-design-tokens/.gitignore
  packages/nodes-design-tokens/tsconfig.prod.tsbuildinfo
  packages/ui/package.json
  yarn.lock
Due: prettier --write, npx prettier-package-json --write package.json

Cleanup tokens build
  packages/ui/package.json
  packages/ui/src/app/registry.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add deconstruct and construct float curve
  packages/graph-engine/src/nodes/curves/constructFloatCurve.ts
  packages/graph-engine/src/nodes/curves/deconstructFloatCurve.ts
  packages/graph-engine/src/nodes/curves/index.ts
  packages/graph-engine/src/schemas/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

move to using the colorSpaces provided by colorjs
  packages/graph-engine/src/nodes/color/colorToString.ts
  packages/graph-engine/src/nodes/color/convert.ts
  packages/graph-engine/src/nodes/color/create.ts
  packages/graph-engine/src/nodes/color/darken.ts
  packages/graph-engine/src/nodes/color/deconstruct.ts
  packages/graph-engine/src/nodes/color/lib/spaces.ts
  packages/graph-engine/src/nodes/color/lib/types.ts
  packages/graph-engine/src/nodes/color/lighten.ts
  packages/graph-engine/src/nodes/color/mix.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/shaggy-readers-shout.md
Due: prettier --write

format
  packages/graph-engine/src/nodes/color/lib/spaces.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add support for all colorjs color spaces (#501)
  .changeset/shaggy-readers-shout.md
  packages/graph-engine/src/nodes/color/colorToString.ts
  packages/graph-engine/src/nodes/color/convert.ts
  packages/graph-engine/src/nodes/color/create.ts
  packages/graph-engine/src/nodes/color/darken.ts
  packages/graph-engine/src/nodes/color/deconstruct.ts
  packages/graph-engine/src/nodes/color/lib/spaces.ts
  packages/graph-engine/src/nodes/color/lib/types.ts
  packages/graph-engine/src/nodes/color/lighten.ts
  packages/graph-engine/src/nodes/color/mix.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Merge conflicts
  .changeset/eight-pans-reflect.md
  packages/graph-engine/tsconfig.prod.json
  packages/migrations/tsconfig.prod.json
  packages/nodes-audio/tsconfig.prod.json
  packages/nodes-fs/tsconfig.prod.json
  packages/nodes-image/tsconfig.prod.json
Due: prettier --write

Move ts patch to root
  package.json
  packages/graph-editor/package.json
  packages/graph-engine/package.json
  packages/migrations/package.json
  packages/nodes-audio/package.json
  packages/nodes-design-tokens/package.json
  packages/nodes-fs/package.json
  packages/nodes-image/package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

Fix testing
  packages/graph-engine/tests/suites/nodeUsage.test.ts
  packages/graph-engine/tests/suites/nodes/array/arrify.test.ts
  packages/graph-engine/tests/suites/nodes/array/flatten.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
