Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

removed stitches import
  packages/vscode-extension/app/src/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

resolving commit issues
  package-lock.json
  packages/yo-generator/.editorconfig
  packages/yo-generator/.eslintignore
  packages/yo-generator/.eslintrc.cjs
  packages/yo-generator/.gitattributes
  packages/yo-generator/.gitignore
  packages/yo-generator/.prettierignore
  packages/yo-generator/LICENSE
  packages/yo-generator/__tests__/app.js
  packages/yo-generator/generators/app/index.js
  packages/yo-generator/generators/app/templates/.gitignore.txt
  packages/yo-generator/generators/app/templates/.gitkeep
  packages/yo-generator/generators/app/templates/.tsgraphrc
  packages/yo-generator/generators/app/templates/metadata.json
  packages/yo-generator/generators/app/templates/nodes/example/index.ts
  packages/yo-generator/generators/app/templates/package.json
  packages/yo-generator/generators/app/templates/readme.md
  packages/yo-generator/generators/app/templates/tsconfig.json
  packages/yo-generator/generators/app/templates/user.json
  packages/yo-generator/generators/app/templates/vite.config.ts
  packages/yo-generator/package.json
  packages/yo-generator/readme.md
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fixed centering of EmptyStateEditor (#1612)
  packages/ui/src/components/EmptyStateEditor.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

added changeset
  .changeset/funny-bulldogs-retire.md
Due: prettier --write

Fixed centering of EmptyStateEditor (#540)
  .changeset/funny-bulldogs-retire.md
  packages/ui/src/components/EmptyStateEditor.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove transform scripts
  package.json
Due: npx prettier-package-json --write package.json

address comments
  packages/graph-editor/src/components/DndList.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format
  packages/graph-editor/src/components/DndList.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Don't do type checking in the ui
  packages/ui/package.json
Due: npx prettier-package-json --write package.json

fix css for node style
  .changeset/twelve-peas-build.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/debugger/index.css
  packages/graph-editor/src/components/flow/handles.module.css
  packages/graph-editor/src/components/menubar/index.tsx
  packages/graph-editor/src/css/base.css
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/index.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix debugger import
  packages/graph-editor/src/components/debugger/index.css
  packages/graph-editor/src/components/debugger/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove postcss-scss
  yarn.lock
Due: none

fix scss
  packages/graph-editor/postcss.config.js
  packages/ui/src/app/layout.tsx
  packages/ui/src/styles/styles.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix css for node style (#567)
  .changeset/twelve-peas-build.md
  packages/graph-editor/package.json
  packages/graph-editor/postcss.config.js
  packages/graph-editor/src/components/debugger/index.css
  packages/graph-editor/src/components/debugger/index.scss
  packages/graph-editor/src/components/debugger/index.tsx
  packages/graph-editor/src/components/flow/handles.module.css
  packages/graph-editor/src/components/menubar/index.tsx
  packages/graph-editor/src/css/base.css
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/index.css
  packages/ui/src/app/layout.tsx
  packages/ui/src/styles/styles.css
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix issue with missing classname
  .changeset/real-radios-love.md
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix issue with missing classname (#568)
  .changeset/real-radios-love.md
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/layoutController.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

change base to default for DS update
  .changeset/nine-scissors-remain.md
  packages/graph-editor/src/components/NodeHoverCard.module.css
  packages/graph-editor/src/components/commandPalette/index.module.css
  packages/graph-editor/src/components/curveEditor/override.css
  packages/graph-editor/src/components/flow/handles.module.css
  packages/graph-editor/src/components/flow/wrapper/base.module.css
  packages/graph-editor/src/components/slider/index.module.css
Due: prettier --write

update package
  packages/graph-editor/package.json
  packages/ui/package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

change base to default for DS update (#570)
  .changeset/nine-scissors-remain.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/NodeHoverCard.module.css
  packages/graph-editor/src/components/commandPalette/index.module.css
  packages/graph-editor/src/components/curveEditor/override.css
  packages/graph-editor/src/components/flow/handles.module.css
  packages/graph-editor/src/components/flow/wrapper/base.module.css
  packages/graph-editor/src/components/slider/index.module.css
  packages/ui/package.json
  yarn.lock
Due: prettier --write, npx prettier-package-json --write package.json

Pin specific version of node to pre openssl break
  packages/ui/Dockerfile
Due: none

Fix/openssl (#574)
  packages/ui/Dockerfile
Due: none

Revert "Fix/openssl (#574)"
  packages/ui/Dockerfile
Due: none

Revert "Fix/openssl (#574)" (#575)
  packages/ui/Dockerfile
Due: none

Pin specific version of node to pre openssl break (#576)
  packages/ui/Dockerfile
Due: none

fix css bugs
  .changeset/good-waves-rhyme.md
  packages/graph-editor/src/components/flow/wrapper/base.module.css
  packages/graph-editor/src/components/flow/wrapper/nodeV2.module.css
  packages/graph-editor/src/components/panels/dropPanel/NodeEntry.tsx
  packages/graph-editor/src/components/toolbar/toolbar.module.css
  packages/graph-editor/src/css/rc-dock.css
  packages/graph-editor/src/css/reactflow.css
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/index.css
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove base import
  packages/graph-editor/src/index.css
Due: none

add range node
  .changeset/tiny-monkeys-jam.md
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/range.ts
  packages/graph-engine/tests/suites/nodes/color/range.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add scope by type node
  .changeset/thick-lemons-obey.md
  packages/nodes-figma/src/nodes/index.ts
  packages/nodes-figma/src/nodes/scopeByType.ts
  packages/nodes-figma/tests/scopeByType.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add new string nodes
  .changeset/new-string-nodes.md
  packages/documentation/docs/nodes/string/lowercase.mdx
  packages/graph-editor/src/data/version.ts
  packages/graph-engine/src/nodes/string/case.ts
  packages/graph-engine/src/nodes/string/index.ts
  packages/graph-engine/src/nodes/string/normalize.ts
  packages/graph-engine/src/nodes/string/replace.ts
  packages/graph-engine/tests/suites/nodes/string/case.test.ts
  packages/graph-engine/tests/suites/nodes/string/normalize.test.ts
  packages/graph-engine/tests/suites/nodes/string/replace.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add search nodes
  .changeset/modern-moons-roll.md
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/nodes/logic/compare.ts
  packages/graph-engine/src/nodes/search/findFirst.ts
  packages/graph-engine/src/nodes/search/index.ts
  packages/graph-engine/src/nodes/search/linear.ts
  packages/graph-engine/src/schemas/operators.ts
  packages/graph-engine/tests/suites/nodes/search/findFirst.test.ts
  packages/graph-engine/tests/suites/nodes/search/linear.test.ts
  packages/ui/src/components/editor/panelItems.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add smooth shadow
  packages/nodes-design-tokens/src/nodes/index.ts
  packages/nodes-design-tokens/src/nodes/shadow/index.ts
  packages/nodes-design-tokens/src/nodes/shadow/smoothShadow.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fixed Color To String missing 'hex' from output dropdown
  .changeset/pink-eels-rule.md
  packages/graph-editor/src/components/contextMenus/nodeContextMenu.tsx
  packages/graph-editor/src/components/hotKeys/index.tsx
  packages/graph-editor/src/components/panels/dropPanel/data.tsx
  packages/graph-editor/src/data/version.ts
  packages/graph-editor/src/editor/graph.tsx
  packages/graph-editor/src/registry/icon.tsx
  packages/graph-editor/src/utils/index.ts
  packages/graph-engine/src/graph/graph.ts
  packages/graph-engine/src/nodes/color/colorToString.ts
  packages/graph-engine/src/utils/index.ts
  packages/nodes-design-tokens/src/nodes/utils/sizeScales.ts
  packages/nodes-design-tokens/src/utils/index.ts
  packages/nodes-figma/src/utils/tokenMerge.ts
  packages/nodes-figma/tests/codeSyntax.test.ts
  packages/nodes-image/src/capabilities/wasmLoader.ts
  packages/nodes-image/src/nodes/autoLevel.ts
  packages/nodes-image/src/nodes/autoOrient.ts
  packages/nodes-image/src/nodes/blur.ts
  packages/nodes-image/src/nodes/charcoal.ts
  packages/nodes-image/src/nodes/compose.ts
  packages/nodes-image/src/nodes/dither.ts
  packages/nodes-image/src/nodes/flip.ts
  packages/nodes-image/src/nodes/flop.ts
  packages/nodes-image/src/nodes/gaussianBlur.ts
  packages/nodes-image/src/nodes/grayscale.ts
  packages/nodes-image/src/nodes/morphology.ts
  packages/nodes-image/src/nodes/negate.ts
  packages/nodes-image/src/nodes/oilpaint.ts
  packages/nodes-image/src/nodes/resize.ts
  packages/nodes-image/src/nodes/rotate.ts
  packages/nodes-image/src/nodes/seperate.ts
  packages/nodes-image/src/nodes/sepia.ts
  packages/nodes-image/src/nodes/sharpen.ts
  packages/nodes-image/src/nodes/solarize.ts
  packages/nodes-image/src/nodes/vignette.ts
  packages/storybook-react/scripts/dev.ts
  packages/vscode-extension/src/graphProvider.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Typo
  packages/ui/src/api/middleware.ts/auth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Typo (#588)
  packages/ui/src/api/middleware.ts/auth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Path conditions:
  eslint --resolve-plugins-relative-to . --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
