Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
  "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.tsx": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["npx prettier-package-json --write package.json"]
}

Add regex to select tokens
  packages/graph-editor/src/components/flow/nodes/sets/extractTokensNode.tsx
  packages/graph-engine/src/nodes/set/extractTokens.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/seven-eels-ring.md
Due: prettier --write

add deltaE distance
  packages/graph-editor/src/components/flow/nodes/color/nearestNode.tsx
  packages/graph-engine/src/nodes/color/nearest.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add support for ESM
  .changeset/hungry-trees-report.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/groupNode.tsx
  packages/graph-editor/src/components/flow/nodes/array/arrayIndex.tsx
  packages/graph-editor/src/components/flow/nodes/hooks/useIsValidConnection.ts
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/set/extractSingleToken.ts
  packages/graph-engine/src/nodes/set/extractTokens.ts
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Fix esm (#139)
  .changeset/fresh-crews-report.md
  .changeset/hungry-trees-report.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/groupNode.tsx
  packages/graph-editor/src/components/flow/nodes/array/arrayIndex.tsx
  packages/graph-editor/src/components/flow/nodes/hooks/useIsValidConnection.ts
  packages/graph-editor/src/components/flow/wrapper/node.tsx
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/set/extractSingleToken.ts
  packages/graph-engine/src/nodes/set/extractTokens.ts
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix: packages/ui/package.json to reduce vulnerabilities
  packages/ui/package.json
Due: npx prettier-package-json --write package.json

add color name node
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/color/colorNameNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/name.ts
  packages/graph-engine/src/types.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add changeset
  .changeset/honest-baboons-crash.md
Due: prettier --write

Minor import fixes
  packages/graph-editor/src/components/flow/nodes/array/arrayIndex.tsx
  packages/graph-engine/src/nodes/color/extract.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update dependencies
  packages/graph-editor/package.json
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-engine/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add color name node (#142)
  .changeset/honest-baboons-crash.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/color/colorNameNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/name.ts
  packages/graph-engine/src/types.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Cleanup deps
  packages/graph-editor/src/components/CommandPalette.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add changeset
  .changeset/dry-beers-retire.md
Due: prettier --write

Update deps (#144)
  .changeset/dry-beers-retire.md
  packages/graph-editor/package.json
  packages/graph-editor/src/components/CommandPalette.tsx
  packages/graph-editor/src/components/flow/DropPanel/DropPanel.tsx
  packages/graph-editor/src/context/ExternalDataContext.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Nearest from array (#137)
  .changeset/dry-dots-attend.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/color/nearestNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/sets/extractSingleTokenNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensHandles.tsx
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/name.ts
  packages/graph-engine/src/nodes/color/nearest.ts
  packages/graph-engine/src/types.ts
  packages/ui/src/components/EmptyStateEditor.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Cleanup
  packages/graph-editor/src/components/flow/nodes/sets/extractSingleTokenNode.tsx
  packages/graph-editor/src/components/flow/nodes/string/join.tsx
  packages/graph-editor/src/components/flow/nodes/string/split.tsx
  packages/graph-editor/src/components/flow/preview/array.tsx
  packages/graph-editor/src/components/flow/preview/boolean.tsx
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/src/nodes/string/join.ts
  packages/graph-engine/src/nodes/string/split.ts
  packages/ui/src/components/EmptyStateEditor.tsx
  packages/ui/src/components/editor/index.tsx
  packages/ui/src/components/editorMenu/index.tsx
  packages/ui/src/redux/models/ui.ts
  packages/ui/src/redux/selectors/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Split string (#136)
  .changeset/thick-bananas-divide.md
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/string/split.tsx
  packages/graph-editor/src/components/flow/preview/array.tsx
  packages/graph-editor/src/components/flow/preview/boolean.tsx
  packages/graph-engine/src/nodes/string/index.ts
  packages/graph-engine/src/nodes/string/join.ts
  packages/graph-engine/src/nodes/string/split.ts
  packages/graph-engine/src/types.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update changes
  packages/graph-editor/src/components/flow/preview/array.tsx
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

[Snyk] Security upgrade next from 13.3.0 to 13.5.0 (#140)
  packages/graph-editor/src/components/flow/preview/array.tsx
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Adding regex for select tokens (#138)
  .changeset/seven-eels-ring.md
  packages/graph-editor/src/components/flow/nodes/sets/extractTokensNode.tsx
  packages/graph-engine/src/nodes/set/extractTokens.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: build
  packages/graph-engine/src/graph/graph.ts
  packages/ui/src/examples/card.json
  packages/ui/src/examples/contrast.json
  packages/ui/src/examples/scale.json
  packages/ui/src/pages/permutations/index.tsx
  packages/ui/src/types/file.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix extract single token
  .changeset/shiny-jeans-check.md
  packages/graph-editor/src/components/flow/nodes/sets/extractSingleTokenNode.tsx
  packages/graph-engine/src/nodes/set/extractSingleToken.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update editor props
  .changeset/giant-wasps-breathe.md
  packages/graph-editor/src/components/flow/nodes/sets/extractTokensNode.tsx
  packages/graph-editor/src/context/OutputContext.tsx
  packages/graph-editor/src/editor/editorTypes.ts
  packages/graph-editor/src/editor/index.tsx
  packages/graph-engine/src/core.ts
  packages/migrations/tests/data/processed/basic.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add new nodes
  packages/graph-editor/src/components/ColorPicker.tsx
  packages/graph-editor/src/components/ColorPickerPopover.tsx
  packages/graph-editor/src/components/flow/DropPanel/PanelItems.tsx
  packages/graph-editor/src/components/flow/nodes/accessibility/contrastNode.tsx
  packages/graph-editor/src/components/flow/nodes/color/scaleNode.tsx
  packages/graph-editor/src/components/flow/nodes/color/setColorValueNode.tsx
  packages/graph-editor/src/components/flow/nodes/index.ts
  packages/graph-editor/src/components/flow/nodes/input/constantNode.tsx
  packages/graph-engine/src/nodes/accessibility/contrast.ts
  packages/graph-engine/src/nodes/color/colorCalculationNew
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/color/set-color-value.ts
  packages/graph-engine/src/types.ts
  packages/ui/src/components/Preview.tsx
  packages/ui/src/pages/index.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update zustand
  .changeset/good-mayflies-joke.md
  .changeset/mean-countries-prove.md
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/remapNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensNode.tsx
  packages/graph-engine/src/nodes/set/externalTokens.ts
  packages/graph-engine/src/nodes/set/inlineTokens.ts
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update zustand (#154)
  .changeset/good-mayflies-joke.md
  .changeset/mean-countries-prove.md
  packages/graph-editor/src/components/flow/nodes/sets/ExternalSetNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/remapNode.tsx
  packages/graph-editor/src/components/flow/nodes/sets/tokensNode.tsx
  packages/graph-engine/src/nodes/set/externalTokens.ts
  packages/graph-engine/src/nodes/set/inlineTokens.ts
  packages/ui/package.json
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix weird obscure spread bug and change output of set
  .changeset/chilly-walls-cough.md
  packages/graph-editor/src/components/Settings.tsx
  packages/graph-editor/src/components/flow/nodes/input/spreadNode.tsx
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-engine/jest.config.ts
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/set/externalTokens.ts
  packages/graph-engine/src/nodes/set/inlineTokens.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Feat/expose set object (#156)
  .changeset/chilly-walls-cough.md
  .changeset/good-mayflies-joke.md
  .changeset/mean-countries-prove.md
  packages/graph-editor/src/components/Settings.tsx
  packages/graph-editor/src/components/flow/nodes/input/spreadNode.tsx
  packages/graph-editor/src/redux/models/settings.ts
  packages/graph-engine/jest.config.ts
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/set/externalTokens.ts
  packages/graph-engine/src/nodes/set/inlineTokens.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Init
  packages/ui/next.config.mjs
  packages/ui/package.json
  packages/ui/src/components/branchSelector/index.tsx
  packages/ui/src/components/branchSelector/switchMenu.tsx
  packages/ui/src/components/footer/index.tsx
  packages/ui/src/components/modal/index.tsx
  packages/ui/src/components/modals/createBranchModal.tsx
  packages/ui/src/components/preview/previewArea.tsx
  packages/ui/src/constants/error.ts
  packages/ui/src/declarations.d.ts
  packages/ui/src/hooks/usePullDialog.tsx
  packages/ui/src/hooks/useRemoteStorage.ts
  packages/ui/src/hooks/useStorage.ts
  packages/ui/src/redux/models/branch.ts
  packages/ui/src/redux/models/index.ts
  packages/ui/src/redux/models/root.ts
  packages/ui/src/redux/models/storage.ts
  packages/ui/src/redux/selectors/states/index.ts
  packages/ui/src/redux/selectors/storage/branchSelector.ts
  packages/ui/src/redux/selectors/storage/index.ts
  packages/ui/src/redux/selectors/storage/showPullDialogSelector.tsx
  packages/ui/src/redux/store.tsx
  packages/ui/src/storage/adapters/git.ts
  packages/ui/src/storage/adapters/github/github.ts
  packages/ui/src/storage/adapters/github/hooks.ts
  packages/ui/src/storage/interfaces/remoteStorage.ts
  packages/ui/src/storage/types/files.ts
  packages/ui/src/storage/types/index.ts
  packages/ui/src/types/index.ts
  packages/ui/src/types/storageType.ts
  packages/ui/src/utils/decodeBase64.ts
  packages/ui/src/utils/isGitProvider.ts
  packages/ui/src/utils/isJsonString.ts
  packages/ui/src/utils/joinPath.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

stash
  packages/ui/src/components/branchSelector/index.tsx
  packages/ui/src/components/modal/index.tsx
  packages/ui/src/components/modals/createBranchModal.tsx
  packages/ui/src/storage/adapters/github/github.ts
  packages/ui/src/storage/adapters/github/hooks.ts
  packages/ui/src/storage/types/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Window manager (#77)
  .changeset/six-laws-design.md
  .changeset/young-dingos-destroy.md
  packages/ui/src/components/modals/info.tsx
  packages/ui/src/pages/_app.tsx
  packages/ui/src/redux/models/root.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

remove apca-w3 from repo
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/accessibility/contrast.ts
  packages/graph-engine/src/nodes/color/contrasting.ts
  packages/graph-engine/src/nodes/color/contrastingFromSet.ts
  packages/graph-engine/src/nodes/color/nearest.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add changeset
  .changeset/thin-gorillas-melt.md
Due: prettier --write

Remove apca w3 (#158)
  .changeset/thin-gorillas-melt.md
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/accessibility/contrast.ts
  packages/graph-engine/src/nodes/color/contrasting.ts
  packages/graph-engine/src/nodes/color/contrastingFromSet.ts
  packages/graph-engine/src/nodes/color/nearest.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

add css props for backdrop-filter and blend-mode
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add user-select prop to css map
  packages/graph-editor/src/components/flow/nodes/output/cssMapNode.tsx
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
